[2018-02-28 20:09] krlmlr commented on #3312
Can we agree on showing a message in this case? The message is easy to turn off (with a `!!sym()` or `!!syms()`), I think there's some potential for confusion otherwise:

[code]

[2018-02-28 20:11] krlmlr commented on #3370
Thanks. I don't understand "hotpatch".

[2018-02-28 20:14] lionel- commented on #3370
This ugly thing here :) https://github.com/tidyverse/tidyselect/blob/master/R/tidyselect.R#L9

Necessary because tidyr uses tidyselect but not dplyr (and now dbplyr uses it as well).

[2018-02-28 20:17] krlmlr commented on #3293
*fuzzyjoin* seems to be removed from CRAN, are you aware of a successor?

[2018-02-28 20:22] krlmlr commented on #3140
This feels sufficiently dangerous that it warrants a message for the next release.

[2018-02-28 20:23] krlmlr commented on #3226
Need to fix the shortcut case in `distinct_vars()`.

[2018-02-28 20:24] sfirke commented on #3346
Nice timing: naniar 0.2.0 is on CRAN now and there is a whole vignette dedicated to the topic of making values into NA.  It has a bunch of variants including running on an entire data.frame.  Granted, it's another package to load, but I don't think there will be a tool more specifically suited to this task than `replace_with_na_all`.

http://naniar.njtierney.com/articles/replace-with-na.html

[2018-02-28 20:40] krlmlr commented on #3370
I still don't understand, tidyr does import dplyr even in v0.8.0.

[2018-02-28 20:43] lionel- commented on #3370
yes but since tidyr uses tidyselect the variable context from the select helpers (which are exported from dplyr) must be the one from tidyselect.

[2018-02-28 20:43] krlmlr commented on #2240
Need to keep in mind that *dbplyr* now translates full joins with `by = c()` as cross joins.

[2018-02-28 20:46] krlmlr commented on #2240
@holstius: In theory we might be able to support any kind of join condition, but it's more difficult to make the join perform fast too. We may want to restrict the set of conditions we support, or add a progress bar ;-)

[2018-02-28 20:52] krlmlr commented on #3187
tidyverse v1.2.1 is on CRAN now, do we still need to update instructions?

[2018-02-28 20:55] krlmlr commented on #2471
@kevinushey: Is *io* going to support a better `source()` function?

[2018-02-28 21:08] krlmlr opened #3383 "Update performance measurements"
per https://github.com/tidyverse/dplyr/issues/2557#issuecomment-288396312, CC @lionel-. Perhaps add tests from tpchr.

[2018-02-28 21:13] apreshill commented on #3346
Thank you both- this totally clears the issue up for me. On my own, I had been using `na_if` only with vectors (usually within a `mutate_if`), but saw several presentations (including at Studio conf) where it was used on a data frame. I was puzzled because I always got an error doing this with my own data, and realized it was because my data frames always had date variables present.

I am developi

[2018-02-28 21:21] krlmlr commented on #3346
Thanks, a PR would be nice! Maybe add the same example to both `na_if()` and `mutate_if()`?

[2018-02-28 21:26] krlmlr commented on #2471
Thanks for the detailed reply! Is the RStudio IDE doing "the right thing" on Windows now? Or would it need to wait for *io*? (I remember this was the reason why this issue is blocked now, but I haven't looked for some time.)

We hand-format everything for tibbles in *pillar* now, so (hopefully) no encoding issues apart from inevitable ones. The *utf8* package does some heavy lifting, too.

[2018-02-28 21:33] romainfrancois commented on #3365
I don’t recall. Why logical ?

[2018-02-28 21:40] krlmlr commented on #3365
Because `logical()` can be coerced to anything, see also https://github.com/tidyverse/tibble/issues/352.

[2018-02-28 21:45] kevinushey commented on #2471
Unfortunately, RStudio's handling of encodings on Windows is not great -- we also inadvertently roundtrip strings through the native encoding on occasion -- but we're trying to tackle these issues as they come up + time permitting.

[2018-02-28 21:48] #3331 closed

[2018-02-28 22:33] hadley commented on #3187
Yes,  I'll do this when I next work on dbplyr.

[2018-03-01 02:46] danielmcauley commented on #3370
@krlmlr I updated tidyselect as you suggested but I am still getting the same error. These are the versions I'm currently running:
`tidyselect_0.2.4 dbplyr_1.2.1 dplyr_0.7.4.2  `

[2018-03-01 05:09] romainfrancois commented on #3365
That makes sense. Not sure why we went for strict error.

[2018-03-01 07:17] krlmlr commented on #3365
Thanks.

@zeehio: Would you like to submit a PR?

[2018-03-01 09:35] jtelleriar commented on #3293
At the company where I work we have GitHub Webpage Blocked, and I cannot check properly this issue.

The point is that if the package has been removed from CRAN, there is even more reason to fork *some* of its functions (as they are) and move them to mainstream dplyr.

I checked them out in the past and they are properly written.

The fuzzyjoin GitHub Repository is at the following link:

https://

[2018-03-01 09:36] lionel- commented on #3370
I don't know what's going on. If you install the dev version it should work though.

[2018-03-01 09:37] jtelleriar commented on #3293
The fuzzyjoin package indeed seems not to be longer actively maintained.

[2018-03-01 11:37] krlmlr opened #3384 "Show grouping information in glimpse()"
Per https://github.com/tidyverse/tibble/issues/280.

[2018-03-01 12:12] batpigandme opened #3385 "Update pkgdown site."
Currently site only goes through dplyr 0.7.1 (per [NEWS/Change log](http://dplyr.tidyverse.org/news/index.html)).

[2018-03-01 14:50] zeehio commented on #3365
I will be happy to submit a PR next week, if you don't mind the delay :smiley:

[2018-03-01 22:46] zeehio commented on #3365
@krlmlr submitted, feel free to review whenever you have the time :smile:  https://github.com/tidyverse/dplyr/pull/3387

[2018-03-01 23:32] djbirke commented on #3380
I have trouble installing the development version.

[code]

Do you have it installed already by any chance? If yes, can you reproduce the behavior?

[2018-03-01 23:54] krlmlr commented on #3380
Installing the development version should work now. Can you please retry?

[2018-03-01 23:58] stufield opened #3388 "Using recode_factor With Quasi-quotation"
I'm trying to implement quasi-quotation with `dplyr::recode_factor()`. I would like to dynamically re-level the factor levels _AND_ map the individual values. In the `reprex` below the original values are `[A, B, C]`s and the levels are `A B C` (default). I would like to map: `A -> Amigo, B -> Be, and C -> Cool` as well as reorder the factor levels to `Be Cool Amigo`. Using `dplyr::recode()` works

[2018-03-02 03:09] edublancas commented on #3238
I can help with this, what is the best way to proceed? Add the clarification at the beginning of the docs, add one example, both?

[2018-03-02 11:52] batpigandme commented on #3388
Hi @stufield,

This sort of question might be a better fit for https://community.rstudio.com until we can figure out if it's really a bug in dplyr. Do you mind asking it over there?

There are more eyes (including some 💪 quasi-quoters) over there, so you'll definitely be able to get an answer more quickly, and, like I said, we can always circle back and reopen the issue here.

Thanks.

[2018-03-02 11:52] #3388 closed

[2018-03-02 14:49] krlmlr commented on #3312
I read https://www.tidyverse.org/articles/2017/09/erratum-tidyr-0.7.0/, I wasn't fully aware of the problem. I still think a message would be a way to make users aware that they are doing something potentially unsafe:

[code]

Either way, this issue belongs in *tidyselect*.

[2018-03-02 14:49] #3312 closed

[2018-03-02 14:55] krlmlr commented on #3312
@jtrecenti: Would you mind opening an issue in *tidyselect* that summarizes and links to this issue?

[2018-03-02 15:02] lionel- commented on #3312
There was already an issue: https://github.com/tidyverse/tidyselect/issues/49

[2018-03-02 15:20] krlmlr commented on #3312
Yes, that issue was based on my lack of understanding of the problem. All I'm suggesting now is to give a message if the user is doing something potentially ambiguous. It's up to you.

[2018-03-02 15:33] lionel- commented on #3312
This ambiguity is general across all data-masking functions in R: `lm()`, `ggplot2::aes()`, tidyr, dplyr, etc. While `select()` is a bit different, I'm wary of making any more change to evaluation.

[2018-03-02 15:50] krlmlr commented on #3293
Good to see it back. Will think about it in the context of #2240.

[2018-03-02 15:50] #3293 closed

[2018-03-02 16:01] mwillumz opened #3389 "Postgres table creation not behaving like RPostgreSQL"
I need to modify the postgres connection ever so slightly to avoid a warning and undesired behavior in a greenplum database. If I don't provide a "distributed by" clause upon table creation the data is loaded according to the first column of the data provided.

With PostgreSQL I am able to accomplish this with the first code chunk below. However, the corresponding approach does not work with the P

[2018-03-02 17:53] jtelleriar commented on #2240
You can find the *fuzzyjoin* package on the following GitHub and CLEAN links:

https://github.com/dgrtwo/fuzzyjoin

https://cran.r-project.org/web/packages/fuzzyjoin/index.html

As stated on GitHub: "The fuzzyjoin package is a variation on dplyr's join operations that allows matching not just on values that match between columns, but on inexact matching".

[2018-03-02 17:53] jtelleriar commented on #2240
CRAN*

[2018-03-02 21:52] #3385 closed

[2018-03-03 12:44] dan87134 opened #3390 "recode_factor does not handle !!!"
A code snippet like this

[code]
produces an error that says !level_key is an invalid argument type

This is the result of a question on https://community.rstudio.com/t/using-recode-factor-with-quasi-quotation/5761/5

Here is a repro

[code]

Created on 2018-03-03 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

The problem is the use of c(...) inside of rcode_factor. Here is my ana

[2018-03-03 14:30] batpigandme commented on #3390
Just adding an example of what we would expect, here:

Expect:
[code]
Get:
[code]
Created on 2018-03-03 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-03 17:15] cderv commented on #3390
for helping with cross reference, this issue is related to #3388 that was asked before and redirected to community.rstudio.com

[2018-03-03 21:22] mdancho84 opened #3391 "Feature Request: count to percent"
It's fairly common to want to turn counts into percentages. In fact, since I made this function I use it all the time... Anyways, it's basically an add-on to `dplyr::count()` that takes a count column and generates percentages by group if desired. Leave empty if not by group. I use it a lot in this blog post - http://www.business-science.io/learning-r/2018/03/03/how_to_learn_R_pt1.html. Let me kno

[2018-03-04 15:12] ShuguangSun commented on #3290
Sorry to re-open it.
R 3.4.3, Rcpp:sourceCpp
Window 7

path/dplyr/include/dplyr/Result/GroupedHybridCall.h:10:22: fatal error: bindrcpp.h: No such file or directory
 #include <bindrcpp.h>

Then I add depends to bindrcpp
// [[Rcpp::depends(dplyr,BH,plogr,bindrcpp)]]
It reports:
path/dplyr/include/dplyr/GroupedDataFrame.h: In constructor 'dplyr::GroupedDataFrame::GroupedDataFrame(SEXP)':
path/dplyr/

[2018-03-05 02:22] Hong-Revo commented on #3362
I can get the same result via base R's `split`, but it's really slow and memory-hungry with lots of tiny groups. Dplyr's `group_by` is super efficient by comparison.

This is only an internal project for now, so I think I'll be okay with sticking to `group_by` even though it's undocumented. Perhaps consider exposing the indices in a future update?

[2018-03-05 09:05] romainfrancois commented on #2080
I'll add this version to the mix to create the Magritte lambda outside of the mutate:

[code]

I've added the `hybrid` label.

[code]

Created on 2018-03-05 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-05 09:06] GegznaV commented on #341
All factors levels and combinations of factors levels must be preserved by default. This behavior can be controled by parameters such as `drop`, `expand`, etc. Thus the default behavior of `dplyr::count()` should be like this:

[code]
Zero length groups (combinations of groups) can be filtered later. But for exploratory analysis we must see the full pictures.

1. Are there any status updates on th

[2018-03-05 09:08] romainfrancois commented on #341
2. yes definitely
1. There are some technical implementation difficulties about this issue, but I'll look into it in the next few weeks.

[2018-03-05 09:41] romainfrancois opened #3392 "BH is noisy"
I get many of these messages when compiling dplyr against:

[code]

Maybe we should define `_LIBCPP_BEGIN_NAMESPACE_STD` or at least find something to quiet it.

[code]

[2018-03-05 09:58] romainfrancois commented on #3392
@krlmlr do you get that too ? Or is this something I need to do with my settings ?

[2018-03-05 13:34] romainfrancois commented on #3349
The issue is these columns are flagged as objects:

[code]

and not the others.

[code]

fix on the way.

[2018-03-05 17:57] romainfrancois commented on #3153
The code at fault comes from #765 and the "feature" I added at the time (https://github.com/tidyverse/dplyr/blob/master/src/arrange.cpp#L48)
 - don't really make sense
 - no longer works

[code]

[2018-03-05 18:27] #3153 closed

[2018-03-05 19:41] krlmlr commented on #3238
Clarification and example would be great. Does this affect `intersect()` and other verbs?

[2018-03-05 19:49] krlmlr commented on #3362
I now see that `group_indices()` is insufficient. We should perhaps implement an accessor that returns both the `"labels"` and the `"indices"` attributes as a nested tibble.

[2018-03-05 19:53] krlmlr commented on #3392
I'll watch out for it. I'm using `gcc --std=c++98` with strict warnings, and I don't recall seeing this.

[2018-03-05 20:36] romainfrancois commented on #3392
Could be a clang thing.

[2018-03-05 21:32] aornugent commented on #2326
This is awesome, thank you.

[2018-03-06 00:23] MichaelChirico commented on #3349
Seems like this will be fixed as a bug in R.

http://r.789695.n4.nabble.com/model-frame-strips-class-as-promised-but-fails-to-strip-OBJECT-in-C-td4748687.html

[2018-03-06 02:18] ablack3 commented on #3236
I'm more than happy to post my code. dplyr + Vertica is a powerful combination that I'd like to get working well for myself and others. I appreciate your help so much, and anything I can do to contribute or give back I'd love to do.

I created the custom ``dp_create_table.Vertica Database`` function but it does not seem to get called when I call `copy_to`.
All I did to get `db_create_table` to wor

[2018-03-06 12:06] Ax3man commented on #3362
Relevant? https://github.com/tidyverse/tidyr/pull/434

[2018-03-06 16:29] leungi opened #3397 "str_detect() translation for dbplyr generates reverse effect in SQL statement"
**Problem**
str_detect() translation for dbplyr generates reverse effect in SQL statement.

Usage: str_detect(string, pattern)

Following the usage above, the equivalent SQL statement generated is INSTR(pattern, string ); the expected SQL statement is INSTR(string, pattern). As a workaround, I'd have to use str_detect() inversely, that is, str_detect(pattern, string) to get the desired result.

[c

[2018-03-06 19:37] JohnMount opened #3398 "Irrelevant columns cause dplyr::transmute() to fail"
Irrelevant columns cause `dplyr::transmute()` to fail.

[code]

Also fails for `dplyr::mutate()`:

[code]

[2018-03-06 20:05] batpigandme commented on #3398
Hi John,

FWIW, it seems to have been resolved in the dev version. I'll obviously leave the issue open, though, for someone who knows more.

[code]
[code]
Created on 2018-03-06 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-06 20:16] JohnMount opened #3399 "summarize_at() fails on database data sources"
`summarize_at()` fails on database data sources.  Also the `one_of()`'s behavior contradicts the `dplyr` documentation.

[code]

Note simpler expressions (such as just `mean(.)`) appear to work.

Also note `tidyselect` does not show up on `sessionInfo()` (though I am up to date on that).

[code]

[2018-03-06 21:52] ablack3 commented on #3236
Ok I created two methods: `db_write_table.Vertica Database` and `db_create_table.Vertica Database`. Now `copy_to` basically works but does throw an error saying "Command ANALYZE is not supported". I'm not familiar with the ANALYZE command and I'm not sure it needs to be called at all. So copy to does succeed in creating a table in the database but also throws an error that would be nice to get rid

[2018-03-06 22:47] edgararuiz commented on #3236
Right, you can remove that step in your custom write and create tables?

[2018-03-07 00:01] #3297 closed

[2018-03-07 00:04] krlmlr commented on #3362
@Ax3man: Looks like a similar problem, perhaps *tidyr* will be a user of this feature here.

[2018-03-07 00:50] zhangchuck opened #3400 "Misleading error message in src_sqlite()"
**Issue**

- The error message when trying to access an existing database is wrong (and misleading)

https://github.com/tidyverse/dplyr/blob/d310ad1cef1c14d770c94e1a9a4c79c888f46af6/R/src_dbi.R#L145-L147

This should read:
[code]

[2018-03-07 16:46] ablack3 commented on #3236
The call to `db_analyze` that produces the error occurs in `db_copy_to` [here](https://github.com/tidyverse/dbplyr/blob/c0e51957a2fbeb4fe7bc93f0ed677d6d33e14828/R/db-compute.R#L33) which I did not overwrite. However if I add `analyze = FALSE` argument when I call `copy_to` it works and does not produce an error.

A couple questions:
Should I create a custom `db_analyze.Vertica Database` method? I

[2018-03-08 06:29] Hong-Revo commented on #3362
From a purely selfish perspective, I'd prefer to see this as a feature of dplyr as opposed to tidyr. This is to avoid increasing the number of dependencies of my package. dplyr is pretty heavyweight already, I'd rather not add to it.

It seems that it would also be fairly easy to implement as part of dplyr. All the hard work has already been done, it's just a matter of documenting it and exporting

[2018-03-09 10:24] Hong-Revo commented on #3362
... and in fact I just updated to dplyr 0.7.4, and the `indices` attribute is gone :(

[2018-03-09 12:42] simonthelwall opened #3401 "rename_all fails with odd characters - possibly smart quotes"
I've been trying to use rename_all to sanitise my column names. However, it fails with an error as below.
[code]
I've tried to narrow it down with `debugonce(rename_all)` and everything works up to line 6 of `rename_all` which is `rename(.tbl, !(!(!syms)))`

The output I would I expect is
[code]

[2018-03-09 12:52] batpigandme commented on #3401
Hi @simonthelwall,

Can you try updating to the dev version of dplyr? I just ran the code you gave above, and it seems to be working as expected `dplyr@27becad` (_i.e._ the dev version).

[code]
Created on 2018-03-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-09 13:27] simonthelwall commented on #3401
Thanks @batpigandme , am failing to install bindrcpp at the moment, will update once I've got that sorted.

[2018-03-09 16:40] simonthelwall commented on #3401
Perfect, yes dev version of dplyr fixes this. Thank you.

[2018-03-09 16:40] #3401 closed

[2018-03-09 16:58] jennybc opened #3402 "bind_cols() gives cryptic error message for unnamed inputs"
[code]

Created on 2018-03-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

Possibly relevant context: I came across this via `purrr::map_dfc()`. So the fact you need names and how/where to inject them is less obvious than the above reprex indicates. Hence a better error message would really pay off.

[2018-03-09 18:23] garrettgman opened #3403 "bind_rows() behaves oddly with list of vectors, but no warning or error"
When given a list of vectors, `bind_rows()` column binds them into a data frame.

I would expect `bind_rows()` to row bind the vectors into a data frame with a single column, or to throw an error. I find it confusing that `bind_rows()` silently proceeds as if it were `bind_cols()` (which admittedly is probably failing in the same way: coercing the list to a data frame and then binding nothing to i

[2018-03-09 18:49] jennybc commented on #3402
Pre-existing report from the `purrr::map_dfc()` world: https://github.com/tidyverse/purrr/issues/395

[2018-03-09 22:59] chunjiw opened #3404 "copy_to() adds '\r' at end of string when copying to MySQL database"
---
For a character column, strings with shorter length will be patched with '\r' at the end. As shown in the following code, the output would be
[code]
I'm using Rstudio on Windows 10, Amazon remote MySQL server.

[code]

[2018-03-10 20:20] fabian-s commented on #2432
We're trying to build a package for "tidy" functional data analysis which definines new data types for function-valued data and are not sure how to proceed since `dplyr` behavior for non-base columns is ... mysterious, especially with grouping.

Can anyone offer some advice on how to design classes for new data types so that they work with current (and future) versions of dplyr?

[2018-03-12 08:34] krlmlr opened #3405 "R CMD check problems"
https://cran.r-project.org/web/checks/check_results_dplyr.html

Need to replicate locally. Also, the note on four UTF-8 marked strings in the data would spoil an overall "OK" result, maybe we can convert the data to ASCII.

[2018-03-12 08:48] krlmlr opened #3406 "Revisit inherits_from()"
- avoid `set_intersection()`, prefer shortcut
- support testing inheritance from one class
- compare `CHARSXP` and not strings
- replace use of `Rf_inherits()` with calls to `inherits_from()`

[2018-03-12 09:01] #3365 closed

[2018-03-12 09:21] krlmlr opened #3407 "Tidy dots in bind_rows(), bind_cols() and combine()"
to resolve ambiguity when these functions are used with just one argument, see https://github.com/tidyverse/dplyr/pull/3387#issuecomment-372076766:

[code]

The first call should also return a list, if unpacking is desired, the user can use `combine(!!!list(1))` (which currently doesn't work).

Implement new verbs, or support a compatibility argument via *pkgconfig*.

[2018-03-12 09:28] #2947 closed

[2018-03-12 09:49] romainfrancois commented on #3351
Same problem as this :

[code]

[2018-03-12 10:03] krlmlr commented on #3351
I just merged a PR from @lionel- that addresses this for `select()` and `rename()`, and also updated documentation. Maybe follow the ideas there and extract common logic to functions?

[2018-03-12 10:04] romainfrancois commented on #3351
Looks like it happens here: https://github.com/tidyverse/dplyr/blob/master/R/colwise.R#L123

where it specifically removes grouping columns.

[2018-03-12 10:12] krlmlr commented on #3398
Thanks @JohnMount for reporting and @batpigandme for looking into it!

[2018-03-12 10:12] #3398 closed

[2018-03-12 10:14] #3298 closed

[2018-03-12 10:24] krlmlr commented on #3391
@hadley: Do we want a verb that computes (weighted) percentages in a new column? I don't have anything better to offer than the suggested `count_to_pct()`.

[2018-03-12 10:43] krlmlr opened #3410 "(rename|select)_(at|if|all) functions should adapt grouping if necessary"
https://github.com/tidyverse/dplyr/pull/3363#discussion_r173745070, CC @lionel-:

Current behavior:

[code]

Desired: Column `a` is renamed to `A`, the grouping is adapted.

We may want to implement this for the 0.7.5 release.

[2018-03-12 10:47] krlmlr commented on #3332
@romainfrancois: Are you by any chance looking into this problem now?

[2018-03-12 10:48] romainfrancois commented on #3332
yes, this is related to #3351

[2018-03-12 10:50] krlmlr commented on #3332
Closing in favor of #3351. @romainfrancois: Can you please double-check if #3351 covers everything raised here?

[2018-03-12 10:50] #3332 closed

[2018-03-12 11:09] krlmlr commented on #3036
Closing, consistency between the grouped and ungrouped cases is now part of the issue linked from above.

[2018-03-12 11:09] #3036 closed

[2018-03-12 11:15] krlmlr commented on #2432
Looks like we still need to wrap our heads around how this will be supported consistently in future dplyr versions. The *vctrs* repo contains some pointers, but nothing production-ready yet, and no clean write-up as far as I remember.

[2018-03-12 11:16] krlmlr commented on #2401
We should do this for a major release to avoid accidental breakages of code that worked before (one way or another).

[2018-03-12 11:20] krlmlr commented on #2967
The error looks different with current rlang, will revisit.

[2018-03-12 12:08] fabian-s commented on #2432
@krlmlr
Thanks for the  quick reply, but to be honest, any pointers I might be able to extract from `vctrs`-code won't really help to make our stuff work in the near term, since development there seems to have been stalled for a long time.
I know it is a lot to ask, but would you be willing to answer some specific questions about how `dplyr`'s `grouped_df`-table verbs evaluate expressions if I wri

[2018-03-12 12:23] hadley commented on #3391
I don't think that this belongs in dplyr - now that you can express this sort of function simply and elegantly using tidy eval, I expect that many dplyr extension packages will arise.

[2018-03-12 12:23] #3391 closed

[2018-03-12 13:36] krlmlr opened #3411 "Add ORCIDs"
CC @lionel- @romainfrancois.

[2018-03-12 13:49] romainfrancois commented on #3411
relevant discussion here: https://github.com/r-lib/usethis/issues/108

Also perhaps either dump my email address from the DESCRIPTION or add the ones from the other authors.

[2018-03-12 14:53] krlmlr opened #3412 "Set up packrat + MRAN to test older CRAN versions"
Starting at 0.5.0, to be able to quickly check if some observed behavior "always" has been that way.

[2018-03-12 15:34] romainfrancois commented on #2568
@krlmlr I'm picking this one up

[2018-03-12 15:38] JohnMount commented on #3405
The checks went red right after `rlang` 0.2.0 was pushed to CRAN https://github.com/r-lib/rlang/commit/01c57762b57e05fabde66c96798d05a275832efd .

[2018-03-12 16:44] mine-cetinkaya-rundel opened #3413 "Can sample_n accept n()?"
The following works for shuffling the observations in a data frame:

[code]

but using `n()` doesn't

[code]

and gives the error `Error: This function should not be called directly`.

For consistency with other dplyr functions it would be nice for the latter to work as well.

[2018-03-12 17:07] romainfrancois commented on #2568
This is definitely a `vctrs` thing. With the current impl of `distinct`:

[code]

it means we need two visitor classes:

 - one `VectorVisitor` that goes in `DataFrameVisitors`
 - one `SubsetVectorVisitor` that goes in the `DataFrameSubsetVisitors`

So until we have a `vctrs` package, I've added some defensive coding to refuse `Period`.
This is better than leaving something that only seemingly wor

[2018-03-12 18:46] romainfrancois commented on #3313
@krlmlr taking this one too.

[2018-03-12 19:26] krlmlr opened #3415 "Apply styler"
When this is closed, rebase your branches with

[code]

assuming `origin` is the tidyverse remote.

[2018-03-12 21:55] #3412 closed

[2018-03-12 22:16] krlmlr commented on #3412
See https://github.com/tidyverse/dplyr/tree/master/archive#dplyr-archive for instructions.

[2018-03-12 22:33] krlmlr commented on #3415
@lionel-: Okay to remove the space after `!!!`?

[2018-03-12 22:48] #3313 closed

[2018-03-12 22:49] krlmlr commented on #3402
Thanks, confirmed.

[2018-03-12 22:54] krlmlr commented on #3403
Thanks, confirmed. The best we can do for this release is to give a message about auto-coercion to a data frame, and document this behavior:

[code]

[2018-03-12 23:08] krlmlr commented on #3405
Thanks. Now testing archive/0.7.4-current with `RDsan` of https://github.com/wch/r-debug.

[2018-03-12 23:43] #3301 closed

[2018-03-12 23:43] krlmlr commented on #3301
Thanks! Saw the same behavior on OS X.

[2018-03-13 00:37] krlmlr commented on #3413
Thanks. This works naturally with `sample_frac()` if the `size` argument is omitted, we could make it work for `sample_n()` (default `size = NULL` means `size = nrow(...)`). I'd rather avoid changing the behavior of `n()` here: that function works only in verbs that implement hybrid evaluation, and the documentation is explicit about it.

[2018-03-13 01:03] krlmlr commented on #3405
Got nowhere with `RDsan`, retrying tomorrow.

[2018-03-13 01:04] krlmlr commented on #3405
@lionel-: If the CRAN failures started to occur with the CRAN release of rlang 0.2.0, could this be an ABI incompatibility of sorts? Have you tried installing rlang < 0.2.0, then dplyr, then rlang 0.2.0?

[2018-03-13 07:20] romainfrancois commented on #3411
maybe that can wait until `roxygen2` knows better how to handle them. https://github.com/klutometis/roxygen/issues/721

[2018-03-13 07:53] JLYJabc opened #3417 "The join operations causes R to crash, when tibble column names are messed up"
# this chunk of code gives a nice error message
[code]
Error: Column 2 must be named

# wheras these lines causes R to crash
[code]

(It also crashes with base::data.frame())

[2018-03-13 08:02] krlmlr commented on #3411
I don't mind the formatting. It's not ideal, but then I doubt many will care. And it will be fixed when *roxygen2* is fixed.

[2018-03-13 08:10] krlmlr commented on #3405
@lionel-: I was confused, I don't think an ABI change causes this, because the package under test is rebuilt with R CMD check. Will look further.

[2018-03-13 09:04] krlmlr commented on #3405
Fixed in 866df05.

[2018-03-13 09:04] #3405 closed

[2018-03-13 09:43] krlmlr commented on #3075
There's another inconsistency between `tally()` and `count()`, which is been present in v0.5.0 already (tested with #3412):

[code]

I propose to stop guessing the weighting variable in `tally()` altogether, partly because it doesn't work as expected if there's an `nn` variable but not an `n` variable. First we change the message, then we warn if there's an `n` variable in the data but no `wt` arg

[2018-03-13 10:06] krlmlr commented on #3307
@romainfrancois: I'll take this.

[2018-03-13 10:10] lionel- commented on #3415
Only if that's how you like it :)

[2018-03-13 10:12] krlmlr commented on #3415
That's how *styler* implements this right now. Removing spaces for now, we can adapt later if we decide that there needs to be a space after `!!!`.

[2018-03-13 10:19] lionel- commented on #3415
I'd prefer not being pressed to chose a style for that operator by automatic tooling, but your call. I'm also not a fan of all the commit noise, I wish there would be a way to mark commits as trivial in git so they don't show up in history/blame by default.

[2018-03-13 10:33] krlmlr commented on #3415
Thanks, noted. Happy to delay pushes to `master`.

I don't have a strong opinion, I just want consistent coding style: https://twitter.com/krlmlr/status/973507164571623425.

[2018-03-13 13:34] batpigandme commented on #3417
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It will help us help you if we can be sure we're all working with/looking at the same stuff.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/). The [reprex dos and don'ts]

[2018-03-13 14:19] JLYJabc commented on #3417
I've updated the post, let me know if it is ok now?
(first time doing this)

[2018-03-13 14:23] hadley commented on #3075
Eliminating guessing is not acceptable to me because it's important that `tally(tally(x))` continue to work and return the correct answer (i.e. the total count)

[2018-03-13 14:31] krlmlr commented on #3075
We agreed to not support guessing in `tally(tally(tally(x)))`, and `tally(count(x))` currently is different from `tally(tally(x))` with respect to guessing. How can we make this a bit more consistent?

[2018-03-13 14:58] batpigandme commented on #3417
Hi @JLYJabc,

OK, so I sent you on a bit of a goose chase, because (since it causes a crash, or, for me, an endless process), it's un-reprex-able.

So, here's a lengthy reprex, printing all but that final step (which isn't in the reprex because, well, see above).

[code]
Created on 2018-03-13 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

After this, the line below ⇨ wonkiness…
[c

[2018-03-13 16:11] #3415 closed

[2018-03-13 17:34] romainfrancois commented on #3417
I can reproduce the endlessness.

[2018-03-13 18:15] romainfrancois commented on #3417
➡️  https://github.com/tidyverse/dplyr/blob/master/src/join_exports.cpp#L83

[2018-03-13 18:42] hadley opened #3418 "Make ntile() work with no `x`"
When called from `mutate()`

[2018-03-13 20:03] krlmlr commented on #3417
I'm working on it as part of #3307.

[2018-03-13 20:23] krlmlr commented on #3418
We can already use `ntile(row_number(), ...)`. What syntax do you propose?

[code]

[2018-03-13 21:13] hadley commented on #3418
Set `row_number()` as the first argument, so you can just write `ntile(n = 7)`

[2018-03-13 22:11] romainfrancois commented on #3255
Is this then going to be even more expensive than it is already ?

[2018-03-13 22:12] krlmlr commented on #3255
This check would be run only once, not once per group.

[2018-03-13 22:16] romainfrancois commented on #3255
Sure. So  there are these :

[code]
Do we need the same for `dplyr` specific things, like these below, in case e.g. we want to "mask" `row_number`  for example ?

[code]

I guess these don't need to change

[code]

[2018-03-13 22:21] romainfrancois commented on #3255
`var` and `sd` come from `stats`, not `base`

[2018-03-13 22:22] krlmlr commented on #3255
I don't see why we should be changing any of this code. I thought we would test that evaluating the function's symbol in the user's environment matches what we expect (base, stats, ...).

[2018-03-13 22:27] romainfrancois commented on #3255
Maybe we can evaluate the symbol, and check if it is in either `stats` `base` or `dplyr` as these are the only 3 used

[2018-03-13 22:30] lionel- commented on #3255
I would rather compare the pointers with objects picked up from the namespaces. Perhaps it makes sense to cache these in a static.

[2018-03-13 22:35] krlmlr commented on #3255
Do we need to change #3420 to account for this?

[2018-03-13 22:39] romainfrancois commented on #3255
Yes that's better. We already have this static :

[code]

maybe `HybridHandlerMap` can be updated  from

[code]

to something like

[code]

so that we would do something like this pseudo code:

[code]

otherwise we can have another map for the environments, maybe that's less disruptive

[2018-03-13 22:41] krlmlr commented on #3255
Instead of `std::pair` can we add a new class `HybridHandler` that includes the current typedef and the `SEXP` as members? I'd rather avoid two maps.

[2018-03-13 22:44] romainfrancois commented on #3255
@krlmlr I see this going just before `if (TYPEOF(fun_symbol) != SYMSXP) {` so that's orthogonal to #3420

Alright, I'll do this then.

[2018-03-13 23:01] Athospd opened #3421 "dplyr always translate numeric as float instead of integer"
Hello,

The code

[code]

returns the follow-up

[code]

In Hive, RAND(1.0) returns a syntax error. It expects RAND(1).

dplyr always translates numeric as float (and never integer)

It was not suposed to assume that os always integer instead?

Thanks!
Regards

[2018-03-14 01:57] JohnMount commented on #3421
Have you tried `Df %>% filter(rand(1L) > 0.2)`?  That may make a difference.

[2018-03-14 07:59] #3402 closed

[2018-03-14 08:01] #3309 closed

[2018-03-14 09:19] zenggyu opened #3422 "Unexpected error yield by `case_when()`"
Sorry for any ambiguity, but I don't know how to interpret this issue in a more clear way.

`case_when()` yields an error in the following code:

[code]

If I use `if-else` statement instead of `case_when()`, it works as expected:

[code]

If I define the anonymous function outside of `apply()`, and pass that function to `apply()`, it also works as expected:

[code]

Or, if `apply()` is called out

[2018-03-14 09:54] krlmlr commented on #3422
Thanks, confirmed, also with the current dev version.

@lionel-: Why would `case_when()` fail when used in an anonymous function in `mutate()`?

[code]

[2018-03-14 10:36] krlmlr commented on #3226
This seems to cause failures downstream, too.

[2018-03-14 10:40] krlmlr commented on #3422
Perhaps related: #3133.

[2018-03-14 10:42] lionel- commented on #3422
Does the search&replacer of the hybrid evaluator do anything with formulas?

[2018-03-14 10:46] krlmlr commented on #3422
Subsetting perhaps? That's a good hint, I'll look into it and ping you for more input if necessary.

[2018-03-14 10:54] lionel- commented on #3422
It is likely something to do with quosures. I think it's because of quosure rechaining: https://github.com/r-lib/rlang/issues/382#issuecomment-360849977

[2018-03-14 15:07] krlmlr opened #3423 "Avoid dealing with variable names in the C++ code"
We should be using integer indices (one-based) as much as possible on the C++ side. They're faster and easier to display in the debugger. Also, we won't need to care as much about character encodings in the C++ part anymore.

[2018-03-14 15:32] krlmlr opened #3424 "Ensure valid column names"
- Input: Call ~~`tibble::repair_names()`~~`tibble::set_tidy_names()` in verbose mode
- Output: Ensure column names are unique, call ~~`repair_names()`~~`set_tidy_names()` in verbose mode if necessary

[2018-03-14 21:56] krlmlr opened #3425 "Rethink definition of variables in the result of a join"
Simplify name generation and resolution of clashes:

1. Use variables, remove rhs variables for equi-joins (but not for generic joins)
1. Add suffixes to remaining variables of the same name in lhs and rhs
1. Combine variables: join variables, remaining lhs variables, remaining rhs variables
1. Apply `tibble::set_tidy_names()`.

For *dplyr*, the result should be two lists that can be unquote-splic

[2018-03-14 22:24] krlmlr commented on #2080
I finally got it: The `n()` is the problem here, when used with nested data manipulation verbs.

[2018-03-15 08:06] krlmlr commented on #1791
Superseded by #3425.

[2018-03-15 08:06] #1791 closed

[2018-03-15 08:07] krlmlr commented on #3266
@billdenney: The bugfix causes a more severe problem, #3307, which leads to downstream failures for at least three packages. I might have to revert it and fix resolution of name clashes differently (#3425) in a major release. What's your use case?

[2018-03-15 09:22] deeenes opened #3428 "unquote fails in `bind_rows`"
When I unquote variables in any processing chain embedded in `bind_rows` it fails with various errors, depending on the context, for example:

[code]

See more also here: https://stackoverflow.com/questions/47230211/dplyr-how-to-unquote-in-bind-rows

[code]

[2018-03-15 11:05] batpigandme commented on #3428
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It will help us help you if we can see the output as well as the code (you're almost there as is).

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/).

At the moment it nee

[2018-03-15 11:08] billdenney commented on #3266
My use case was related to a dataset received from a client where they had many variants of the same column name (a long test with one column per response), and I had to merge slightly different variants of these where the same person responded.

It was a light use case where in my particular example, I just went about it another way (gather first then merge).  I just found the issue then.

This b

[2018-03-15 11:18] batpigandme commented on #3428
You might first try updating to the dev. version of dplyr, though, as the one you've suggested should fail seems to be working with the latest version.

[code]

Created on 2018-03-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-15 13:40] deeenes commented on #3428
Hi @batpigandme, Thank you for your reply. Actually I didn't even need the development version of dplyr only the recent one and the issue is resolved. I am very sorry for filing a bug from an old version. Also apologies for not including output in my reprex. I will update this also on Stackoverflow.

Another thing, with the new version the behavior of `!!` also has changed. Before to be completely

[2018-03-15 13:40] #3428 closed

[2018-03-15 14:42] krlmlr opened #3429 "Use vctrs::vec_restore to preserve data frame subclass and attributes"
to get rid of redundant `tbl_df` methods which complicate navigating the code. When *sloop* is ready, we'll be ready to switch.

[2018-03-15 15:04] #3226 closed

[2018-03-15 18:00] #3307 closed

[2018-03-15 18:02] krlmlr commented on #3266
Will be resolved as part of #3425.

[2018-03-15 18:16] krlmlr commented on #3417
In 0.7.4 I'm seeing *dplyr* caught in an endless loop with the original example. This means we can safely raise an error here without breaking "compatibility".

[2018-03-16 11:14] krlmlr commented on #3094
It feels inconsistent that `funs(mean)` works but `funs(function(x) mean(x))` or even `funs(mean = function(x) mean(x))` doesn't. For now let's update the docs and explicitly mention that passing an anonymous function won't work.

[2018-03-16 13:39] krlmlr commented on #3094
Reference: https://github.com/tidyverse/dplyr/issues/3368#issuecomment-367361252.

[2018-03-16 13:52] krlmlr commented on #3269
Thanks @cderv for chiming in!

[2018-03-16 13:52] #3269 closed

[2018-03-16 13:59] krlmlr commented on #3231
Thanks. I see some overlap with #2183 and #1792, can you confirm?

[2018-03-16 14:00] #2124 closed

[2018-03-16 14:06] krlmlr commented on #2991
@lionel-: Do you still think we should do anything special when grouping by `.data[[my_var]]`? I'm still not sure why the label of the grouping column is wrong, though -- maybe a glitch in rlang? Do you want me to resubmit there?

[code]

Created on 2018-03-16 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-16 14:21] krlmlr commented on #3140
Thanks! I've decided to give a warning, let's hope downstream packages will adapt eventually.

[2018-03-16 14:21] #3140 closed

[2018-03-16 14:28] lionel- commented on #2991
Hmm... Should auto-naming give the column name rather than the result deparsed? It seems to make sense. Can you file upstream please?

[2018-03-16 14:29] lionel- commented on #2991
Not sure how we'll accomplish that without double evaluation though.

[2018-03-16 14:33] batpigandme opened #3432 "Add google analytics to pkgdown site."
I'll do this, I'll just wait for a point at which you feel things are in an OK state to do so. So, just say the word! 🙂

[2018-03-16 14:40] hadley commented on #3094
If we could do back in time, I think we'd disallow `funs(mean(., na.rm = TRUE))` and require that all argument be functions (or the formula shortcut)

[2018-03-16 14:50] krlmlr commented on #3432
Thanks. Please do it at your convenience, the latest pkgdown version will also give us links to function sources on GitHub ;-)

[2018-03-16 14:59] lionel- commented on #3094
We wouldn't need `funs()` at all then.

[2018-03-16 15:01] lionel- commented on #3094
Hmm does this mean we should start deprecating funs() at some point?

[2018-03-16 15:17] batpigandme commented on #3432
Game on!

[2018-03-16 15:17] krlmlr opened #3433 "Implement a safer alternative to funs()"
Using anonymous functions or shortcuts from *purrr*. From discussions in #3094 and #3368.

[code]

Also fixes scoped functions for `tbl_lazy`, see #3594:

[code]

Easiest to do with new verbs. I think we can still continue supporting `funs()` for some time.

Need to keep in mind updating and improving the documentation.

[2018-03-16 15:18] krlmlr commented on #3094
Let's move discussion to the issue I just created.

[2018-03-16 15:20] #3410 closed

[2018-03-16 15:21] #3266 closed

[2018-03-16 15:21] #3417 closed

[2018-03-16 15:21] #3425 closed

[2018-03-16 15:22] lionel- commented on #3433
When users supplies functions I think we can check if they are identical to base/stats variants and in that case create calls so the hybrid evaluator can pick them up.

[2018-03-16 15:34] lionel- commented on #3433
I think there would be no new verbs needed. We'd just accept functions and lists (maybe we do already).

[2018-03-16 15:37] hadley commented on #3433
And formulas, which I don't think we do currently.

[2018-03-16 21:21] #3368 closed

[2018-03-16 21:27] krlmlr commented on #2432
@fabian-s: Sure, if the interface or the behavior is too complicated and not obvious from the docs, this qualifies as a bug ;-)

[2018-03-16 22:03] krlmlr commented on #2911
Worked in 0.5.0, first occurrence in 0.7.0. Determined with:

[code]

[2018-03-16 22:11] krlmlr commented on #2911
I think this might have been introduced with #2317, CC @zeehio. But I'm no longer sure it is a bug, because this code is creating factors with potentially different levels, and the warning is given when combining them again. No warning occurs if levels are specified explicitly, but I agree this rarely helps with the original `mutate_at()` case:

[code]

Please ungroup before running `mutate()` if

[2018-03-16 22:11] #2911 closed

[2018-03-16 22:13] krlmlr commented on #2991
Auto-naming gives something in-between here. I'd rather see `.data[[my_var]]` instead of only `my_var`; but if you want to show the actual column name, that's fine too.

[2018-03-16 22:16] #2991 closed

[2018-03-16 22:18] krlmlr commented on #3403
#3407 will help resolve the ambiguity here.

[2018-03-16 22:35] krlmlr commented on #3403
FWIW, the behavior is documented (emphasis mine):

Both `bind_rows()` and `bind_cols()` see just one argument, a data-frame-ish. If two such lists are passed, it still works:

[code]

Altering documented behavior feels more like a breaking change. I think we should consider simplifying the interface (and limiting the possible inputs) in #3407. Closing for now, happy to discuss there.

[2018-03-16 22:35] #3403 closed

[2018-03-16 22:58] djbirke opened #3437 "Can't unquote-splice in mutate_at for fct_recode"
Unquote-splicing does not seem to work in `mutate_at` (in combination with `fct_recode`).

Two related notes:
1. `reprex::reprex` does not handle syntactic sugar `!!!`, that is why I used `UQS`.
2. How can I use `fct_recode` to recode to `NA` as a level (in context below)?
---
[code]

[2018-03-16 23:08] krlmlr commented on #3437
Thanks, confirmed. Have you tried `fct_relabel()` as an alternative that also might solve the `NA` problem?

@lionel-: Could you please take a look?

[2018-03-16 23:14] lionel- commented on #3437
This is a known limitation for `!!!` in non quoting functions: https://github.com/r-lib/rlang/issues/369

[2018-03-16 23:29] krlmlr commented on #3030
Are we missing a bang? ;-)

[code]

[2018-03-16 23:39] lionel- commented on #3030
This is a tidyselect issue, select now supports character vectors so rename should as well. Need to be a bit careful for disambiguating inner and outer names.

[2018-03-17 09:28] #3023 closed

[2018-03-17 09:40] #3020 closed

[2018-03-17 10:26] #3432 closed

[2018-03-17 11:02] batpigandme opened #3441 "[dbplyr] Set out.width for images in SQL translation vignette."
For the figure under the **frame clause** bullet in the [dbplyr SQL translation vignette](http://dbplyr.tidyverse.org/articles/sql-translation.html#whole-tables),
https://github.com/tidyverse/dbplyr/blame/master/vignettes/sql-translation.Rmd#L135-L137
need out.width for pkgdown site, so that it doesn't run into the sidebar territory (per ⇩/ https://github.com/r-lib/pkgdown/issues/261).

Also hide

[2018-03-17 12:54] krlmlr commented on #3030
I don't understand the point of supporting `!!` when `!!!` is the more natural thing to do and it already works.

[2018-03-17 13:19] lionel- commented on #3030
You can do stuff like `-!!x` instead of `-c(!!!x)`. This was a feature request that has been implemented for select, and thus it would make sense to support it in rename as well. This is likely not important so feel free to close.

[2018-03-17 13:26] lionel- commented on #3030
Should I make a PR to revdepcheck with the extra packages checking? I think the UI is not right but it works.

[2018-03-17 13:28] krlmlr commented on #3030
Feel free, but I'm using other tools to check downstream dependencies.

[2018-03-17 13:43] krlmlr commented on #3019
From your last reprex I understand that `result$f_env` should be the same as `result$env`. How do we achieve this? Does `map()` need its own overscope, or is this an *rlang* problem?

[2018-03-17 14:04] krlmlr commented on #2998
I suspect this is due to the forceful cleaning of the data mask in `eval_tidy_()`, which is called by `do()` in a loop. `eval_tidy_()` is now deprecated. What's the best way to proceed? Is #3318 related?

[2018-03-17 14:06] krlmlr commented on #3422
Is this related to #3019, where we found out that the environment of inner formulas is different?

[2018-03-17 14:11] krlmlr commented on #3318
We might be able to avoid cleaning the data mask with weak references (`WEAKREFSXP`), need to look into it. But:

That's not very promising...

[2018-03-17 14:17] krlmlr commented on #3318
On the other hand, we might also use a C++ implementation of weak references.

To recap: We need to clean the data mask because otherwise a pointer to an object with limited lifetime might leak. We are not in control of the lifetime of the objects for which we share an `XPtr`. We can overcome this by sharing only proxy objects that contain an internal weak reference to the real C++ object; when th

[2018-03-17 15:00] lionel- commented on #2998
Yes with previous rlang it should have been `overscope_eval_next()` rather than `eval_tidy_()` as the former does not clean the mask.

With the new simplified API you just create an overscope and supply it to `eval_tidy()`. Note that there is an issue with rlang 0.2.0 that will be fixed in 0.2.1, the mask is still cleaned up at each call. So until the next version is out I would use the soft-depre

[2018-03-17 15:05] lionel- commented on #3422
Oh hmm that would be a good guess. I wonder if we should use mirror environments to duplicate the data masks cheaply until we find a good solution with altrep. That's a bit naughty but should work reliably for current and past versions of R.

[2018-03-17 15:12] lionel- commented on #3318
Maybe an alternative is to add a `stale` flag in the data mask. When that flag is set a default value would be returned?

Or: adding a finalizer to the environment containing the active bindings and clean up the relevant dplyr objects from that finalizer?

[2018-03-17 21:01] krlmlr commented on #3019
Do we need to change `rlang_tilde_eval()` or perhaps `tilde_thunk_body`?

[2018-03-17 21:05] spedygiorgio opened #3442 "add seed specification on sample_n and sample_frac"
As a suggestion, could it be possible to provide an optional parameter, say `seed` to the sampling function?

[2018-03-17 21:08] krlmlr commented on #3442
Thanks for the suggestion, but this feels out of scope for *dplyr*. You could use `withr::with_seed()` to achieve pretty much the same.

[2018-03-17 21:08] #3442 closed

[2018-03-17 21:10] krlmlr commented on #3318
One way or another, the proxy object needs to know that the data source isn't available anymore. I prefer controlling lifetime of internal *dplyr* classes from *dplyr* code.

[2018-03-17 22:30] krlmlr commented on #3318
This needs an enhancement to *bindrcpp*, which I meant to release anyway before updating *dplyr*: https://github.com/krlmlr/bindrcpp/issues/7. The current interface only supports naked pointers, I need to give up ownership at least for a proxy object.

[2018-03-17 23:53] lionel- commented on #3318
Is it useful to keep bindrcpp as a separate package?

[2018-03-17 23:57] krlmlr commented on #3318
It has two downstream dependencies ;-)

[2018-03-17 23:58] krlmlr commented on #3318
And, yes, the ping-pong between R and C++ is pretty convoluted, it helps to isolate it from the rest of the codebase.

[2018-03-18 00:30] krlmlr commented on #3318
I have an implementation that uses `boost::weak_ptr`, will share soon.

[2018-03-18 17:57] vspinu commented on #2532
From what I see `arrange` preserves attributes but not the class. The current situation is rather inconsistent.

I think it makes more sense to leave it to the "subclass" developer to tackle potential inconsistencies introduced by dplyr verbs. Currently all subclassers have to suffer. If attributes were preserved, I bet, only a handful of subclassers would be affected.

[2018-03-18 21:54] horowitza commented on #3366
The function `remote_query`, and it's counterparts, aren't imported directly into `dplyr`. Should they be?

[2018-03-18 22:45] krlmlr commented on #3422
Mirroring environments was the only way I saw to achieve what *mockr* does: Create a view of a package namespace with the implementation of some functions changed. Let's go for it.

(I don't understand why we need to duplicate the data mask.)

ALTREP for environments still needs some time, according to the vignette. We shouldn't hold our breath for that. Another option would be objectables, they'r

[2018-03-18 23:08] krlmlr commented on #2998
Thanks, Lionel, your suggestion seems to work. Simpler reprex:

[code]

[2018-03-18 23:25] #2998 closed

[2018-03-19 09:42] lionel- commented on #3422
Because environments escaping from the mask must inherit from both the environments containing the masking data and their original lexical scope. Conceptually we need two parents. In practice we use single-parent environments so we'll have to duplicate the masks (with mirror envs then?) to get different parents at each nested quosure level.

[2018-03-19 09:53] krlmlr commented on #3422
An example would help me understand the problem ;-)

[2018-03-19 10:46] lionel- commented on #3422
I'm bad at coming up with compelling examples but hopefully this will illustrate the problem:

[code]

In this example functions get evaluated (which is when their closure env is set) in the data mask. When the inner quosure is evaluated the data mask inherit from the inner quosure lexical env, but then it gets rechained to the outer quosure lexical env.

If we duplicate the mask and set the right

[2018-03-19 11:24] krlmlr commented on #3318
@lionel-: Is there functionality in *rlang* that can replace *bindr* and *bindrcpp*? I kept these packages separate to avoid the *Rcpp* dependency in *bindr*.

[2018-03-19 11:28] lionel- commented on #3318
I don't understand completely what those packages do but I don't think so.

[2018-03-19 11:46] batpigandme opened #3444 "Bad link to `select_helpers()` in NEWS?"
I'm trying to rebuild the pkgdown site, and am getting `Error: 'select_helpers' is not an exported object from 'namespace:dplyr'`.

I _think_ it's occurring in trying to build `select_at()` from `colwise-mutate.R`
https://github.com/tidyverse/dplyr/blob/a4cb8f2fea524852dd8171417a2dcc38c234bb72/R/colwise-mutate.R#L10-L12

[2018-03-19 11:55] batpigandme commented on #3444
OK, so changing the above to:
[code]
works for building function reference, but now I'm getting the same error as above while Building News.

[2018-03-19 13:54] edgararuiz commented on #3366
Hi, I believe that the `remote_...` functions are considered tools for developers, so they are more internal to `dbplyr`: https://github.com/tidyverse/dbplyr/blob/master/NEWS.md

[2018-03-19 14:00] edgararuiz commented on #3421
Hi, for now, can you try: `Df %>% filter(rand(1L) > 0.2)`

[2018-03-19 14:03] edgararuiz commented on #3404
Hi, I'm curious if the below will work for you.  It's not a solution, just wondering if this has to do with how the command is being evaluated inside the `copy_to()` function:

[code]

[2018-03-19 14:15] krlmlr commented on #3422
I need some time to fully understand the example, but then how is mirroring environments a cheap operation? Wouldn't you need to copy (a reference to) every object in the environment.

[2018-03-19 14:16] edgararuiz commented on #3397
Hi @leungi , does this fail when you run it against your specific database?  I ran the current code against multiple DBs successfully: https://github.com/tidyverse/dbplyr/pull/35

[2018-03-19 14:18] lionel- commented on #3422
A mirror env just copies the 3 node components of the ENVSXP, see https://github.com/lionel-/rlanglabs/pull/3/

Unlike a clone it actually shares the bindings with the original env.

[2018-03-19 14:19] lionel- commented on #3422
That's a naughty use of the R API but we can replace this with ALTENV once they're usable.

[2018-03-19 14:29] edgararuiz commented on #3389
Hi @mwillumz , would you like to submit a Pull Request for this change?  That way you can get credit for your work.  I'll be happy to help you with it.

[2018-03-19 14:31] edgararuiz commented on #3378
Hi, yes, that's because there's not `lubridate` support for `dbplyr` yet.  But, depending on the database you're working with, you may be able to use the native time stamp SQL command directly inside the `filter()` verb.

[2018-03-19 15:18] #3318 closed

[2018-03-19 15:30] krlmlr commented on #3318
*bindr* creates an environment full of almost identical active bindings. *bindrcpp* is the *Rcpp* interface to *bindr*.

[2018-03-19 15:32] lionel- commented on #3318
I think this functionality is too specific for rlang.

[2018-03-19 16:18] jzadra commented on #1672
I found this to be an issue as well using rename with `map()`.  Using `select()` instead of `rename()` works however.

[code]

Created on 2018-03-19 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-19 16:31] mwillumz commented on #3389
Hi @edgararuiz , can you take a brief look at [RGreenplum](https://github.com/mwillumz/RGreenplum)?

Ultimately I'd like to add a `distributed_by` parameter to the copy_to method. But the current repo adds the "DISTRIBUTED RANDOMLY" clause to the dbWriteTable method. (Greenplum is basically a fork of Postgresql for parallel databases). This is the key difference in the api.

I think a new backend

[2018-03-19 16:51] edgararuiz commented on #3389
Yes, I think your approach is the correct one.  For two reasons, the first is that this not a "translation" package, most of the customization you're making sit in the intersection of `dbplyr` and `odbc`.  The second is that with your package, the end user will not need a driver because it looks like you're leveraging the `RPostgres` driver to connect.  The package is looking great by the way!

[2018-03-19 18:16] danishahmadamu opened #3447 "getting unexpected error because of exclamatory sign"
Please briefly describe your problem and what output you expect. If you have a question, please don't use this form, but instead ask on the mailing list <Error: unexpected '!' in:
<regression <- colnames(newsheet[, colnames(newsheet)!= "Id" & colnames(newsheet)! = "returns" & colnames(newsheet) !="Dep" & colnames(newsheet) !="Year"])

Please include a minimal reprex. The goal of a reprex is to mak

[2018-03-19 18:35] batpigandme commented on #3447
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It will help us help you if we can be sure we're all working with/looking at the same stuff.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/).

[2018-03-19 20:44] #3389 closed

[2018-03-20 14:38] #3444 closed

[2018-03-20 15:34] krlmlr opened #3449 "Avoid manual calls to strip_index()"
Use higher-level `grouped_df_impl()` operation.

[2018-03-20 16:19] krlmlr commented on #2458
Closed in #3430.

[2018-03-20 16:19] #2458 closed

[2018-03-20 17:26] #3310 closed

[2018-03-20 17:31] halpo opened #3450 "dbplyr:::db_save_query.Microsoft SQL Server fails when passed schema."
When running a function that called db_save_query with a Microsoft SQL Server Connection using a table name with schema attached the code fails.

[code]
The will produce the error
[code]
The SQL that is generated from the subsequent call to db_save_query is in the error above but the following code would work
[code]
The fix is very simple if you change line 142 in  [R/db-odbc-mssql.R](https://gith

[2018-03-20 18:46] brooke-watson opened #3451 "Confusing error message across many dplyr verbs when improperly indexed"
(re [this Tweet](https://twitter.com/hadleywickham/status/952259891342794752))

I frequently get error messages of the following variety:

 `Error in filter_impl(.data, quo) : Result must have length 87, not 0`.

`Error in mutate_impl(.data, dots) :
  Column `color` must be length 20 (the group size) or one, not 177`

This usually happens when I inadvertently use `df$col` instead of `col` to name

[2018-03-20 19:55] etiennebr opened #3452 "Support for schemas using DBI::Id"
The new `DBI::Id()` (https://github.com/r-dbi/DBI/pull/220) facilitates the usage of schemas, but it is not yet supported by `dbplyr`.

[code]

[2018-03-21 12:29] vpanfilov opened #3454 "row_number() fails in the some corner cases"
`row_number()` windowed function fails in the corner case with 0x0 tibble:

[code]

**UPD:** Found another misleading behaviour:

[code]

[2018-03-21 12:52] leungi commented on #3397
@edgararuiz, thanks for reply.
I tested against 2 Oracle servers and issue was replicated. There's no problem when querying against SQL, as expected.

[2018-03-21 13:01] edgararuiz commented on #3397
He @leungi , thank you for testing that. I'll follow up once we have a PR for the fix.  Thanks again!

[2018-03-21 13:41] leungi commented on #3397
Thanks for your work! Having stringr support is such a great utility (especially those not comfortable with regex), and I've been promoting it in house.

Hope this is not an isolated issue, so your time is well spent.

[2018-03-21 13:41] batpigandme commented on #3454
What about using:
[code]
Created on 2018-03-21 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-21 22:27] #3255 closed

[2018-03-22 15:51] vpanfilov commented on #3454
@batpigandme, thanks! Will use `rowid_to_column` in my code.

Added another misleading behaviour of the `row_number()` to the first post.

[2018-03-23 20:08] wenbostar opened #3455 "filter issue"
[code]

[code]

However, the following code doesn't work as expected.
[code]

What is the best way to use variable when using filter?

[2018-03-23 20:46] batpigandme commented on #3455
This is an example of when you need to use `quo()` and not actual quotation marks as you have, above.

I use `quo()` below to inspect the dplyr calls before executing them as done in the [vignette here](http://dplyr.tidyverse.org/articles/programming.html#quasiquotation). In the bottom example, when I use `var_name <- quo(x)`, it returns the result you would expect (I believe) from your example ab

[2018-03-23 20:46] #3455 closed

[2018-03-23 20:48] batpigandme commented on #3455
_n.b. this also works fine with the piped syntax, I just followed the conventions used in the vignette in the reprex above_
[code]
Created on 2018-03-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-23 22:24] batpigandme commented on #3455
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2018-03-23 22:30] md0u80c9 opened #3456 "Could not find function "lead" with latest version of dplyr"
Hi all,

The following line of code works perfectly in the stable version of dplyr. In the development version however (with the newer version of bindrcpp) this generates an error:

Error in mutate_impl(.data, dots) : could not find function "lead"

I'm not aware of lead being affected by the tidy select changes so is the function being parsed differently in some way?

[code]

[2018-03-23 22:39] krlmlr commented on #3456
Thanks for the report, this is really important to fix before release. Could you please create a [reproducible example](http://reprex.tidyverse.org/) that uses a small toy dataset or a commonly available one?

[2018-03-23 22:39] wenbostar commented on #3455
I though it's related to tidyr package. I can ask it over here:  https://community.rstudio.com.

[2018-03-23 22:43] krlmlr commented on #3454
Thanks. The second example does work in the dev version of *dplyr*:

[code]

[2018-03-23 22:58] krlmlr commented on #3451
Thanks for raising this. One thing we definitely want is to show which expression causes problems with `filter()`, but we need #2605 to do that. For `mutate()`, the bad column name is given.

Accessing a data frame from an expression is a legitimate operation, but we might be able to look for `$` if an error occurs, and check if that variable is part of the data. We have to be very careful with th

[2018-03-23 23:33] batpigandme commented on #3455
Yep. The GitHub-repo issues is really more for bugs and/or feature requests.

[2018-03-23 23:55] Athospd commented on #3421
@edgararuiz  It works!

[2018-03-24 03:35] md0u80c9 commented on #3456
Hi,

It looks as though this is as simple as:

[code]

Fails.

[code]

Works.

[2018-03-24 07:43] krlmlr commented on #3456
Thanks. I can't run your first example, I'm seeing:

[code]

Also, for the second example I'm seeing:

[code]

What do you expect `lead()` on a data frame to return?

[2018-03-24 08:30] md0u80c9 commented on #3456
That is the point. The first example doesn’t work.

But if you run that on the stable version of dplyr from CRAN, it will work and it will put the results seen in the second example into the tibble as a new column.

[2018-03-24 08:42] md0u80c9 commented on #3456
Apologies - that first example should be:

[code]

On dplyr 0.7.4 you get:

[code]

Output from dplyr 0.7.4.9002:
[code]

[2018-03-24 09:07] krlmlr commented on #3456
Thanks, confirmed:

@romainfrancois: Could you please take a look?

[2018-03-24 12:46] batpigandme commented on #3300
Fixed in d6b1f98e47cc6dca557c531e596eee0950f907a9.

[2018-03-24 12:46] #3300 closed

[2018-03-24 13:52] batpigandme commented on #3238
@edublancas, are you still interested in submitting a PR for this? If so, awesome, and, if not, that's totally fine, too. If you wouldn't mind letting us know when you get a chance (or if you have any questions), that'd be great so I know whether to add to my TODO list! 👍
Thanks.

[2018-03-24 14:31] batpigandme commented on #3308
Are we aiming to revise all the "return type" docs for the next release? If no, I'm not sure what the best way is to describe this concisely as a stop-gap measure: a `tbl_*` or `data.frame`, depending on the class of `.data`? _(though that ignores the option of a reconstructed class)_

[code]
Created on 2018-03-24 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-25 03:31] anhqle commented on #1486
@hadley Would you still consider modifications to `bind_rows()` to add support for matrices?

Currently there's still no good option to `rbind` matrices with different column names. Every time I want to do that, I instinctively reach for `bind_rows()` only to be reminded that it doesn't support matrices.

[2018-03-25 12:54] krlmlr commented on #3308
The reprex looks correct, it's interesting that merely loading *dtplyr* already changes the value of the third example:

[code]

Already now we have the situation that methods from other packages may change the return value depending on the input. So I guess we can write "if data frame -> data frame, if tibble -> tibble, methods from other packages may override this for their own classes".

This l

[2018-03-25 13:25] batpigandme commented on #3379
Updated in #3457, @JohnMount and Kiril, let me know if you think it's still too ambiguous!

[2018-03-25 13:28] krlmlr commented on #977
I wonder if we can do better with `NaturalSlicingIndex`.

[2018-03-25 13:45] batpigandme commented on #3246
So is it now the opposite of what it says under `@return`? It actually returns a vector as long as the _shortest_ vector, or is that a special case for lengths one or zero?

[code]

[2018-03-25 13:46] krlmlr commented on #977
But there's also quadratic run time that occurs only when strings are involved, thanks @randomgambit:

[code]

[2018-03-25 14:18] krlmlr commented on #3246
We only allow vector of length 1 or `n`, and we return vectors of length `n`. The value of `n` must be consistent across all cases and `n == 0` is just a variant of `n != 1`.

[2018-03-25 14:20] #3379 closed

[2018-03-25 14:21] krlmlr commented on #3379
Looks good, thanks!

[2018-03-25 14:27] JohnMount commented on #3379
That seems enough to clear it up, thanks.

[2018-03-25 22:09] krlmlr commented on #3289
Prioritized, because the following code behaved differently in dplyr 0.7.4:

[code]

The current behavior would be expected now (and was like this in dplyr 0.5.0), but needs a warning. I think we could use `quo_is_symbolic()` here:

[code]

[2018-03-25 22:12] krlmlr commented on #3454
@romainfrancois: Can you please take a look? The first example in my last post with the empty tibble should still work.

[2018-03-25 22:47] batpigandme commented on #3390
@cderv yeah, I think community served its purpose well— turned out it _was_ a bug, and thus landed back here! 😁

Related: https://github.com/tidyverse/dplyr/issues/3218

[2018-03-25 23:20] batpigandme commented on #3218
Proposed example (basically @jalsalam's made slightly more explicit with the list naming), though we might want to hold off until #3390 is fixed to add.
[code]
Created on 2018-03-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-25 23:30] krlmlr commented on #3218
Fix for #3390 pending in #3459.

[2018-03-26 09:31] #3390 closed

[2018-03-26 12:00] #3246 closed

[2018-03-26 12:14] ratnanil commented on #2061
is this the same issue?

[code]
[code]

[2018-03-26 12:16] krlmlr commented on #2061
We're working on it in #3414.

[2018-03-26 12:20] ratnanil commented on #2061
ok perfect. For the time being, here's a small workaround:

[code]

[2018-03-26 12:32] #3454 closed

[2018-03-26 13:02] romainfrancois commented on #3422
With the code

[code]

the problem seems to occur on that `Rcpp_eval` :

[code]

If I replace by `Rf_eval` I get this instead:

[code]

[2018-03-26 13:04] krlmlr commented on #3422
I think it's the same as #3019, which probably needs a fix in *rlang*. Lionel, can you confirm?

[2018-03-26 13:07] lionel- commented on #3422
I need to investigate these issues but it looks like the same problem.

[2018-03-26 13:14] romainfrancois commented on #3210
I would say indeed if falls into #2432

[code]

And we would need a `vctrs` implementation for `bit64` types.

[2018-03-26 13:20] romainfrancois commented on #2988
Getting this now on @foo-bar-baz-qux code:

[code]

Created on 2018-03-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-26 13:20] romainfrancois commented on #2988
And this on @krlmlr code:

[code]

Created on 2018-03-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-26 13:22] romainfrancois commented on #2988
Perhaps this was fixed as a side effect of something else @krlmlr ?

[2018-03-26 13:25] romainfrancois commented on #2605
This is the same as

[code]

[2018-03-26 13:26] krlmlr commented on #2988
Works for me now, even with v0.7.4 from CRAN. Victor, can you confirm?

[2018-03-26 13:26] #2988 closed

[2018-03-26 13:31] romainfrancois commented on #2605
This happens on the R side with `all_exprs` :

[code]

Too late to do anything about this in the C++ side, because the expression is legit then.

[2018-03-26 13:33] krlmlr commented on #2605
We need to change the R -> C++ interface to fix this.

[2018-03-26 13:33] romainfrancois commented on #2605
[code]

[2018-03-26 13:35] romainfrancois commented on #2605
iirc expressions used to be passed down to the C++ side, but the code was consequently more complicated.

[2018-03-26 13:39] krlmlr commented on #2605
I'd suggest to shelve this until after #2311.

[2018-03-26 13:43] romainfrancois commented on #2967
[code]

Created on 2018-03-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-26 13:44] romainfrancois commented on #2967
🤔 ok the second example still fails for me:

[code]

Created on 2018-03-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-26 13:55] romainfrancois commented on #2080
Indeed. hybrid simplification is too eager. With this debugging:

[code]

I get:

[code]

[2018-03-26 15:47] #3441 closed

[2018-03-26 16:38] sfirke opened #3463 "Feature Request: function to add "totals" as an indexed group for summarizing"
(this is a generalization and extension of #1253)

This function would add a group to a grouped_df, called "Total" (or maybe a user-specified name), that has all row numbers in its index.  Once this group is added to the tibble, summarise functions would treat it like any other group.

Hypothetical example:
[code]

The actual code to produce this hypothetical result is:
[code]

I started working o

[2018-03-26 17:19] romainfrancois commented on #3463
That's the kind of things tidy evaluation can help you build.

[code]

Might need some extra help with the NA, but I don't think this should be in `dplyr`.

[2018-03-26 17:31] romainfrancois commented on #3447
@danishahmadamu did you get a chance to turn your question into a reprex ?

[2018-03-26 17:37] romainfrancois commented on #3421
I don't think there's anything we can do, R treats `1` as a numeric and the suffixed `1L` as integer.

[code]

So I'm closing this issue.

[2018-03-26 17:47] bheavner opened #3465 "purrr::map2() bhaves differently with dply and dbplyr"
If I use purrr::map2() on a local tibble, I get results. The same function does not give any results when run with database-backed tibbles.

(My objective is to select lines from the "positons" table that fall within the ranges defined in the "my_ranges" tibble)

[code]

[2018-03-26 17:53] #3465 closed, assigned to nobody

[2018-03-26 18:21] edublancas commented on #3238
@batpigandme Yes, I can work on this. I can probably find some time to do it during this week. Will  post updates here.

[2018-03-26 23:58] cuttlefish44 opened #3467 "At windows7, read_csv() keeps encoding of multibites colnames and select() can't treat it with unquoted expressions."
Thank you for your works.

At windows 7, when colnames (1st row of csv file) are Japanese, read_csv() keeps the encoding and select(), pull(), ..., can't treat them with unquoted expressions.
I wonder this problem is made by read_csv(') or select(), but in any case I feel this is a bug.

Below is an example code (I can't show the output of reprex because of Garbled, sorry):

[code]

[2018-03-26 23:59] cuttlefish44 commented on #3467
I reprinted this issue into dplyr git.

[2018-03-27 00:34] batpigandme commented on #3467
Hi,

I see you closed this same issue in the readr repo:
https://github.com/tidyverse/readr/issues/815

As described in the [tidyverse contribute](https://www.tidyverse.org/contribute/) page, the _development of tidyverse packages tends to be very bursty_; i.e. the solution won't come faster for its being filed in the dplyr repo. If you think it's definitely an issue in dplyr (though select is act

[2018-03-27 00:41] cuttlefish44 commented on #3467
You're right. I followed your advice.
Thank you for your comment.

[2018-03-27 00:41] #3467 closed

[2018-03-27 01:20] foo-bar-baz-qux commented on #2988
Hey @krlmlr, confirmed that it's now working for me on v0.7.4 from CRAN.

[2018-03-27 05:51] romainfrancois commented on #977
Is that the same thing as this perhaps: https://github.com/tidyverse/tidyselect/issues/56

[2018-03-27 06:04] romainfrancois commented on #977
There are two things here:
 - String is too careful about the protection of the `CHARSXP`. There's probably room for a `String` that does not do any of that protection.

 - n_distinct is implemented with a hash set. We can probably revisit that and use a sorting based algorithm, perhaps even borrow the radix sorting from data.table. The other bonus is that it is much easier to run a sort in parall

[2018-03-27 06:07] romainfrancois commented on #1092
part of #2432. We would just need to be careful about NA. The bits of NA_real_ are not the same as the bits of the int64 NA.

[2018-03-27 10:07] msberends opened #3468 "Joins lose custom attributes"
Much like #3259, the join functions also lose custom attributes. We use attributes to save the query to the object it produced:
[code]

So, for example with `dplyr` data:
[code]

Is this intended? Especially for `left_join`, we would like to keep the attributes of `x`.

[2018-03-27 10:37] batpigandme commented on #3468
I think this probably can be one issue with  #3259, but I'll let a second set of eyes come across it to decide first.

Thanks for filing.

[2018-03-27 12:04] md0u80c9 commented on #3456
Hi,

Just followed the thread. Don't think the current fixes address the above?

[2018-03-27 12:56] romainfrancois commented on #3456
@md0u80c9  did you try with the `fix-issue-3456` branch?

[code]

[2018-03-27 18:24] Sidt1 opened #3469 "BLAS/LAPACK routine 'DLASCL' gave error code -4 in R"
Hi

I am novice w.r.to R, Can any one help me to understand about this error in R. Below is the code and error I get

ABC.SVD<-irlba(ABC.TFIDF, n = 300,  maxit = 600)
Error in ABC.SVD<-irlba(ABC.TFIDF, n = 300,  maxit = 600) :
  BLAS/LAPACK routine 'DLASCL' gave error code -4

[2018-03-27 18:26] batpigandme commented on #3469
Are you using the dplyr package?

This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (However, you'll want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer, without a reproducible example it's nigh impossible to say what's gone wrong.)

[2018-03-27 18:26] #3469 closed

[2018-03-27 18:58] md0u80c9 commented on #3456
Tested with that branch now - and that seems to work both on the reprex and on my original code. Great stuff :-).

[2018-03-27 19:04] romainfrancois commented on #3456
Thanks for taking the time to try it.

Just for the record, a commit message in the branch would have closed the issue automatically on merge.

Not a big deal because we usually merge fast, but potentially a problem on others repos.

Thanks again for reporting the problem in the first place.

[2018-03-28 13:10] sfirke commented on #3463
I appreciate the example with tidyeval.  But compared to using the grouping internals of dplyr, this feels heavy and brittle.  Adding an index group would allow for a versatile, natural user experience, compared to another package taking this approach.  For instance this fails:

[code]

Because we're now relying on another class.  But would work if done through the grouping indices.  And something

[2018-03-28 13:30] sfirke commented on #3463
Yep.  To me that seems inevitable with introducing an `all` group.  It can't be `NA` because there could be cyl values of `NA` already.  But maybe someone else has an idea for how to address that.

[2018-03-28 13:33] romainfrancois commented on #3463
About your initial `add_totals_group`, mind that dplyr uses 0 based indices, so I guess you'd need to use something like `seq(nrow(dat)) - 1L`

[code]

not sure that's enough to fool it.

[2018-03-28 17:04] lstmemery commented on #2355
I found this while writing unit tests.

[code]
Session Info:

[code]

[2018-03-28 18:28] JohnMount opened #3470 "Can not apply a mapping vector on database back column"
Can not apply a mapping vector on database back column.  The substitution works on local data frames, but not on remote ones.

It may not make sense to work on this or implement, as the task itself is easily handled by a `left_join()`.

[code]

[2018-03-29 06:10] romainfrancois commented on #3054
I like the idea of passing a function, or a lambda, with lists columns I often end up using `mutate` + `map*`.

For non list columns, this would encourage r level loops (even hidden in a map), so 💣 performance.

Also, there's the output type. Would we always want a list ?

[2018-03-29 13:59] hadley commented on #3054
Yeah, I think I'd like to leave for now. I don't want to end up in another `do()` situation.

[2018-03-29 20:18] brianstamper opened #3471 "db_explain.DBIConnection writes bad syntax for Oracle"
I'm trying out using `dplyr` on an Oracle OCI database connection built with `ROracle` (class `OraConnection`) and I ran into a problem with `explain()`.

Simplified version of what I tried is

    con <- [make my usual DBI connection]
    remote_data <- con %>%
      tbl('DUAL') %>%
      explain

Which throws an error:

    Error in .oci.GetQuery(conn, statement, data = data, prefetch = prefetch

[2018-03-29 22:20] #3054 closed

[2018-03-29 22:23] krlmlr commented on #2355
Unfortunately this is a current limitation of `all_equal()`. For now please use `all.equal(as.data.frame(...), as.data.frame(...))`.

[2018-03-29 22:24] krlmlr commented on #3456
Reopening, will close when PR is merged.

[2018-03-29 22:31] krlmlr commented on #2047
If we're only interested in supporting adding to the front, maybe we could use `transmute()`?

@lionel-: What would it take to make the following syntax work?

[code]

[2018-03-29 22:33] krlmlr commented on #1092
I have used handcrafted `INT64SXP`, `INTEGER64()` and `NA_INTEGER64` macros in *RSQLite* and friends to clarify intentions: https://github.com/r-dbi/RSQLite/blob/8a656cfe3f7d3103140dc9f79a1f7521e55c8049/src/integer64.h

[2018-03-29 22:43] krlmlr opened #3472 "Remove combine_vars()"
Apparently has been moved to tidyselect.

Watch out for other obsolete functions.

[2018-03-29 22:48] krlmlr commented on #977
We need to use a profiler to identify the bottleneck here. Unfortunately, gprofiler doesn't work (yet) on the Mac, but I can take a look later.

[2018-03-29 22:50] hadley commented on #2047
I think mixing select and mutate semantics is going to be very challenging/risky.

[2018-03-29 23:04] lstmemery commented on #2355
No problem. Thanks for your hard work!

[2018-03-29 23:05] krlmlr commented on #2047
Agreed, but `mutate()` and `transmute()` already seem to support select semantics, you can use just the name of an existing variable. Under the hood this is auto-naming and evaluation, but it feels like a selection. If we just supported `everything()` as a special case here?

Users might be tempted to do the following (I have no idea why the second occurrence of `Species` is discarded, feels like

[2018-03-29 23:07] #3218 closed

[2018-03-29 23:08] lionel- commented on #2047
Just supporting `everything()` would be confusing I think.

[2018-03-29 23:43] krlmlr opened #3473 "mutate_all() and transmute_all() for grouped data frames"
should give a message that grouping variables are not touched:

[code]

[2018-03-30 20:42] edublancas commented on #3238
Submitted PR (#3474), let me know what you think.

[2018-04-01 10:07] krlmlr commented on #3463
I'd like to treat attributes, in particular for grouped df-s, as private to dplyr.

As Romain has shown, it is now easy to build a custom class that will forward the same operation to both a grouped and an ungrouped version of the same table, and produce a nice output. I agree with Romain's and Hadley's original comment in #1253 that this feels out of scope for dplyr.

[2018-04-01 10:24] krlmlr commented on #3468
Thanks. Yes, currently you can't rely on attributes being preserved. We're working on it, but the attributes of an object will be preserved only if it is a subclass of `data.frame` or `tbl_df`.

Currently, the safest way is to implement a custom S3 class and methods for that class.

[2018-04-01 10:24] #3468 closed

[2018-04-01 10:29] krlmlr commented on #2047
Do we stick with `.to_front` then?

[code]

[2018-04-01 10:32] #3238 closed

[2018-04-02 14:02] sfirke commented on #3463
👍 Thanks Roman and Kirill for considering and Romain for the proof of concept example to get something started.  To anyone who sees this issue in the future: if you draft a package with these totals functions I'll user-test it 😀

[2018-04-03 17:00] jalsalam commented on #3218
Thank you Kirill and Mara! I really appreciate you adding this example. As someone who learns R from the doc examples, and for whom recode was the first time I figured out tidyeval, I think it will be useful. This was my first time submitting an issue. Next time I will work up the nerve for a pull request. :)

[2018-04-04 16:59] phaverty commented on #2457
I'd love to see a fix for this. I've got a bunch of data.frames with survival:Surv columns and mismatched columns that need rbind-ing. If there is a plan for dealing with this already, I might have time to put together an implementation.

[2018-04-04 17:23] jgellar opened #3475 "case_when is inefficient"
As currently constructed, `case_when` is inefficient. First it evaluates the RHS of each of the formulas, then it picks the one to actually return based on the LHS. If the code on the RHS for some of the options takes awhile to evaluate, this will be much slower than necessary, and much slower than using if/if else logic.

It seems trivial to change the implementation so that the LHS is evaluated

[2018-04-04 18:14] krlmlr commented on #3475
Thanks. How do you suggest we should deal with expressions of length > 1 on either the LHS or the RHS?

[2018-04-04 19:47] jgellar commented on #3475
I don't follow what the problem is.

I haven't looked too deeply into your implementation, but here's some quick pseudocode that I should work:

[code]

[2018-04-04 19:54] AjarKeen commented on #3295
I think the problem isn't related to the `tidyeval` issue. It seems to just be that translation of the failing code into SQL results in a reference to the newly created column within the same statement, which [doesn't work](https://stackoverflow.com/questions/11182339/reference-alias-calculated-in-select-in-where-clause).

The code that fails is this:

[code]

Which is translated to:

[code]

We c

[2018-04-04 20:08] jgellar commented on #3475
could you give an example of how the formula would have an expression of length > 1 on either side?

[2018-04-04 22:07] krlmlr commented on #3475
[code]

[2018-04-05 10:17] ColinFay opened #3476 "Unexpected behavior in filter when not unquoting the quosure"
## Context

I was writing a blogpost about tidyeval, with as an example a very simple function based on `filter`.

To stress the "two steps process" (`enquo` then `!!`), I wanted to build a function without `!!` to show the returned error.

## Issue

It seems that `filter` doesn't return an error when we "forget" to unquote the quosure.

[code]

And
[code]

After a quick private conversation with

[2018-04-05 10:28] romainfrancois commented on #3476
Yeah so as far as `filter` is concerned, it looks like you either do `filter(iris, FALSE)` or `filter(iris, TRUE)`.

[code]

So not sure what we can do at the dplyr level.

Perhaps `rlang` could be defensive @lionel-, but I guess with a better message 🙈

[code]

Might be worth implementing all the `Ops` methods ?

[2018-04-05 10:32] lionel- commented on #3476
yup this is standard R (nonsensical) behaviour where expressions are comparable:

[code]

This sounds like a good idea!

[2018-04-05 15:26] mr-majkel opened #3477 "Special UTF characters break the tidy workflow"
It seems that special UTF characters can break tidyverse workflow. I have successfully read the Excel file with superscript 2 (U+00B2) as a symbol of sq. meters in one of the columns names with **readxl**. Then, I've tried to manipulate the names of the data_frame with `rename_all` and received mysterious error. It also affects the `mutate_all()` verb, and `*_at` and `*_if` versions.

[code]

Crea

[2018-04-05 15:39] batpigandme commented on #3477
Seems to work ok in the dev version (see locale details at the bottom of the reprex).
[code]

Created on 2018-04-05 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-05 19:40] md0u80c9 opened #3478 "dplyr::if_else fails with glue"
Not entirely sure whether this is a dplyr issue or a glue issue.

[code]
Produces:

Error: `true` must be character, not glue/character

Presumably as it thinks glue is not a character type (even though the output can only be a character type).

[code]

By comparison works as expected.

[2018-04-05 20:26] krlmlr commented on #3478
`glue()` returns objects of class `"glue"`, and `if_else()` is very strict about return types. Please use

[code]

[2018-04-05 20:28] krlmlr commented on #3477
Thanks. I suspect the behavior is different on Windows, but it would be useful to see the output for the dev version of dplyr.

[2018-04-05 20:34] md0u80c9 commented on #3478
Is glue/character suggesting that glue is a superclass of character?

I know there are several workarounds (not least just using paste0 rather than glue as per the example above). The question is whether this behaviour is 'wrong' - possibly one for the glue developers as to whether returning a 'glue/character' class is necessary. You can appreciate why this feels like a coding 'gotcha' that you ca

[2018-04-05 20:40] krlmlr commented on #3478
The `"glue"` class gives nice printing. @jimhester: Is there a variant of `glue()` that doesn't add the class?

`if_else()` and `case_when()` guarantee that the output type is always the same, this helps avoiding errors further downstream in your scripts.

[2018-04-05 20:53] krlmlr opened #3479 "Messages after transmute_all() et al."
`transmute()` should give a message if it adds a grouping variable, just like `select()`. No message after #3409, a message was given in 0.7.4:

[code]

`transmute_xxx()` should give a message if they do not change a grouping variable that would otherwise fit the criteria. This is new behavior.

[code]

https://github.com/tidyverse/dplyr/pull/3409#discussion_r179595400.

[2018-04-05 20:59] krlmlr opened #3480 "Document how scoped verbs interact with grouping variables"
A `select_if()` should give a message if the criteria don't include the grouping variables. There should be a straightforward declarative way to turn off this message, e.g. via `vars(one_of(group_vars()))`. Currently no message (both 0.7.4 and devel):

[code]

https://github.com/tidyverse/dplyr/pull/3409#discussion_r179595688

[2018-04-05 21:08] krlmlr opened #3481 "Order of variables"
This is a meta-issue to describe possible changes in the order of variables after certain operations. Fixing this would be a breaking change, but worthwhile in the long run to improve consistency across verbs.

- [ ] `group_by_all(.add = TRUE)` shouldn't change the order of existing group variables, https://github.com/tidyverse/dplyr/pull/3409#discussion_r175774842
- [ ] Group variables are put fi

[2018-04-05 21:55] cperk opened #3482 "sample_n until there are no more groups"
I tried out the following function from this older post (https://github.com/tidyverse/dplyr/issues/361) to sample several groups (rather than sampling within groups):

sample_n_groups = function(tbl, size, replace = FALSE, weight=NULL) {
   # regroup when done
   grps = tbl %>% groups %>% unlist %>% as.character
   # check length of groups non-zero
   keep = tbl %>% summarise() %>% sample_n(size,

[2018-04-05 22:52] hadley opened #3483 "bind_rows should lighten up"
And work more like `readr::read_csv()` and friends; i.e. it should always return, providing a data frame or problems if needed.

[2018-04-05 22:52] hadley commented on #3475
I don't think it's possible to lazily evaluate and support vectorised expressions.

[2018-04-05 22:56] hadley commented on #3407
I don't think this is tidy evaluation so much as tidy dots.

[2018-04-05 23:38] mkirzon opened #3484 "Add option for NOLOCK against MS SQL Server"
When using dplyr directly against databases, it'd be helpful to have a NOLOCK options when configuring table connections.

This is a common practice in MSSQL to ensure complex queries don't lock the database for other read/writes. The tradeoff is that the read may be uncommited so this should be a toggleable option.

[2018-04-06 01:42] jgellar commented on #3475
How about if you only evaluate the LHS of the formulas? The RHS is typically where the heaviest computation could be. You wouldn't be able to check that everything on the RHS is the correct length/type, but I think it's okay to leave this burden on the user.

Once you determine which of the LHS expressions are TRUE, you only need to evaluate those on the RHS that are necessary. At that point you c

[2018-04-06 02:42] jgellar commented on #3475
This seems to work:

[code]

[2018-04-06 03:57] alexunder commented on #1433
In 2018, I occurred this problem, Need I roll back to 3.3.3? Now my R version is 3.4.4.

Actually I have already installed the ggplot2, but every time when I wanted to learn the statistical  course, it let me install "ggplot2" again, it's forever failed, so I can't access the courser material.

[2018-04-06 08:56] #3351 closed

[2018-04-06 09:29] batpigandme commented on #1433
@alexunder Since it's unlikely that this is a bug in ggplot2, this sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer, it will help you to create a reproducible example, because currently you don't give enough information for us to troub

[2018-04-06 12:24] krlmlr commented on #3475
I'm not even sure I understand the original problem. The `if () ... else () ...` construct is perfectly fine if all your conditions are of length one and you want to evaluate only one branch. Can you please describe your use case?

[2018-04-06 15:09] jgellar commented on #3475
Sure, I can use if/else for my use case, so for my use case this isn't a problem. The reason I would prefer `case_when` is for conciseness of the code and for readability. In general though, I wanted to point out that `case_when` is performing a lot of unnecessary computation, evaluating expressions that will never be used, and if those evaluations take time to evaluate it will be slower than it h

[2018-04-06 15:24] vjcitn commented on #3330
"Translator is missing window variants of the following ...." should this even be a user-facing warning?  It sounds like a condition that should be raised for a developer in a test.  I get this warning with bigrquery.

[2018-04-06 15:32] hadley commented on #3475
I'm reasonable certain your analysis is incorrect - I did think this through when writing the function and concluded that it would break other desirable properties.

[2018-04-06 15:32] #3475 closed

[2018-04-06 15:39] michaellevy commented on #2871
What would you think of a warning for `dim.tbl_sql` that points the user to `tally`?

[2018-04-06 15:42] edgararuiz commented on #3484
@mkirzon - Good point
@batpigandme - Would you mind adding the `feature` tag as well.  Thanks!

[2018-04-06 15:46] edgararuiz commented on #3450
Hi, I believe that this is happening because `copy_to()` defaults to creating a temp table.  Can you try overriding the argument:

`t2 <- copy_to(db, iris, t1, name=in_schema('Examples', 'IRIS'), temporary = FALSE)`

[2018-04-06 19:27] edgararuiz commented on #3452
Hi, why wouldn't using `in_schema()` be sufficient for your use case?

[2018-04-06 21:24] saberbouabid opened #3485 "Dynamically filtering my data using Selectinput"
Hi ,
I am working on a shiny app and i try to filter dynamically my data-set. I have three **Selectinput** and i try to make reactive subset using these parameters to **drill-down** through my data.

But this code is not working as expected and i try to figure out what is exactly  my mistake

[code]

I will be thankful if someone help me to understand this issue .
Best,
Saber

[2018-04-06 23:32] batpigandme commented on #3485
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2018-04-06 23:32] #3485 closed

[2018-04-07 02:04] etiennebr commented on #3452
It is indeed sufficient for my use case (`PostgreSQL`). I plan to test other databases and I might be anticipating, but I understand from [DBI#220](https://github.com/r-dbi/DBI/pull/220) that `DBI:Id` is more robust to the multiple ways of naming tables and namespaces (for instance to handle `database.schema.table`).

I'll re-open the issue if I meet the limitation of `in_schema()`.

[2018-04-07 02:04] #3452 closed

[2018-04-07 16:57] saberbouabid commented on #3485
I posted this issue here because i think there is bug related to ``dplyr::filter``. It seems that ``is.null()`` don't work for some reason .
I found this issue (#2940) and it was pretty helpful
Anyway thanks for closing this issue .
I replaced ``is.null()`` by ``==""`` and everything works fine

[2018-04-09 07:24] romainfrancois commented on #3480
A message like this ?

[code]

[2018-04-09 07:45] romainfrancois commented on #3422
Now getting this

[code]

[2018-04-09 10:10] romainfrancois commented on #977
`unique` uses its own hash table implementation. it might be worth extracting it out from the R source into a package at some point. unique actually initially create a logical vector (the one we would get from duplicate), then extract the unique values afterwards. Perhaps we could skip that last step. decyphering what goes on in unique.c might be interesting in the context of `vctrs`.

but for the

[2018-04-09 11:54] romainfrancois commented on #1185
I pushed some code in the `feature-1185-group` branch so that `group_indices()` is hybrid-interpreted.

[code]

Because of internal implementation, this gives `0` as the group for everybody when this is not a grouped data frame. Is that ok ?

[code]

[2018-04-09 12:29] wlandau commented on #3405
More CRAN check errors just popped up, and they all seem to relate to tidy eval. And it's not just `dplyr`. [`drake`] is having problems too (https://github.com/ropensci/drake/issues/356), so I am very interested in finding out what is happening.

[2018-04-09 12:33] romainfrancois opened #3486 "Do we need FullDataFrame at all ?"
The only place where this is used now is `summarise_not_grouped` (see below).
and if I do this replacement:

[code]

it passes the tests, etc ... that would mean we could rm all the `process( FullDataFrame )` methods which would simplify the code. I have a feeling it might be related to #2311 and the refactoring of SlicingIndex into a class hierarchy ? @krlmlr ?

[code]

[2018-04-09 12:35] krlmlr commented on #3486
Thanks. Let's get rid of it, I love PRs with more lines deleted than added ;-)

[2018-04-09 12:40] krlmlr commented on #3486
On the other hand, I'm not sure. I remember adding this class, but I forgot why. Let me look it up in the logs.

[2018-04-09 12:47] romainfrancois commented on #3486
It was there before, but back then there was no hierarchy in `SlicingIndex`.

The plan initially was that perhaps knowing that we treat all the data would be useful, but perhaps mutate and summarise have been refactored or something and the uses have disappeared

[2018-04-09 12:53] krlmlr commented on #3486
Thanks. I just wanted to double-check that removing it doesn't undo efforts planned for #2311.

[2018-04-09 13:00] lionel- commented on #3405
@wlandau Deparsing of `!!` is now fixed in R 3.5.0, i.e. `!!x` is now deparsed to `"!!x"` instead of `"!(!x)"`. Using deparse makes unit tests dependent on the way R formats deparsed expressions and so may be brittle.

[2018-04-09 13:01] romainfrancois commented on #3486
I don't think so.

[2018-04-09 13:24] romainfrancois opened #3488 "Caution of the classes deriving from SlicingIndex"
Do they need the extra care about indices, e.g.

[code]

I understand what this is about, but are we not in control of these indices ?
It feels expensive to do these bounds check all the time

[2018-04-09 13:28] romainfrancois commented on #3488
They were added in this commit @krlmlr https://github.com/tidyverse/dplyr/commit/56fd9b0416300e955ed58ccdeef39ee8be31a4ab

and I don't see tests associated with it, so I'm just wondering if this is being expensively extra cautious

[2018-04-09 13:30] krlmlr commented on #3488
How expensive are these checks?

[2018-04-09 13:34] romainfrancois commented on #3488
This would be hard to measure I guess. How useful are they ? If they are useful, there should be tests about them right ?

[2018-04-09 13:39] krlmlr commented on #3488
They aren't useful up to the point when they are. Remember, there is only one kind of error in programming -- accessing a stale cache, and off-by-one errors. And in that (or any other faulty) case I'd rather see an error message in a bug report than a segmentation fault.

So, unless it turns out that the bounds checks really kill the performance, I'd suggest we keep them in. I'm happy with making

[2018-04-09 13:45] romainfrancois commented on #3488
I'd like to see tests with these messages in `expect_error`.

In C++, you typically only want to pay for what is really used. I'll make my case with benchmarks then.

[2018-04-09 13:50] romainfrancois commented on #3488
btw, things like this were removed from Rcpp.
https://github.com/RcppCore/Rcpp/blob/master/inst/include/Rcpp/vector/Vector.h#L339

[2018-04-09 14:01] romainfrancois commented on #3488
I'm also interested in the cost of virtual for things that are very often called.

[2018-04-09 14:03] romainfrancois commented on #3482
Can you please expand on that and include a reprex ?

[2018-04-09 14:56] wlandau commented on #3405
So glad to hear that the deparsing of `!!` was fixed and that these errors are happening for a good reason.

[2018-04-09 15:07] romainfrancois commented on #341
We might get away with this by expanding the data after the fact, something like this:

[code]

obviously down the line, this would be handled internally, sans using tidyr or purrr.

[2018-04-09 15:11] romainfrancois commented on #341
This seems to take care of the original question on so:

[code]

[2018-04-09 15:16] mr-majkel commented on #3477
Hi, on Windows it doesn't work with dev version of dplyr. Basically, it seems that the _if versionnow works, but the _all and _at still break. The locale is CP-1250.

[code]

Created on 2018-04-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).
<details><summary>Session info</summary>

[code]

</details>

[2018-04-09 15:26] romainfrancois commented on #341
The key here being this

[code]

which means expanding all possibilities regardless of the variables being factors or not.

I'd say we either:
 - expand all when `drop=FALSE`, potentially having lots of 0 length groups
 - do what we do now if `drop=TRUE`

perhaps have a function to toggle dropness.

This is a relatively cheap operation I'd say because it only involves manipulating the metadata, so

[2018-04-09 15:34] romainfrancois opened #3489 "tidy grouped data attributes"
Would it make sense to tidy attributes that we use internally for grouped data frame, we could e.g. have labels, indices and indices sizes in the same data frame, which would be convenient for manipulation because then it's tidy. (inspired by working on #341).

[code]

Created on 2018-04-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-09 23:34] krlmlr commented on #1185
This sounds good, but I think `group_indices()` should return an all-1 vector for an ungrouped data frame for consistency:

[code]

[2018-04-09 23:45] krlmlr commented on #977
I'd like to see a profile before starting any action.

[2018-04-09 23:55] krlmlr commented on #3480
Yes, but the message should include a hint on how to turn it off, similarly to the message when joining and omitting `by`.

[2018-04-09 23:58] krlmlr commented on #3463
Thanks!

[2018-04-09 23:58] #3463 closed

[2018-04-09 23:58] #3486 closed

[2018-04-10 00:30] krlmlr commented on #3477
Thanks, this is good to know. Postponing for now, because the behavior was mostly the same in dplyr 0.7.4.

[2018-04-10 00:36] krlmlr commented on #3489
I think so. Added to the list of breaking changes which we can start working on right after the upcoming release.

[2018-04-10 00:40] krlmlr commented on #3476
Thanks for looking into this!

[2018-04-10 00:40] #3476 closed

[2018-04-10 00:42] #2568 closed

[2018-04-10 01:12] krlmlr commented on #341
Did you mean `crossing()` instead of `expand()`?

Looking at the internals, do you agree that we "only" need to change `build_index_cpp()`, specifically the generation of the `labels` data frame, to make this happen?

Can we perhaps start with expanding only factors with `drop = FALSE`? I considered a "natural" syntax, but this may be too confusing in the end (and perhaps even not powerful enough)

[2018-04-10 01:14] #3456 closed

[2018-04-10 07:02] romainfrancois commented on #1185
I made the change in the branch, why are `group()` returning -1 in the first place ?

[2018-04-10 07:16] krlmlr commented on #1185
Thanks. What is `group()`?

[2018-04-10 07:23] romainfrancois opened #3491 "group_indices on rowwise data"
[code]

[2018-04-10 07:25] romainfrancois commented on #1185
This would have to be 0, I'll check

[2018-04-10 07:37] romainfrancois commented on #3491
With the code in the #3490 pr, I get this with the `group_indices()` within `mutate`:

[code]

[2018-04-10 08:02] romainfrancois commented on #3491
Fixed in https://github.com/tidyverse/dplyr/pull/3490/commits/bd8484e0bbe27261cdf2d20d3d5067a062fb33ad

[2018-04-10 08:10] romainfrancois commented on #3489
Maybe this is part of a bigger change on how we do groupings. Having something tidy could perhaps open the door to other kinds of groupings. Way back we discussed bootstrap groupings for example.

The way things are done now with grouped and rowwise is less than ideal

[2018-04-10 08:13] romainfrancois commented on #3488
`operator[]` is fine. I'm just concerned about losing performance edge by doing unnecessary things.
Having bounds checks "just in case" and not backing it with tests triggers my radar.

[2018-04-10 08:14] krlmlr commented on #3489
Seems related to #2311 then?

[2018-04-10 08:16] krlmlr commented on #3488
Do you think the bounds check should live further downstream in the processing?

[2018-04-10 08:24] krlmlr commented on #3488
A bounds check may be more useful when we're actually accessing a data frame row. I agree it's unnecessarily expensive if done for every column, but once per row should be fine -- there are many other places where much more time is spent.

We still might get invalid `group_indices`, perhaps through a hard-to-catch aliasing mistake (forgetting to duplicate an `SEXP`). I don't see how we could possi

[2018-04-10 08:24] romainfrancois commented on #3480
🤔 I'm not sure how to express this in an `_if` predicate

[code]

How would we suggest to change `is.integer` so that it catches `a` ?

[2018-04-10 08:48] romainfrancois commented on #341
Yes, I'd say this only affects `build_index_cpp` and the generation of the attributes `labels`, `indices` and `group_sizes` which I'd like to squash in a tidy structure as part of #3489

The "only expanding factors" part of this discussion is what took so long.

What would be the results of these:

[code]

[2018-04-10 11:57] krlmlr commented on #341
I think `f(d, f1, f2, x)` should give the same results as `f(d, x, f1, f2)`, if row order is ignored. Same for the other two.

Also interesting:

[code]

I like the idea of implementing full expansion only for factors. For non-character data (including logicals), we could define/use a factor-like class that inherits the respective data type. Perhaps provided by *forcats*? This makes it more diffic

[2018-04-10 13:46] Robinlovelace commented on #3483
Just wondering: is this related to https://github.com/r-spatial/sf/issues/49 ?

Reproducible example that shows expected behaviour. My understanding is that changes are needed on the **dplyr** side to allow `bind_rows.sf` similar to `

Reprex:

[code]

<details><summary>Session info</summary>

[code]

</details>

Apologies if this is unrelated, will happily create a separate issue if that's more u

[2018-04-10 14:17] romainfrancois commented on #341
implementation in progress in #3492

[code]

Created on 2018-04-10 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-10 15:34] copernican opened #3493 "translation of setdiff for Oracle should be MINUS"
It appears that **`dbplyr`** is translating `dplyr::setdiff()` as `EXCEPT`. For Oracle Database, the corresponding operator is `MINUS`. The translation is accordingly not working. As best I can tell, this is a **`dbplyr`** issue.

<details>
The variables `dbq`, `uid`, and `pwd` store the TNS service name, username, and password, respectively. The table `DUAL` should exist in the `SYS` schema for a

[2018-04-10 15:49] hadley commented on #3480
I think we should just document that `select_if()` always includes the grouping variables.

[2018-04-10 15:54] hadley commented on #3491
In general, I don't think we should be making changes to `rowwise()`.

[2018-04-10 15:54] hadley opened #3494 "Mark rowwise() + do() as questioning"
And recommend alternatives

Using same style as rlang documentation

[2018-04-10 15:55] hadley commented on #3447
I've closed this issue due to lack of requested reprex. If you still care about this bug, please open a new issue with a reprex.

[2018-04-10 15:55] #3447 closed

[2018-04-10 20:18] krlmlr commented on #3494
What's the alternative to a rowwise mutate/summary that depends on many variables?

[code]

[2018-04-11 07:34] romainfrancois commented on #3491
yes. the way rowwise is done needs too much code.
Starting to think about these things as part of #3489 and how we structure the meta data in various groupings.

Separating rowwise and grouped_df does not buy that much

[2018-04-11 07:34] #3491 closed

[2018-04-11 07:47] romainfrancois commented on #3270
I can't reproduce it, and I see the original issue has been closed so I'll close it here as well.

[2018-04-11 07:47] #3270 closed

[2018-04-11 07:52] romainfrancois commented on #3256
`if_else` is clearly meant for vectors. I'd rather have it fail on matrices.

[2018-04-11 08:01] romainfrancois commented on #3215
Let's not mix select and mutate semantics. You can do this I two steps, a mutate followed by a select.

[code]

[2018-04-11 08:01] #3215 closed

[2018-04-11 08:19] benmarwick opened #3495 "round in mutate should print rounded values to console"
When using `round` in `mutate`, the output printed to the console does not show rounded values. Is this by design?

This is undesirable because the user will see unrounded values and conclude that the function has not worked as expected. I see that when we `View` the output that the values do show as rounded.

[code]

But when we `View` the output we do see the rounded values:

[code]
![image](htt

[2018-04-11 08:30] romainfrancois commented on #3245
This looks like an oversight

[2018-04-11 08:33] #3250 closed

[2018-04-11 08:39] romainfrancois commented on #2954
just returning 1 row feels less surprising than error. I'll do that.

[2018-04-11 08:41] romainfrancois commented on #2948
@lionel- I can take this one if you like

[2018-04-11 09:11] romainfrancois commented on #2930
This is mostly fixed as part of #3456.

[code]

`.data` is different, but I'm not sure why you'd want to prefix it with `rlang`.

[2018-04-11 09:31] lionel- commented on #2948
Sure thanks!

[2018-04-11 09:33] #2872 closed

[2018-04-11 11:28] alexiglaser opened #3496 "n_distinct not counting negative integer64 values"
I've been using dplyr to aggregate some info from a database. Some of the columns are being read in as integer64, and some of these are negative. I'm finding that n_distinct counts all negative integer64 numbers as a single number.

A minimal example is as follows, with the expected answer being 41, but n_distinct gives us 22:
[code]

An example using only negative numbers is as follows:
[code]

[2018-04-11 11:45] batpigandme commented on #3496
I believe this is fixed in the dev version. Can you try updating and see if this works for you?
[code]

[code]
Created on 2018-04-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-11 11:54] romainfrancois commented on #2310
This looks fixed now. please reopen otherwise.

[code]

[code]

Created on 2018-04-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-11 11:54] #2310 closed

[2018-04-11 11:57] alexiglaser commented on #3496
Unfortunately I cannot install via devtools (work restrictions), but that looks like it has been fixed.

[2018-04-11 12:09] #3496 closed

[2018-04-11 12:10] batpigandme commented on #3496
Sounds good. I'll close then!

[2018-04-11 12:46] Enchufa2 commented on #2758
What about `filter_xor`?

[2018-04-11 12:55] duttashi commented on #3495
@benmarwick, the `round` in `mutate`  works for me.
[code]
I'm using tidyverse version 1.2.1. Try updating the `tidyverse` package. If the issue still persists, post the `sessionInfo()` for your environment.

[2018-04-11 13:26] romainfrancois commented on #3341
#1185 is ✅ with #3490 which is ready to be merged.

[2018-04-11 13:26] #3341 closed

[2018-04-11 13:31] twolodzko commented on #2758
@romainfrancois many of the functionalities of dplyr can be easily done in base R, so maybe the package is not needed? I have no problem with it not being implemented (I already use my own code to deal with it), it's just a feature request. However the explanation that it can be coded by hand would apply to most of such requests.

[2018-04-11 13:37] batpigandme commented on #3495
I can replicate it in the dev version, but good to know re. 1.2.1, @duttashi!
[code]
Created on 2018-04-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-11 14:05] romainfrancois commented on #3413
`sample_*` currently don't go to the c++ side, so can't use any of the hybrids.

Not sure what to do with this, in the meantime, here is an implementation going through `slice`:

[code]

Created on 2018-04-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-11 14:06] batpigandme commented on #2758
In terms of readability, I'd prefer @Enchufa2's `feature_any()` to `feature_or()`, since the latter vaguely implies that you're filtering _or_ doing something else.

[2018-04-11 14:15] krlmlr commented on #3413
I'm suggesting to make `sample_n()` work without passing an `n` argument, would that help?

[2018-04-11 14:15] romainfrancois commented on #2758
@Enchufa2 you could write `filter_xor` using the same principles, e.g. (slightly different):

[code]

[2018-04-11 14:17] krlmlr commented on #3413
Oh, I misread -- we can actually make that work!?

We already have `sample_n_basic()`, looks like we only need to replace the last `[` call by a `slice()`.

[2018-04-11 14:18] romainfrancois commented on #3413
I think `sample_n( n() )` visually makes sense

[2018-04-11 14:28] krlmlr commented on #3413
Agreed. Let's go for it!

[2018-04-11 14:31] romainfrancois commented on #3495
@krlmlr this is a printing issue right ?

[2018-04-11 14:33] edzer commented on #2310
Thanks, @romainfrancois !

[2018-04-11 14:35] romainfrancois opened #3497 "only extract the relevant boost headers"
We don't need all of BH. just hash maps and shared pointers.

[2018-04-11 14:36] romainfrancois commented on #3392
Closing this because of #3497

[2018-04-11 14:36] #3392 closed

[2018-04-11 14:39] DavisVaughan commented on #425
Since this seems to be something people are still interested in, here is my attempt at tackling the problem. This solution draws from @kevinushey's solution, [this SO question](https://stackoverflow.com/questions/34096162/dplyr-mutate-replace-on-a-subset-of-rows/), and the implementation of `case_when()`. There are two functions involved, with full implementations at [this gist](https://gist.githu

[2018-04-11 14:47] romainfrancois commented on #3380
I can reproduce this. This is because apparently anti_join only creates a lazy `grouped_df` object :

[code]

then `slice` forces the grouping.

[code]

I guess the problem is that `sample_n` does not force the creation of these internal attributes.

[2018-04-11 14:48] hadley commented on #2758
Yeah, there's no reason for this not to go in an extension package.

[2018-04-11 15:16] romainfrancois commented on #3373
This is similar to #2326

[2018-04-11 15:16] #3373 closed

[2018-04-11 15:26] romainfrancois commented on #3369
@hameddashti I'm closing this for lack of a usable reprex. please resubmit with a reprex if/when you still have the problem.

[2018-04-11 15:26] #3369 closed

[2018-04-11 15:27] krlmlr opened #3498 "Non-hybrid first() and last() fail if dplyr is not attached"
[code]

package](http://reprex.tidyverse.org) (v0.2.0).

I think this is due to how `firstlast_prototype()` is implemented. Several downstream packages fail because of this.

The other question is why hybrid doesn't work here. Would a handler for `$` that looks for a `.data` LHS be sufficient here?

@romainfrancois: Could you please take a look? I'll rerun revdepchecks when this is fixed.

[2018-04-11 15:35] romainfrancois commented on #3362
I would not count on these attributes. The structure might change, see e.g. #3489

This is more a question than an issue, so I'll close it. Perhaps you can open a discussion in community.rstudio.com

[2018-04-11 15:35] #3362 closed

[2018-04-11 16:36] t-kalinowski commented on #2326
:+1: :100: for the functionality.

The names `bow` and `tie` don't seem quite right (too cutesy). simply `c()` would be consistent with zealot.

[2018-04-11 16:39] romainfrancois commented on #2326
Yeah sure. I typically don’t use the same standards when making a poc :package: as when working on dplyr.

[2018-04-11 19:06] VincentGuyader opened #3499 "An unexpected `select` output ?"
Shouldn't both code below return the same résult ?

[code]

[code]

the `select` version return only the `b` variable

Regards

[2018-04-11 20:09] lionel- commented on #3499
Indeed this is a tidyselect issue.

[2018-04-11 23:51] JohnMount opened #3500 "dplyr::n() errors-out on database tbls"
`dplyr::n()` errors-out on database `tbls` in dev-dplyr (and on all `tbls` in release `dplyr`).

Example ran into in researching how to fix https://github.com/WinVector/replyr/issues/10 (the point being older `dplyr` did not export `n()`, so other packages needed a biding to avoid `CRAN` issues).

<details>
[code]

[code]
</details>

[2018-04-12 06:26] romainfrancois commented on #3499
I promoted this as a tidy select issue: https://github.com/tidyverse/tidyselect/issues/59

[2018-04-12 06:26] #3499 closed

[2018-04-12 06:58] krlmlr commented on #3500
Thanks. In other words: this is a matter of understanding `dplyr::n` as a synonym for `n` when translating to SQL in *dbplyr*.

[2018-04-12 07:14] romainfrancois commented on #3498
Using `callr` to run code with dplyr not loaded:

[code]

[2018-04-12 11:29] brendanf opened #3505 "mutate crashes instead of throwing errors"
`mutate` (and other dplyr verbs) seem to be very fragile recently.  When there is an error inside the call, they crash the R session rather than giving a graceful error.  I can't trace this back to a particular update, but I don't think it has always been this way.  I experience this both in Rstudio and in the R console. It makes it hard to find errors, because there is no information about what w

[2018-04-12 11:29] #3498 closed

[2018-04-12 11:36] batpigandme commented on #3505
Do you have crash logs?

[2018-04-12 11:37] krlmlr commented on #3505
Thanks. I suspect this is due to updating an imported package with C++ code.

To help us diagnose the problem, could you please share the output of `ls -ltd bindrcpp/* glue/* rlang/* Rcpp/* dplyr/*`, run from your package library (e.g. `~/R/x86_64-pc-linux-gnu-library/3.4`)? After this, please reinstall *dplyr*. Does this resolve the problem?

[2018-04-12 12:01] brendanf commented on #3505
[code]

After this I reinstalled dplyr, and it seems to be working properly.  Thanks!

[2018-04-12 12:27] krlmlr commented on #3505
@romainfrancois: From the directory listing, it seems that installing dplyr, and then updating either *bindrcpp* or *rlang* or *Rcpp* causes this behavior. Can you replicate this?

[2018-04-12 12:33] renlund opened #3507 "Unpredictable handling of attributes"
I'm wondering about the behaviour of attributes in dplyr. It is sometimes nice to be able to assign an attribute, e.g. 'label', to a variable when it is being defined. However, these attributes sometimes vanish.
In the exampel below, attributes assigned within `data_frame` and `mutate` are kept, but not within the `group_by` and `mutate` combination.

[code]

I know there have been related issues

[2018-04-12 12:37] romainfrancois commented on #3505
That's the issue with runtime dependency on things like Rcpp.
I don't think there is much we can do unfortunately apart from suggesting to reinstall dplyr.

[2018-04-12 12:47] krlmlr opened #3508 "Don't support overriding n() for now"
Earlier, there was no way to use `n()` in a package and pass `R CMD check` because *dplyr* wasn't exporting `n()`:

Currently, only two CRAN packages are affected, but I'd like to suggest to stop using `n()` from the user's environment for now, show a message to that effect, and change this later.

[2018-04-12 12:56] krlmlr opened #3509 "Support R 3.1 again"
`R_DoubleColonSymbol` isn't available there, earlier I suggested to @romainfrancois to use it. I do wonder which tests will fail.

It seems worthwhile to use R 3.1 as development environment to avoid these problems in the future. What's a good way to set up a parallel R installation so that it's used on the command line and by RStudio? Maybe a `bash` script that patches `$PATH`, and a local `.Rpro

[2018-04-12 12:58] romainfrancois commented on #3507
In that example the code `mean(x) %>% structure(label = 'Mean x, by Group')` would be executed once per group. Conceptually you'd end up with something like this:

[code]

It is not clear what that means to combine those attributes.

[2018-04-12 13:02] romainfrancois commented on #3509
Why is it not a travis thing ?

[2018-04-12 14:33] romainfrancois commented on #3509
Thanks. So I'd rather trust travis then. This will only be a problem occasionally.

[2018-04-12 14:35] krlmlr opened #3510 "Better tracebacks"
When a complex expression inside `mutate()` or most other verbs fails, the traceback is not informative:

[code]

It does contain the error message, but not the location. I wonder if the traceback can be made available.

If not, we could fix this by creating unrolled optimized R code in the C++ part, which then is passed to the R evaluator, and then transforming the results in C++ again:

[code]

[2018-04-12 19:12] halpo commented on #3450
Nope, doesn't work I try

[code]
and I get
[code]
problem that I mentioned, with the same fix as I previously mentioned.   Another that might work is to sanitize the name when aliasing the sub-query.

[2018-04-12 19:16] edgararuiz commented on #3450
Hi, sorry, I meant to come back and reply to this thread after posting a new article in the website: http://db.rstudio.com/best-practices/schema/#write-non-temporary-tables

I did try my suggestion, and it failed, as it did with you.  The best way to create a permanent table is by using `dbWriteTable` and `SQL`

[2018-04-12 20:11] halpo commented on #3450
Did you try the tweak I suggested?  That fixes it for Microsoft SQL Server at least.

[2018-04-13 00:39] SenshiKudo commented on #2002
I had a some-what similar problem:

[2018-04-13 00:51] SenshiKudo commented on #2002
I had a some-what similar problem:
Everytime I started R Studio, the following message appeared:
`Error: package or namespace load failed for ‘lme4’ in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 there is no package called ‘Rcpp’
Error in .requirePackage(package) :
  unable to find required package ‘lme4’`
I tried many things, including loading the "dplyr" package, and I go

[2018-04-13 00:54] SenshiKudo commented on #2002
I had a some-what similar problem:

Everytime I started R Studio, the following message appeared:
`Error: package or namespace load failed for ‘lme4’ in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 there is no package called ‘Rcpp’
Error in .requirePackage(package) :
  unable to find required package ‘lme4’`

I tried many things, including loading the "dplyr" package, and I

[2018-04-13 01:44] edgararuiz commented on #3450
Oh, I'll check, thanks!

[2018-04-13 05:14] renlund commented on #3507
Right, that makes sense. In my mind the attribute 'label' is just a constant, but the general case could have it varying with the grouping variable, in which case it is much more unclear what that would mean. Thanks for taking the time to answer this.

[2018-04-13 05:14] #3507 closed

[2018-04-13 05:33] benmarwick commented on #3495
Here it is with dplyr_0.7.4, tidyverse_1.2.1 and my session info (`reprex::reprex()` not working for me at the moment):

[code]

[code]

[2018-04-13 22:27] #3509 closed

[2018-04-14 00:49] andrewjpfeiffer commented on #2930
Hi @romainfrancois ,

In package development, I generally prefer to prefix function names with the package name and `::`, rather than using `@importFrom`. Furthermore, on 23 March 2014, @hadley said that this was his preference (see his first comment to the accepted answer of the stack overflow thread at https://stackoverflow.com/questions/8597993/does-roxygen2-automatically-write-namespace-direct

[2018-04-14 01:18] hadley commented on #2930
`.data` is not a function call - it's syntax that's part of tidy evaluation. `rlang::.data` is only provided to allow you to suppress R CMD check warnings; it doesn't actually do anything.

[2018-04-14 07:17] lionel- commented on #2930
This is similar to the magrittr pronoun:

[code]

[2018-04-14 07:37] romainfrancois commented on #2930
So do we need to do something about rlang::.data or can we close this ?

These will quiet R CMD check:

globalVariables(".data")

or:

#' @importFrom rlang .data

[2018-04-14 07:56] lionel- commented on #2930
I think we can close, `.data` should not be prefixed as it's a pronoun that lives inside the data mask with the columns of the data frame, it does not actually live in rlang.

By the way, prefixing uq operators is going to be deprecated so please don't write `rlang::UQ(x)` but `UQ(x)`. Or better yet, `!!x` ;). The rationale is that unquote operators are not (and couldn't be) function calls. For th

[2018-04-14 08:08] #2930 closed

[2018-04-14 10:53] romainfrancois commented on #3508
Can't we just ask these packages to remove their `n` function ?

[2018-04-14 11:24] elben10 opened #3513 "Not able to count number of observations using Postgres"
I get an error when I try to count the number of observations.

[code]

The following piece of code would work

[code]

[2018-04-14 15:59] krlmlr commented on #3508
I think so, one already did.

[2018-04-14 15:59] #3508 closed

[2018-04-14 16:31] krlmlr commented on #3479
Second example: No idea how to turn off that message; let's keep the existing behavior.

[2018-04-14 20:06] krlmlr commented on #3479
Suggest to keep the existing behavior, because you can't easily include an (unaltered) group variable with `transmute()`.

[2018-04-14 20:06] #3479 closed

[2018-04-14 21:27] #3411 closed

[2018-04-15 06:40] duttashi commented on #3495
I have tested it on both R version 3.4.3 and 3.4.4 and the `round` in `mutate` works for me on tidyverse version 1.2.1 and dplyr version 0.7.4

[code]
[code]
[code]
[code]

[2018-04-15 09:39] lionel- commented on #3411
I don't have one.

[2018-04-15 11:14] jonocarroll opened #3514 "Proposal: keep_levels() with validation"
An issue I've faced many times is filtering a `data.frame`/`tibble` based on "levels" (unique values or factor levels) of a column. A common (?) pattern for this is to create a logical vector of presence/absence of the levels compared to a vector of acceptable levels, which `filter` then accepts

[code]

The problem with this is that while `filter` and `%in%` are both doing their jobs correctly, t

[2018-04-15 13:56] CerebralMastication opened #3515 "`dplyr::arrange()` with the `.by_group=TRUE` parameter set produces SQL with an error"
This is a cross post from the RStats Community, where I initially posted it: https://community.rstudio.com/t/dplyr-arrange-by-group-true-fails-with-sql-backend/7232

I've either got a misunderstanding or a bug... I *think* it's a bug.

It seems that `dplyr::arrange()` with the `.by_group=TRUE` parameter set produces SQL with an error. Here's how to reprex it:

On the DB (Redshift in my case) set u

[2018-04-15 21:24] krlmlr commented on #3505
Reopening, I'd like to understand what's happening here. I'll handle it.

[2018-04-15 21:29] krlmlr commented on #3495
Thanks. This is a printing issue indeed, will double-check.

[2018-04-15 21:39] brendanf commented on #3505
As you can see from the very recent update time for most of the packages, I had just updated.  The problem I reported was happening both before and after the update though.

[2018-04-15 21:40] krlmlr commented on #3505
I don't understand, in the directory listing, *dplyr* and *glue* are rather old.?

[2018-04-16 05:35] gabefair commented on #3259
So is the use of bind_rows() on tibbles not supported?

[2018-04-16 06:42] brendanf commented on #3505
I had just updated all packages which were out of date on April 12, by running "check for package updates" in Rstudio.  _dplyr_ and _glue_ apparently weren't out of date.  However, it was not this particular update (of _bindrcpp_, _rlang_, _Rcpp_) which broke _dplyr_.

[2018-04-16 08:00] romainfrancois commented on #3497
What BH does to extract all these headers, we can do the same to extract the things we need.

[2018-04-16 09:53] romainfrancois commented on #3341
there's no close command for this particular issue in #3490

[2018-04-16 11:12] krlmlr commented on #3341
Thanks, added.

[2018-04-16 12:06] tomwwagstaff commented on #2432
I am currently experiencing a problem with `lubridate` intervals when using `dplyr` joins. I calculate the intervals first in one table, where each entity appears once, and then use an `inner_join` to a larger table where each entity appears in multiple rows. Now in the new table, the date interval shifts around apparently randomly from row to row for the same entity (although the length of the in

[2018-04-16 18:25] krlmlr commented on #2432
@tomwwagstaff: Can you please double-check with the development version of dplyr? I assume you'll be seeing an error, because we don't support the `Interval` class from *lubridate*. The problem you describe doesn't seem to be related to this issue, a new issue (with a reprex) is preferred.

[2018-04-16 18:30] krlmlr commented on #3497
We do gain a bit of independence, but I'm not sure the extra effort of maintaining the extract is worth it. Also, I'm not convinced that this will solve the original "noisy headers" problem.

[2018-04-16 18:31] krlmlr commented on #3505
Thanks, this is helpful.

[2018-04-16 18:32] krlmlr commented on #3259
This issue is about tibbles with extra attributes. `bind_rows()` on regular tibbles is supported.

[2018-04-17 04:49] dfrail24 commented on #3341
@romainfrancois Hey, thanks for putting your time into this - really appreciate what you've done.
I'll be one of the first to use it once it's merged :)

[2018-04-17 05:48] alexfun opened #3516 "Numeric rounded unexpectedly when joining within SQL"
I have an issue where integers (classed as numerics) that have 16 significant figures get rounded to 15 significant digits when using the `dplyr` interface with databases via `tbl`. Here is an example of the observed behaviour (tmp_con is a `src:  postgres 9.5.3`  object created by `src_postgres`):

[code]

Now, observe the following behaviour when accessing this table via `tbl`:

[code]

So far s

[2018-04-17 13:33] edgararuiz commented on #3516
Hi, in the code where you perform the join, are you trying to join a local data frame to a table inside the database? And if so, can you try using `copy_to()` on the local data frame (`tmp_df`) so that both are part of the same DB?

[2018-04-17 13:39] edgararuiz commented on #3500
@JohnMount , the short answer is yes, you can technically call `n()` w/o having `dplyr` loaded into the namespace.  This is also true for other functions, such as those we just added from `stringr`, you can call `str_detect()` w/o needing to load the `stringr` library first.

[2018-04-17 13:42] edgararuiz commented on #3513
Hi, yes, I had a similar issue this week in a machine I haven't used for some time, and updating my packages fixed the issue.

[2018-04-17 14:59] krlmlr commented on #3495
Fixed in *pillar*, please install `r-lib/pillar` from GitHub or wait for the CRAN release.

[2018-04-17 14:59] #3495 closed

[2018-04-17 15:09] JohnMount commented on #3516
It looks like there is an issue.   Probably not `dplyr` issue, but a `PostgreSQL`, driver, or `DBI` issue.  Below I have it translated into a `reprex`.  The second table in the join converts the `id` to `1363392673615940` "`double precision`" on copy in.  So things are wrong at the copy. Somehow this matches the `1363392673615939.000` "`numeric`" of the first table.

[code]

[2018-04-17 17:40] cderv commented on #2928
@cdeterman Did the fixes made by @edgararuiz solved your issue with `case_when` translation ?

It seems I still have an error on my side but before opening any new issue here, I would like to have to your opinion as you had already one. Thanks

[2018-04-17 17:48] hadley commented on #3516
Closing because it does not appear to be a dplyr issue.

(Also it seems like a bad idea in general to join on floating point numbers, in the same way that it's not advisable to check for exact equality)

[2018-04-17 17:48] #3516 closed

[2018-04-17 17:49] #2993 closed

[2018-04-17 23:08] potterzot opened #3519 "dplyr::slice() returns an error when slicing an SQLite table"
Trying to select specific row indices with `dplyr::slice()` from a DB connection returns an error:

Reproducible example:

[code]

[2018-04-17 23:12] potterzot commented on #3519
Apologies, then I read the help for `slice`:

correct syntax is

`filter(between(row_number(), 1, 10))`

[2018-04-17 23:12] #3519 closed

[2018-04-18 15:17] krlmlr commented on #3514
Thanks. I'm sympathetic to the problem you describe, but I think this should live in *forcats*, perhaps in a new `fct_in()` function which would raise an error (or at least warn) if you're filtering unknown levels.

[2018-04-18 16:12] DavisVaughan opened #3520 "filter() using a variable named the same as the column filtering on does nothing"
Am I dumb here? The second case of `vs == vs` doesn't seem to do anything. I don't think this is correct?

[code]

Created on 2018-04-18 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-18 17:20] cderv opened #3521 "Case_when translation for ORACLE does not work"
I work with an oracle connection so difficult to make a reprex sorry. I just will use the code as-is as I think it is enough to see the issue in SQL translation.

When using dplyr on an oracle connection, I had this error
[code]
The error message is
[code]
A call to `show_query` instead of `collect` gives the following SQL
[code]

This as been mentionned in #2928 but not fixed it seems.

I think t

[2018-04-18 18:56] copernican commented on #3521
As a workaround, you might try `1L == 1L ~ value` in place of `TRUE ~ value`.

[2018-04-18 20:52] WaterworthD commented on #3330
RSQLServer has been archived, they're suggesting the odbc package is better but on first glance it doesn't support dplyr?

[2018-04-18 20:52] hadley commented on #3514
Yeah, we definitely won't be adding more vector oriented functions to dplyr.

[2018-04-18 20:52] #3514 closed

[2018-04-19 10:55] bobokdalibor opened #3522 "case_when() warning in overlapping conditions"
---

Hi, would it be possible to have a warning when the case_when() runs into overlapping conditions? Example from help:

[code]
This one would give warnings for number 35, because it's dividable by 5,7,and 35 so it fulfills multiple conditions.

[2018-04-19 20:27] epetrovski commented on #3520
`dplyr::filter(mtcars, vs == vs)` does indeed do _something_. It first looks for `vs` in `mtcars`, finds it, and then subsets mtcars by matching `mtcars$vs` against itself, effectively returning all rows of `mtcars`.  According to dplyr's NSE , this seems to be exactly the expected behaviour of `dplyr::filter()`.

`dplyr::filter(mtcars, vs == not_vs)` first tries to find `mtcars$not_vs`, fails, an

[2018-04-19 20:33] DavisVaughan commented on #3520
Yea, you're right. It would make sense for `dplyr` to look up `vs` in the environment of the data frame first, then look up a level to find it in global. I agree it's working as expected. Not sure why that reasoning slipped by me. Thanks!

Also can confirm this behavior exists in `mutate()`.

[code]

Created on 2018-04-19 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-19 20:33] #3520 closed

[2018-04-20 00:50] chunjiw commented on #3404
Hi edgararuiz,

Sorry for late apply. I tried your code, and the problem remains: the result is
`dd: chr "a\r" "bbb"`

[2018-04-20 16:31] cedricbatailler commented on #3522
I think it would go against the intended behavior.

The logic is explained in the doc: `case_when` is equivalent to multiple `if else` statement where order matters. Following your logic, anytime a user use a final `TRUE` condition as "else", it would throw a warning because it overlaps everything else.

[2018-04-20 23:55] stufield opened #3523 "`dplyr::arrange` does not return same class object as promised"
I'm debugging an issue that came up with `dplyr::arrange` when a unique object class is passed, the object is recast as a data frame in the returned object. I am surprised not to find anyone else with this issue, perhaps few of you are recasting their data frames or tibbles to unique object classes as I have. In the `?arrange`, it says that the returned object *should* be the same class as the inp

[2018-04-21 06:48] cderv commented on #3523
I think this is related to #1429. The advice there is to the subclass creator to deal with `tidverse` compatibility.  in you case something like `arrange.my_class` that deals with that.

There is two examples where you'll find this:
* `sf` 📦 has implement custom methods (see [here](https://github.com/r-spatial/sf/blob/master/R/tidyverse.R))
* `tibbletime` 📦 did also the same (see [here](https://gi

[2018-04-21 15:02] stufield commented on #3523
Thank you for the advice ... S3 method work around was simple and easy to implement.

[2018-04-23 01:12] WaterworthD opened #3524 "DATEADD translation for MS SQL Server"
Hi

I'm trying to translate the tsql DATEADD function using dbplyr

DATEADD (datepart , number , date )

The datepart argument is a string literal which should not be quoted, however dbplyr quotes it as it appears to assume all function arguments are numeric literals or text column names. i.e.

Actual behaviour:

`dbplyr::translate_sql(DATEADD(dd,1L,Date))`
`<SQL> DATEADD("dd", 1, "Date")`

Requir

[2018-04-23 06:39] romainfrancois commented on #3523
Thanks @cderv. Closing this one now.

[2018-04-23 06:39] #3523 closed

[2018-04-23 06:41] romainfrancois commented on #3522
Yes, @bobokdalibor you'd have to implement your own `case_when` for that case.

[2018-04-23 06:41] #3522 closed

[2018-04-23 06:53] romainfrancois commented on #3208
agree with @krlmlr on both cases. I'll close this for now.

[2018-04-23 06:53] #3208 closed

[2018-04-23 07:00] romainfrancois commented on #3206
I'll close this now as a duplicate to #2432

At the moment, we have a workaround in place to essentially refuse to deal with `interval` objects.

[code]

This is of course temporary until we deal with #2432, but at least this is less surprising.

[2018-04-23 07:00] #3206 closed

[2018-04-23 07:44] romainfrancois commented on #3069
Fixed in #2952

[2018-04-23 07:44] #3069 closed

[2018-04-23 07:48] romainfrancois commented on #3059
Related to #2432

[2018-04-23 08:06] romainfrancois commented on #3051
Another take with some tidyeval :

[code]

Created on 2018-04-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-23 08:18] romainfrancois commented on #3051
@hadley should we close this as this can easily be done outside of dplyr ?

[2018-04-23 08:43] romainfrancois commented on #3017
Also note that `desc` is handled internally inside of `arrange` and never calls the `dplyr::desc` R function inside arrange.

https://github.com/tidyverse/dplyr/blob/master/src/arrange.cpp#L39

[2018-04-23 08:43] #3017 closed

[2018-04-23 08:47] romainfrancois commented on #3016
up. do we have a list of what needs to be re exported ? @lionel-

[2018-04-23 08:50] lionel- commented on #3016
Oh I think we have everything already: https://github.com/tidyverse/dplyr/blob/master/R/utils-tidy-eval.R

[2018-04-23 08:50] #3016 closed

[2018-04-23 08:59] romainfrancois commented on #2912
Or perhaps hint to name the expressions. as it makes more sense to end up with:

[code]

than with:

[code]

[2018-04-23 09:50] romainfrancois commented on #2132
Related to  #2326

I typically use a `summarise` + `unnest` for these, e.g.

[code]

Created on 2018-04-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-23 09:57] romainfrancois commented on #2121
So the "representative" are 1-based indices of the first row in the data that belong to this group ? @krlmlr.

In that case, we can easily update `grouped_indices_grouped_df_impl` :

[code]

[2018-04-23 10:01] romainfrancois commented on #2121
Need to be careful when doing #341 because empty groups won't have representatives

[2018-04-23 10:17] romainfrancois opened #3526 "hybrid all or nothing"
meta issue to discuss the hybrid all or nothing.
problems caused by hybrid : #2080

Currently the hybrid evaluation can be used in two ways.

 - to handle the whole expression, i.e. `summarise(df, x = mean(y))`

`mean(y)` is identified as something that can be handled internally, because we know `mean` and we know that `y` is a variable from the data. This is where hybrid eval really is useful

 -

[2018-04-23 12:30] krlmlr commented on #3500
@edgararuiz: Current *dplyr* requires the `n()` function to be on the search path, or to use `dplyr::n()`. Can *dbplyr* support `dbplyr::n()` for consistency?

[2018-04-23 12:39] krlmlr commented on #3326
I agree it's tricky, and some functions under the link I shared don't even qualify.

Is there a name for functions that work identically when turning off the grouping? What properties do they need to satisfy? I'd say the following might be sufficient, not sure if they're necessary:

[code]

[2018-04-23 12:43] krlmlr commented on #2121
Good catch. For 1-based representatives, `NA_integer_` seems better because `df[NA_integer_, ]` still is a one-row data frame as opposed to `df[0, ]`:

[code]

[2018-04-23 12:48] krlmlr commented on #2912
In the future we'll be stricter regarding returning data frames with duplicate column names. I don't mind using the expression as part of a column name as long as it leads to unique names. The user still can rename manually.

[2018-04-23 12:50] romainfrancois commented on #3326
I think it is *very* difficult to do this automatically, and not so difficult for the user to switch order.

One thing where we will gain, is that `iris %>% group_by(Species) %>% filter(Petal.Width < 1.3)` currently does a second hidden `group_by` to put together indices. That will change.

[2018-04-23 12:51] romainfrancois commented on #2912
s/hint/error/

[2018-04-23 13:11] edgararuiz commented on #3500
Hi, I suppose we could implement it similarly to how `tally()`  and `count()` are, but not sure what will that gain us, other than having a single letter command `n` in the search path.  I'm sure I'm missing something, can you help me see what it is?

[2018-04-23 13:16] krlmlr commented on #3051
Do we want to enhance the documentation first?

[2018-04-23 13:28] krlmlr commented on #2912
I don't care about more useful names in a one-off query, I just want unambiguous results.

[2018-04-23 13:28] hadley commented on #3051
I think one example in the documentation (along the lines of my code above) would be nice.

[2018-04-23 13:39] harryzyming opened #3529 "tally and unique are not supported by dplyr with spark"
I can use length and unique with dplyr on my local data like this.
[code]
But the following on spark is not:
[code]
Then I tried distinct with tally on local data, and the errors seem to suggest that distinct doesn't recognize numeric, character, or factor data???
[code]
Finally I tried the code on spark dataset with sparklyr
[code]

[2018-04-23 14:05] 2533245542 opened #3530 "Suggestion: pass a string to dplyr functions and use that as the whole argument"
Hi, I just have a quick suggestion. Sometimes when using dplyr functions, we might encounter the situation where we have to manually input a lot of variable names, and I want to automate that. Is it possible that I first use paste0 to creste a long string and then pass that to dplyr functions? For example, I want to convert this, (Using flights from package nycflights13 as a dataset)

##code1##
mu

[2018-04-23 16:02] krlmlr commented on #3530
Thanks. This is already possible (with a different syntax) using tidy evaluation, see the programming vignette: http://dplyr.tidyverse.org/articles/programming.html .

For the future: questions like this are better suited at StackOverflow or https://community.rstudio.com/ . Your contribution here is very welcome if you think you found a bug in *dplyr* or if you want to suggest a change in the code

[2018-04-23 16:02] #3530 closed

[2018-04-23 16:31] romainfrancois commented on #2326
Back in the original suggestion:

[code]

the usual rule for summarise is that the result is of length 1, we could extend this in the data frame case by only allowing data frames with 1 row.

for mutate, we could say we would only accept data frames with n rows, n being the size of the group

what would we do if the expression has a name, e.g.

[code]

- `c("y_mean", "y_sd" )`
- `c("mean", "sd")`

[2018-04-23 16:45] hadley commented on #2326
I think the names case is easiest - we follow whatever strategy `rlang::flatten()` uses.

[2018-04-23 17:49] happyshows opened #3531 "copy_to Teradata Implementation"
Hi,

I'm trying to create a temp table via copy_to, based on [tutorial](https://db.rstudio.com/dplyr/). And encountered below error msg. My select/filter/group by query is fine.

---

[code]

[2018-04-23 18:50] dchorazkiewicz opened #3532 "Predict lm model in dplyr"
Hi,
Modeling in groups using "do" command is a great and very useful idea. Unfortunately I didn't find a way how to merge models to original or new dataset and use those models with predict command. When we deal with linear models we can hack this but with black box model cannot be done. Can anybody help me with this?

Thanks,
D.

[2018-04-23 18:53] #3532 closed, assigned to nobody

[2018-04-24 01:01] 2533245542 commented on #3530
Thanks krlmlr! I actually looked at the programming guide before but I was not able to find the exact solution I want. I also checked StackOverflow. Could you give me a quick solution?

[2018-04-24 04:19] kevinykuo opened #3533 "group_by() fails on already grouped data frame when using `.data` pronoun"
E.g.

[code]

[2018-04-24 06:54] congdanh8391 opened #3534 "Long var names bug in dbplyr and OCDB"
I have problem that mentioned here: https://github.com/r-dbi/odbc/issues/10

I'm SQL query newbie so I prefer to query by dbplyr but I found out the big bug as mentioned above. How can I fix it? Or does it have any tips to pass over it?

I practice on an example database with a few long var name so every thing went unsuccessful.  I know that I would  see the databases like these in the future.
![u

[2018-04-24 07:11] romainfrancois commented on #3533
Kind of related to #2752

We need some special handling of `.data$` in group_by, and/or for `mutate` to understand that there is nothing to do:

[code]

[2018-04-24 07:33] batpigandme commented on #3534
Could you please turn this into a self-contained [reprex](http://reprex.tidyverse.org/) (short for minimal **repr**oducible **ex**ample)? It will help us help you if we can be sure we're all working with/looking at the same stuff.

If you've never heard of a reprex before, you might want to start by reading the tidyverse.org [help page](https://www.tidyverse.org/help/).

Right now the best way to

[2018-04-24 09:05] romainfrancois opened #3536 "glue::collapse is deprecated"
but used in `error.R`

[2018-04-24 10:00] romainfrancois commented on #3135
I'm not seeing differences that are that dramatic:

with current dev version:

[code]

with 0.5.0:

[code]

[2018-04-24 10:03] romainfrancois commented on #3135
@iron0012 could you test again with the dev version of dplyr, and perhaps move the `group_by` outside of the `system.time` so that we make sure this is a regression in `cumin` and `cumsum` rather than in `group_by`

[2018-04-24 14:40] JohnMount commented on #3530
That sort of notation is something supported by the `seplyr` package.  It allows one to work using string representations of expressions and variables. Here is an example.

[code]

[2018-04-24 15:43] iron0012 commented on #3135
Thanks @romainfrancois . I have, first, tried running the exact same script as above, and I'm mystified that it returns different timings for dplyr 0.7.3 (associated with checkpoint 2017-09-26) than it previously did! How is it possible that the cumulative functions took ~0.5s with dplyr 0.7.3 the first time that I posted the reprex above, but now they take ~0.05s, _again with dplyr 0.7.3 using th

[2018-04-25 12:28] foundinblank opened #3541 "Cannot pull views (using dbplyr & RMariaDB)"
Hi,

I'm unable to pull views via my RMariaDB connection. Here's an example below where I'm trying to pull a view called `video_product_lookup`, but I can replicate the issue with all other views. I can pull regular tables just fine.

Thanks,
Adam

[code]

Created on 2018-04-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-25 14:16] danielcanueto opened #3542 ""no rule to make target c++" when installing on RStudio environment separate from OS."
Dear Mr/Mrs,

I'm not able to install dplyr in an RStudio environment prepared by a firm for a data science project because of "no rule to make target c++" errors when compiling. The lack of this package hampers the installation of vital packages and endangers the project viability. My suspicion is that the error is caused by the possibility shown here:

https://stackoverflow.com/questions/1788825

[2018-04-25 15:03] batpigandme commented on #3542
Can you please clarify what you mean by "RStudio environment separate from OS"? Are you using RStudio Server? If so, what is its environment?

Are you trying to install the CRAN release version of dplyr or the development version from GitHub?

[2018-04-25 16:00] romainfrancois commented on #3335
Work in progress in the `feature-3335-wide-performance` branch, in case someone wants to have a look:

[code]

[2018-04-25 17:13] Prometheus77 opened #3544 "Feed formulas into summarise() as objects"
I've spent a decent amount of time reading (and rereading and rereading) various explanations of NSE and dplyr programming, but have not been able to solve what seems like it should be a simple problem. I'd like to define summarization formulas in advance, and then write a function that feeds those formulas into summarise() for evaluation.

The motivation for this is to build a package specific to

[2018-04-25 18:02] romainfrancois commented on #3542
presumably the machine don't have tools like make and the compilers, ... I guess you'd need to ask the firm

[2018-04-25 18:04] romainfrancois commented on #3542
Can you run devtools::has_devel()

[2018-04-25 18:15] danielcanueto commented on #3542
_presumably the machine don't have tools like make and the compilers, ... I guess you'd need to ask the firm_

Yes, that's my intuition. But I wanna explore options and develop a clear response so they can't ignore demands.

Results of   devtools::has_devel()

[code]

Thank you very much.

[2018-04-25 18:17] romainfrancois commented on #3542
So you can compile C code fine. Let's try C++ now, what does this give you ?

[code]

[2018-04-25 18:27] danielcanueto commented on #3542
[code]

By the way, sessioninfo:

[code]
I'd happily share more details about about the kind of errors shown, but their R version is in Spanish and I'd need to do some cleaning before.

[2018-04-25 18:32] romainfrancois commented on #3544
If you want to use formulas, here is one way:

[code]

maybe @lionel- has a better approach

[2018-04-25 18:49] romainfrancois commented on #3544
Maybe that's easier:

[code]

Created on 2018-04-25 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-04-26 06:21] mathematiguy opened #3545 "`case_when` quietly inserts NA when not all cases are covered"
Hi there,

I've noticed that `case_when`, while very useful, will insert `NA` quietly when the given cases do not cover all of the values in the column.

Is this the preferred way for the function to work? I'd prefer if it inserted NAs noisily, just in case I think that I've covered all of the cases but failed to do so.

Another situation is when I am writing code on a bunch of sample rows to save

[2018-04-26 07:25] romainfrancois commented on #3542
🤔 that looks good. What about:

devtools::install_github("tidyverse/dplyr" )

[2018-04-26 08:28] krlmlr commented on #3545
Thanks. One way to solve this, which already works, is to add final clause like this:

[code]

You might be able to create your own wrapper around `case_when()` to save typing.

[2018-04-26 09:12] danielcanueto commented on #3542
Hah, it seems that with install_github option it has been installed. I find strange not to have tried myself the install_github option before. However, it is not possible thourgh install.packages to install "tidyverse" or "dplyr". This is the kind of message that appears:

[code]
Every way I try to install it, the .cpp file that fails is a different one.

It is a little tricky to try to install th

[2018-04-26 10:08] romainfrancois commented on #3542
It is odd, but this feels like a problem in how R was setup rather than a dplyr issue.

I’ll close this now, given you can install the dev version from github.

[2018-04-26 10:08] #3542 closed

[2018-04-26 16:44] billdenney opened #3546 "arrange .by_group Argument Should Be Dropped for non-grouped_df Classes (or give a clearer error)"
When accidentally trying to arrange a regular data.frame with `arrange`, I got a difficult to interpret error:

"Error in arrange_impl(.data, dots): incorrect size (1) at position 2, expecting : 2"

The issue was that I wasn't using a `grouped_df`; it was just a regular `data.frame`, and the `.by_group` argument only has meaning with the `grouped_df` class.

Theoretically, someone could have a col

[2018-04-27 01:46] tslumley opened #3547 "inconsistency between dplyr and dbplyr summarise_at when variable names reused"
When `summarise_at` uses a variable in `.vars` that it also uses in `.funs`, the result is different in dplyr and dbplyr, and I think the dbplyr result is the right one -- though there's a case for just making it an error.

[code]

It looks as though in R the variable `cyl` is updated before it is used for the 2nd through 4th sums, but in SQL it isn't.

[2018-04-28 07:46] romainfrancois commented on #3545
Something like this perhaps:

[code]

I'll close this because what you describe is by design and we offer a way around it.

[2018-04-28 07:46] #3545 closed

[2018-04-28 08:14] romainfrancois commented on #3547
🤔 I can see how this is confusing, but this is by design, i.e. the `summarise_at` call essentially generate that:

[code]

So the first expression overwrites `cyl` and this is what subsequent expressions use. One way around it would be to move it to last:

[code]

or first create the `cyl*mpg` as a separate variable in a mutate.

[code]

Another approach could be to give a name to the function:

[

[2018-04-28 13:38] hadley commented on #3547
It’s definitely intended behaviour - this matches how summarise and tibble work (which you might not like, but we’re definitely locked into now).

It is supposed to behave the same way in dbplyr too - I’ll have to look into what’s going wrong.

[2018-04-28 14:55] edgararuiz commented on #3531
Hi @happyshows , can you share the `dbConnect()` command you are using, as well as the results of `class(con)` please?

[2018-04-28 15:00] happyshows commented on #3531
Hi Edgar,

I was using odbc::dbConnect(odbc::odbc(),...)

[code]

[2018-04-28 15:08] edgararuiz commented on #3529
Hi, try using `n_distinct()` instead of `unique()`, that function is properly translated by `dbplyr`:

[code]

[2018-04-28 17:26] edgararuiz commented on #3531
Ok, can we try doing the same but using `dbWriteTable()`.  Teradata specific translation for table creation is handled by `odbc` here: https://github.com/r-dbi/odbc/blob/74ad62c275b1c95a70814707901bdafd8fc2d2b6/R/db.R#L25-L34

So we need to find out where the disconnect or failure is happening, thanks!

[2018-04-28 23:54] tslumley commented on #3547
I can cope with it either way, but having it different in dplyr and dbplyr is more of a problem.

[2018-04-29 13:51] cderv commented on #3521
I tried something to add the correct translation to oracle CASE WHEN.

See [case-when-oracle](https://github.com/cderv/dbplyr/commit/0976ae27e5dd78f5ae01a5d6428c8c9c4097da4e) branch in my fork.

Fisrt, add in a `case_when` in `sql_translator`
[code]

and a `sql_case_when_oracle` function base on `sql_case_when` but just adding a special treatment if last formula in `dplyr::case_when`  is like `TRU

[2018-04-29 16:51] ChiWPak opened #3548 "coalesce_at(...) or use with helper functions"
Feature request - `coalesce_at(...)` or ability to combine with helper functions like `starts_with(...)`. Sorry if this is a duplicate request

[2018-04-30 07:29] romainfrancois commented on #3548
I'm not sure it makes sense to have scoped variants of `coalesce` as this is not a data verb. But with tidy dots, so you can do something like this:

[code]

[2018-04-30 10:16] romainfrancois commented on #2326
Wondering about nesting now, would it make sense instead that:

[code]

make the same thing as

[code]

Relevant discussing in #2132

[2018-04-30 11:34] #3548 closed

[2018-05-01 00:42] edgararuiz commented on #3521
Hi @cderv , thank you for researching this.  Let me take a closer look and follow up with you.  Thank you for your willingness to send over a PR.

[2018-05-01 00:49] edgararuiz commented on #3531
Thanks for researching this @happyshows . Where does the semi-colon need to go?

[2018-05-01 01:25] happyshows commented on #3531
I put the ; right after the  ON COMMIT PRESERVE ROWS

[2018-05-01 01:54] edgararuiz commented on #3531
Ok, that change needs to be done in the `odbc` package, right here: https://github.com/r-dbi/odbc/blob/74ad62c275b1c95a70814707901bdafd8fc2d2b6/R/db.R#L32

Would you like to submit a PR to get credit for your work?

[2018-05-01 02:15] happyshows commented on #3531
you can go ahead as I'm not good at the git flow. Just let me know how can I test on a future release before it makes to the master release.

[2018-05-01 04:34] happypig commented on #3210
full_join() will join the same result, FYI

[2018-05-01 09:02] foundinblank commented on #3541
Nope, that doesn't work either. Trying to figure out if the view is default or non-default. (I'm pulling from MySQL dbs/tables).

[2018-05-01 15:39] foundinblank commented on #3541
Upon closer research it turns out MySQL doesn't have default schema. https://stackoverflow.com/questions/12426320/how-do-i-set-the-default-schema-for-a-user-in-mysql

[2018-05-02 11:47] #2954 closed

[2018-05-02 11:47] #3195 closed

[2018-05-02 13:06] #2948 closed

[2018-05-02 13:24] #3413 closed

[2018-05-02 14:44] romainfrancois opened #3549 "auto naming handling of .data[[ some_expression ]]"
The auto naming fails on some esoteric uses of `.data`:

[code]

Problem is in `tidy_text` :

[code]

Can either:
- make `is_data_pronoun` more robust, perhaps using the `quo_is_variable_reference` from #3537 and so fall back to `quo_text(quo, width = width)`. I can easily do that.
- do some sort of substitution instead of `as_string` but whatever is in `[[` might involve the columns

[2018-05-02 15:24] romainfrancois commented on #3221
Anyone with a pr ? @cderv, @AndreMikulec ?

[2018-05-02 15:40] romainfrancois commented on #3510
Sounds like this could be an `r-lib` project in its own.

[2018-05-02 15:49] krlmlr commented on #3510
Maybe if we `try {} catch {}` at the C++ level? Is there a way to do Go-style evaluation in *Rcpp*, returning the result or an exception?

[2018-05-02 15:51] krlmlr commented on #3549
Is this an *rlang* issue?

[2018-05-02 15:54] romainfrancois commented on #3549
Nope, rlang is an innocent bystander here. The tidy_text function is in dplyr

[2018-05-02 16:08] #3075 closed

[2018-05-02 18:02] cderv commented on #3221
👍  I'll do it.

[2018-05-02 21:24] leungi opened #3551 "filter() returning null when using variable in RHS, but works when using string"
Unexpected behaviour for filter(); it works when passing in a string in RHS, but returns null if a variable is passed instead.

Reprex with sample data below.

[code]

[2018-05-02 21:28] krlmlr commented on #3551
The `id` column in your data takes precedence over the `id` column in the enclosing environment. Can you please remove/rename it and try again?

[2018-05-02 21:37] leungi commented on #3551
That was flash-fast reply!

Thanks for the tip @krlmlr; works now! What a relief :)

Please close issue; apologies for being green.

[2018-05-02 21:37] #3551 closed

[2018-05-02 21:44] krlmlr commented on #3551
Never mind. Your reprex was good, you most likely would have seen the problem if you had minimized it further, see https://www.tidyverse.org/help/.

[2018-05-03 11:46] #3189 closed

[2018-05-03 20:34] billdenney commented on #3483
A few specific use cases here are:

* Allow combination of integer/real columns (promoting to real)
* Allow general least-common-denominator combinations (e.g. make everything a character, if required)

[2018-05-03 21:09] billdenney opened #3552 "Feature Request: Have bind_rows Errors Provide Information on the List Index"
When `bind_rows` throws an error indicating incompatible classes, it gives the column name that is causing the problem.  Can it also give the argument (or list) index where the error occurs to immediately find the problem?

I think that the change would be in https://github.com/tidyverse/dplyr/blob/29c3dda67b57f0136940f63a3257f76d2ec959af/src/bind.cpp#L267-L268 and adding `i + 1` to the error, but

[2018-05-03 21:17] hadley commented on #3433
We need to prioritise this for the next release because the current behaviour are so inconsistent (particularly across funs and any_vars, and then compared to purrr)

[2018-05-04 10:42] billdenney commented on #3483
If #3552 is superseded by this, please add the more informative error reporting as a feature request here.

[2018-05-05 08:39] romainfrancois commented on #3526
Once we have hybrid operate only on whole expression, it should be easier to hybrid more things.

[2018-05-05 14:24] CerebralMastication opened #3553 "Feature Request: Chatty dplyr/summarize message when group by is changed"
Proposal: give a message back to the user when `summarize` changes the grouping

Background:
I just spent many hours trying to understand some `dplyr` behavior which I ultimately traced back to the throughly documented feature where `dplyr` drops the last `group_by` element after `summarize` is run. I notice that I am not the only one being surprised by this:

#3315 dplyr::summarise removes a grou

[2018-05-05 14:29] krlmlr commented on #3553
Thanks. I agree this might help reduce confusion. How do you suggest to turn off that new chattiness? For instance, for joins this is done by explicitly setting the `by` argument.

[2018-05-05 18:40] romainfrancois opened #3554 "use NoProtect storage policy on Rcpp classes that are already protected."
Related to https://github.com/RcppCore/Rcpp/issues/849

- needs more testing of Rcpp

perhaps calling the classes `NumericVectorView` or `NumericVector_` etc ...

[2018-05-06 13:10] romainfrancois commented on #3553
idk, in the case of joins, the message pops up when you have not specified what to join by, so a decision has been taken automatically, so it's fair to have a message.

otoh, for summarise, this is what it does, always. it peels off one level of grouping. Maybe this is a documentation issue, but I don't think we need a message for that. It's always possible to do something like `trace( dplyr:::sum

[2018-05-07 04:41] bkkkk opened #3556 "Results of Postgres Count function returned as Integer64"
Invoking the `COUNT` function of PostgreSQL returns a dataframe with the count column having type `S3: integer64` instead of a regular integer. This data type is not aggregated correctly by dplyr verbs and cannot be plotted by ggplot2.

The reprex is a bit artificial given that it requires a backend database:

[code]
In this case `count_col` is of type `S3: integer64`.

This happens even when usin

[2018-05-07 06:02] romainfrancois commented on #3556
support for integer64 might happen at some point. #1092

in the meantime, maybe you force the column to be integer with an `as.integer`

[2018-05-07 14:10] markvanderloo opened #3558 "Why do dplyr verbs remove all (non-class) attributes?"
I know about class attributes from Issue #719, but I do not understand why other attributes are removed. Preserving them would be more friendly to pkg authors who may wish to invent functions that fit in the pipeline between dplyr verbs, but need their own attributes.

[code]
The above gives `NULL`.

My `simputation` pkg simply records the attributes at entry and re-adds them in the end. Clearly,

[2018-05-07 15:34] hadley commented on #3489
In the long run, I think the right way to handle this sort of namespacing for variables (i.e. we need to use `..index` to avoid clashing with a grouping variable called `index`) is to use a df-column:

[code]

This will require substantial work throughout dplyr so this is a note for the future, rather than something we should try and do now.

[2018-05-08 01:28] asantucci commented on #2913
@JohnMount I just want to say that I really appreciate your questions you present here on Github. I've run into many similar ones myself, and I know we exchanged some notes on reshaping tables via DB backend. You've been a great help. Cheers!

[2018-05-08 06:26] romainfrancois commented on #3556
I have limited visibility about database backends, let’s see what others think. I added the database label.

[2018-05-08 07:45] #2752 closed

[2018-05-08 07:45] #3533 closed

[2018-05-08 07:45] #3549 closed

[2018-05-08 12:41] CerebralMastication commented on #3553
Valid point. There could be a `drop=TRUE` default option and if `drop` is not passed then it defaults and throws the message.

Just to beat this conceptual horse a bit more before Hadley shows up and gives judgement:

the auto drop is a significant conceptual change in a couple of ways:

1. Order of `group_by` elements now matters. In my 25+ years of using group by type constructs the order of the

[2018-05-08 12:50] batpigandme commented on #3553
Maybe I'm misunderstanding the meaning, but what would happen in the case of `drop = FALSE`, since there isn't an option to _not_ drop a level of grouping (if I'm understanding correctly)?

[2018-05-08 13:17] batpigandme opened #3560 "dplyr site is missing "dplyr" in header"
**dplyr** is missing from the header of https://dplyr.tidyverse.org/
![image](https://user-images.githubusercontent.com/831732/39759189-0024c674-52a0-11e8-993a-c8390e6d72c4.png)

It's missing on all pages, and the name of the functions is appearing in its stead in the function references (e.g. https://dplyr.tidyverse.org/reference/distinct.html):
![image](https://user-images.githubusercontent.com/

[2018-05-08 13:26] krlmlr commented on #3560
Thanks. This particular warning is expected.

[2018-05-08 13:27] CerebralMastication commented on #3553
yeah, that's the trade off. `drop=FALSE` would have to not drop the grouping. Not that I can think of a use case for that, other than turn the next `summarize` into a `rowwise` operation (but that's a different thread altogether)

Yeah, there are certainly trade offs here.

[2018-05-08 14:06] hadley commented on #3553
This is how `summarise()` works - it makes sense when you think about it because once you have summarised, each group becomes a single row and there's no point keeping the grouping.

[2018-05-08 14:06] #3553 closed

[2018-05-08 14:09] hadley commented on #3558
In short, because we don't know if your attributes are row-wise, col-wise, or object-wise. For example, should `filter()` preserve the `row.names` attribute? Clearly not. Dplyr is deliberately conservative to avoid creating an invalid object. I don't think we can change this default without quite a lot of thought (and I'm pretty sure that is already logged in an existing issue)

[2018-05-08 14:11] hadley commented on #3556
Duplicate of #1092

[2018-05-08 14:11] #3556 closed

[2018-05-08 14:14] hadley commented on #3546
I think we should just be consistent here and improve the arrange error message globally using the new style from http://style.tidyverse.org/error-messages.html

That would be something like:

[code]

And maybe `arrange()` should also throw an error when arguments are named:

[code]

[2018-05-08 14:15] #3552 closed

[2018-05-08 14:16] hadley commented on #3558
Related to #3429

[2018-05-08 14:25] hadley commented on #3497
It is necessary for other reasons - bh is a huge dependency and slow to install on many OSes (because it contains >20,000 files)

[2018-05-08 15:52] briglass opened #3561 "sample_n() (with grouping) drastically slower in 0.7.4"
Upgraded from 0.5.* to 0.7.4, and sample_n() function is running drastically slower. Has anybody else noticed this?

[2018-05-08 15:56] krlmlr commented on #3561
Can you please post example code? Has this changed in the development version?

[2018-05-08 15:57] batpigandme commented on #3561
Hi @briglass,

Since it's in a ~discussion phase (as opposed to being a bug or feature request), this sort of question might be a better fit for https://community.rstudio.com. Would you mind asking it over there? If it turns out the issue is with dplyr code, we can reopen it.

(You might want to check out https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2018-05-08 16:09] billdenney commented on #3546
@hadley, both of those sound like good solutions to me.

[2018-05-08 16:12] briglass commented on #3561
I will try to provide one using a public data set, but for now let me specify that this only occurs with a grouped data frame.

df characteristics:
[code]
Then, I try: `df %>% sample_n(1)` in order to take 1 row per ID_PRSN

This takes roughly 1 minute in 0.7.4. In the previous dplyr version, it took a few seconds

[2018-05-08 17:59] briglass commented on #3561
I tried this with dev version 0.7.5.9000, but got this error:

[code]

[2018-05-08 18:29] nickv9 commented on #3090
I stumbled across this myself and found a solution. https://stackoverflow.com/a/47198795/7416441

[code]

[2018-05-08 18:48] batpigandme commented on #3561
Ran the code above with the dev versions…

[code]
Created on 2018-05-08 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-08 19:01] hadley commented on #3561
@briglass Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-05-09 02:04] kevinykuo opened #3562 "pull.tbl_sql() extracts wrong column from grouped tables"
[code]

[2018-05-09 05:56] romainfrancois commented on #3558
Right. Let's close this in favor of #3429. When it is in place perhaps we can issue warnings about attributes that we don't handle and perhaps suggest that they are made part of a class that deals with it.

[2018-05-09 05:56] #3558 closed

[2018-05-09 07:49] markvanderloo commented on #3558
Sorry for the duplicate issue. But I disagree with @hadley. Will go to #3429 for that.

[2018-05-09 07:53] romainfrancois commented on #3558
It's a matter of who is responsible for keeping track of what these attributes mean. The point of #3429 is to give you some control, because dplyr can't make these decisions.

[2018-05-09 08:18] markvanderloo commented on #3429
It would be great if `dplyr` (and other tidyverse) verbs can keep user-defined attributes. Obviously, (as @hadley noted in #3558) you can't keep `row.names` in a `filter`. Let me explain one use case.

In my [lumberjack](https://cran.r-project.org/web/packages/lumberjack/vignettes/intro.html) package, I define a new pipe operator that can track changes in data in a custom way. The pseudocode is li

[2018-05-09 09:03] romainfrancois commented on #3489
As this will make indices more R facing, should we make them 1-based ?

[2018-05-09 14:08] romainfrancois commented on #3489
I have something like this:

[code]

not sure we want to keep the laziness feature

[2018-05-09 14:28] romainfrancois commented on #3489
joins are the only producers of lazy grouped data frame now since #3492, through the `reconstruct_join` function:

[code]

I'd argue we should get rid of it and altogether and only have materialized grouping structures.

[2018-05-09 15:19] krlmlr commented on #3489
How do we update the grouping structure in a join?

How about `group_labels()` ?

[2018-05-09 15:29] hadley commented on #3489
* Yes, we probably should use 1 based indices, but it might be better to do that in a separate PR
* I think we should call the attribute `groups`
* I think we should call the column `.rows`
* I think it's ok to get rid of the lazy grouping, although we should file an issue to consider preserving as part of the join process

[2018-05-09 15:45] romainfrancois commented on #3489
preserving in the context of joins might be tricky because:

- mixed grouping, e.g when the lhs is a factor and the rhs a chr
- for right joins and any joins where the lhs is not in control of the group population.

[2018-05-09 16:10] romainfrancois commented on #3489
ˋrows()` then would be a good name to extract .rows

[2018-05-09 18:38] romainfrancois opened #3566 "joins should not make lazy grouped_df"
do this after #3492  and #3489

[2018-05-09 22:28] romainfrancois commented on #3489
with @hadley naming suggestions 👌 +`rows()` and `group_data()`. Too bad `groups()` is taken.

[code]

Created on 2018-05-10 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-10 14:10] romainfrancois commented on #3429
Also relevant: #1064. Not sure why we keep attributes for some cases.

[code]

[2018-05-10 15:04] billdenney opened #3567 "Feature Request: Allow matches to Invert the Result (and Generally Allow Access to grep)"
I have cases where I need to do operations like "group by all columns with names that do not start with 'Is_'".  The most logical way that I can think to do that is to add a `...` argument to `matches` that is passed to `grep_vars`.  With that, the full power of `grep` is exposed without notable additional code and in a backward-compatible way.

[code]

[2018-05-10 15:11] hadley commented on #3567
This is already possible - you just need to use `-`, and `vars()` (as documented)

[code]

Created on 2018-05-10 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-10 15:11] #3567 closed

[2018-05-10 15:11] romainfrancois commented on #3567
You can use `-` with tidy select semantics:

[code]

[2018-05-10 15:28] billdenney commented on #3567
Doubly thanks!

[2018-05-11 12:10] metanoid commented on #3334
@edgararuiz sorry for the late response - didn't see a notification
No, using `DBI::dbWriteTable` works as expected.
I will use that instead.

[2018-05-11 12:11] #3334 closed

[2018-05-11 17:22] #3059 closed, assigned to nobody

[2018-05-11 17:28] hadley opened #3570 "Implement nest_join"
A `nest_join()` would create a list-column:

[code]

The output would always have exactly the same rows as the input, but with one new column, named (by default) with the name of `y`.  `unnest()`ing this data frame would yield an `inner_join()` (or a `left_join()` with https://github.com/tidyverse/tidyr/issues/358)

@romainfrancois how hard would this be to implement?

[2018-05-11 18:12] hadley commented on #3570
Hmmmm, good question; for now, I'd say let's include column `x`.

[2018-05-11 18:30] romainfrancois commented on #3570
That makes it easier to test it. I’ll 🤹‍♂️ with this, should be easy enough.

[2018-05-13 16:24] jasperDD opened #3572 "Managing of Scheduled R script"
I scheduled the Rscript which takes data from MS SQL Server and performs regression. The script takes only new data.
For example, today was loaded 100 obs from 01.01.2017-03.03.2017,script conducted the regression on this data.

Tomorrow will be loaded 100 obs from 04.03.2017-04.06.2017 and script will work with this obs and not from 01.01.2017 -04.06.2017.

I asked at this forum the question,how

[2018-05-13 17:29] batpigandme commented on #3572
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximise your chances of getting a good answer.)

[2018-05-13 17:29] #3572 closed

[2018-05-14 07:56] #341 closed

[2018-05-14 13:57] batpigandme opened #3575 "Match error message formatting to tidyverse style guide."
A rolling thought, obviously, it just came up in one of the style guide examples (described https://github.com/tidyverse/style/issues/80) — particularly the separation of the follow up question as a bullet on its own line.

https://github.com/tidyverse/dplyr/blob/4c2487a9dae88f7968315b35f64de48ae957fd58/R/tbl-df.r#L55-L62

[2018-05-15 04:34] romainfrancois commented on #341
@kenahoo I'm not sure I understand. This is what you get with the current dev version. So the only thing that you don't get is the warning from `min()`

[code]

Created on 2018-05-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-15 04:45] kenahoo commented on #341
@romainfrancois Oh cool, I didn't realize you were already so far along on this implementation.  Looks great!

[2018-05-15 05:52] rtaph opened #3577 "sample_frac() sample size"
I would like to raise the issue about the sample size returned by `sample_frac()`.  Here is a simple example of current behaviour:

[code]

The frame has 3 elements, but the function always returns 2 rows, implying a true sampling probability of of 2/3 over repeated sampling, not 1/2. This is because `dplyr:::sample_n_basic()` rounds the size to be sampled up or down to an integer.

I believe it w

[2018-05-16 08:10] s-geissler opened #3578 "diff() by groups is applied globally instead of by group under Linux"
I am trying to calculate the diff() over a column in a data.frame by grouping the rows. This works fine under Windows and MacOS. Under Linux Mint 18 (Xenial), the behavior is as shown below for R versions 3.3 as well as 3.4.

Instead of calculating the diff() over entries of each group, hence having NA for the first element of each group, the diff() is applied globally as shown below. The same res

[2018-05-16 09:16] markvanderloo commented on #3429
I just figured out, while walking to the eRum conference venue, that in my use case, I can just re-add the attribute I need in the %L>% operator :-). Anyway, it would still be useful to be able to somehow keep attributes when passing data through `dplyr` verbs, but I understand something is in te works. @romainfrancois: cheers for the (live) discussions :+1:

[2018-05-16 09:40] ketansahils opened #3579 "Column can't be used as a grouping variable because it's a list"
Hi, I have the following dataframe:

temp_id | temp_sent
---------------------------------- | ----------------------------------
0.5-0.5-0-0_1 | the powerful achaemenid persians led cambyses began th...
0.5-0.5-0-0_1 | june update currently offering services lte services were u...
0.5-0-0.5-0_2 | garlic fried with coriander added molokhiya popular green...
0.5-0-0-0.5_3 | the republic egypt arabic

[2018-05-16 10:03] #3578 closed

[2018-05-16 10:04] s-geissler commented on #3578
The problem was loading plyr after dplyr which masked mutate and let to the error. Closed.

[2018-05-16 10:08] krlmlr commented on #3579
This sort of question is a better fit for https://community.rstudio.com. Do you mind asking it over there? (You might want to read https://www.tidyverse.org/help/ first to maximize your chances of getting a good answer.)

[2018-05-16 10:08] #3579 closed

[2018-05-16 10:51] ketansahils commented on #3579
Ok. Thanks.

[2018-05-16 13:25] hadley commented on #3578
FWIW you would've discovered this problem immediately if you'd used the reprex package.

[2018-05-16 16:34] jennybc commented on #3578
At first I wasn't sure this statement re: reprex was necessarily true, because reprex does quiet some messages about within-the-tidyverse masking by default (it's controlled by an argument). So I checked. But yes it really is true in this case.

Just for posterity, if people use reprex, the plyr masking problem is called out.

---
Case A: load dplyr and plyr as individual packages

[code]

Created

[2018-05-17 20:57] krlmlr opened #3581 "Document behavior for grouped data frames in mutate() and filter()"
Also mention when it makes a difference: only for expressions where the result doesn't solely depend on data from the same row. As soon as aggregates, lagging or ranking functions etc. are involved, the result in the grouped case is fundamentally different.

[2018-05-17 22:45] karaesmen commented on #3505
I was having the same problem recently on

R version 3.4.3 (2017-11-30)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.4 LTS

Even the following was causing my session to crash:
[code]
Reinstalling `dplyr` solved the problem for me.

[2018-05-17 23:43] hadley opened #3582 "all.equal.tbl_df doesn’t compare NaN correctly"
On phone, but just needs simple reprex of one row one col df containing NaN

[2018-05-17 23:56] krlmlr commented on #3582
Works for me in 0.7.4, though:

[code]

[2018-05-18 08:35] rkrug opened #3583 "csv files as dbplyr backend?"
Hi

It might be already possible, but I can't find it:

Can I use standard .csv files (or any variant thereof) as a backend for dplyr / dbplyr?

My scenario is to have the possibility to initially store data in csv files on github (as sqlite is binary and github is not that binary friendly it makes the choice of sqlite initially less suitable), but it will be later necessary to use an external dat

[2018-05-18 08:55] krlmlr opened #3584 "last_col() not reexported from tidyselect?"
CC @lionel-.

[2018-05-18 12:58] hadley commented on #3583
It’s not currently possible, and if implemented would be a separate package (and mostly likely it would be by someone in the community, not us)

[2018-05-18 12:58] #3583 closed

[2018-05-20 13:29] hadley commented on #3562
Because `pull` is implemented on top of `select()`, and select preserves grouping vars.

[2018-05-20 13:32] hadley commented on #3541
Can you please include the SQL needed to create a view in your reprex?

[2018-05-20 13:33] hadley commented on #3534
This issue doesn't seem to be related to dplyr, and you have failed to provide code that we can easily run as requested.

[2018-05-20 13:33] #3534 closed

[2018-05-20 13:35] hadley commented on #3531
@edgararuiz can you please move this issue to odbc and then close this issue? I've added you as a collaborator on the dplyr repo so you can now close issues (and label them) — I should've done this ages ago!

[2018-05-20 13:36] #3529 closed

[2018-05-20 13:40] hadley commented on #3524
You're looking for `sql()`

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 13:40] #3524 closed

[2018-05-20 13:41] hadley commented on #3521
I think the right way to fix this is to modify `sql_case_when` for all databases, using something like the approach you propose. I'd be happy to review a PR.

[2018-05-20 13:43] hadley commented on #3515
Minimal reprex

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 13:44] hadley opened #3585 "Reprex guide for dbplyr"
Show how to use `lazy_frame()` plus `simulate_xyz()` to generate SQL translation reprex

[2018-05-20 13:46] hadley commented on #3513
I see this:
[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

Let me see what I need to update to fix it.

[2018-05-20 13:48] hadley opened #3586 "Bump dbplyr dependency versions"

[2018-05-20 13:48] hadley commented on #3513
Updating DBI didn't help; updating RPostgres did.  I'll bump versions of all required dependencies in the next release: #3586

[2018-05-20 13:48] #3513 closed

[2018-05-20 13:51] hadley commented on #3500
I think this is a matter of providing a better default translation for `::` - for dplyr functions it should use SQL translations, rather than evaluating the function locally.

Minimal reprex

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 13:54] hadley commented on #3493
@edgararuiz do you want to take this one?

Minimal reprex:

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 13:58] hadley commented on #3484
Can someone please provide a link to a good NOLOCK description, and discuss where it fit most naturally in dbplyr? As an attribute of the `tbl()`?

[2018-05-20 14:01] hadley commented on #3470
This is out scope of the current SQL translation.

[2018-05-20 14:01] #3470 closed

[2018-05-20 14:03] hadley commented on #3450
Could you please rework your reproducible example to use the [reprex package](http://reprex.tidyverse.org) ? That makes it easier to see both the input and the output, formatted in such a way that I can easily re-run in a local session.

[2018-05-20 14:03] hadley commented on #3404
@edgararuiz can you make a reprex with one of our MSSQL databases?

[2018-05-20 14:09] hadley commented on #3399
I think most of the issues are because you forgot to use `vars()`, which is required with `summarise_at()`. The other issue is a duplicate of #3500

Minimal reprex:

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 14:09] #3399 closed

[2018-05-20 14:11] hadley commented on #3382
Setting up a database as case insensitive seems like a bad idea in general? Unfortunately, I don't think it's worth the additional dbplyr complexity to fix this corner case for one database system.

[2018-05-20 14:11] #3382 closed

[2018-05-20 14:13] hadley commented on #3378
You can also use `lubridate::` to force local evaluation of that code

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 14:13] #3378 closed

[2018-05-20 14:15] hadley commented on #3375
Minimal reprex:

[code]

I'm not sure if there's anything we can do here. I guess we could translate `x %in% c()` to `FALSE`?

[2018-05-20 14:17] hadley commented on #3374
Within a variable expression, dbplyr can only translates vector operations, not other whole table operations. This is out of scope.

[2018-05-20 14:17] #3374 closed

[2018-05-20 14:17] #3370 closed

[2018-05-20 14:27] hadley commented on #3355
I think the solution here is rather than using `dplyr::src_postgres()`, instead make a connection using RPostgres (not RPostgreSQL) so we can use its built-in `dbWriteTable()` rather than the code I clearly had to write to work around some bug in RPostgreSQL.

[2018-05-20 14:28] #3352 closed

[2018-05-20 14:30] hadley commented on #3347
You need to specify some ordering in your dplyr call:

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 14:30] #3347 closed

[2018-05-20 14:31] hadley commented on #3345
This looks more like a RPostgres issue than a dplyr issue. I'd recommend creating a proper reprex (even if it runs only on your computer it's more likely to get a response than your current problem, which is very vague).

[2018-05-20 14:31] #3345 closed

[2018-05-20 14:32] #3343 closed

[2018-05-20 14:32] hadley commented on #3338
Closing since there was no answer.

[2018-05-20 14:32] #3338 closed

[2018-05-20 14:33] hadley commented on #3330
I'd say now you should just use odbc.

@WaterworthD odbc definitely does support dplyr.

[2018-05-20 14:33] #3330 closed

[2018-05-20 14:34] hadley commented on #3306
@edgararuiz do you want to take this one?

[2018-05-20 14:35] hadley commented on #3305
@edgararuiz do you want to have a go at this one too?

[2018-05-20 14:38] hadley commented on #3295
Minimal reprex

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 14:39] hadley commented on #3295
Compare with `mutate()` which correctly creates the nested subquery:

[code]

[2018-05-20 14:40] #3264 closed

[2018-05-20 14:42] hadley commented on #3262
Minimal reprex

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 14:45] hadley commented on #3236
@edgararuiz can you please close the loop here?

[2018-05-20 14:48] hadley commented on #3205
This is currently out of scope for dbplyr sql translation.

[2018-05-20 14:48] #3205 closed

[2018-05-20 14:50] hadley commented on #3200
@edgararuiz can you please close the loop here?

[2018-05-20 14:53] hadley commented on #3197
Minimal reprex

[code]

I suspect this is a RPostgres issue, not a dplyr one, but let me check.

[2018-05-20 14:54] hadley commented on #3197
It is not:

[code]

runs without errors.  It's possible dbplyr takes a different root because of the pre-existing shims.

[2018-05-20 14:56] hadley commented on #3183
I now see

[code]

Created on 2018-05-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-20 14:56] #3183 closed

[2018-05-20 14:57] hadley commented on #3183
I suspect you'll need to switch to RPostgres to get the more consistent behaviour.

[2018-05-21 01:09] mkirzon commented on #3484
There are 2 ways NOLOCK can be set - on individual tables (most common) or on a global level for the connection. Since the table-level usage is common, its support in dbplyr could be a good place to start and agree it fits most naturally in `tbl()`.

I like this writeup on SQL Server NOLOCKs: https://www.mssqltips.com/sqlservertip/2470/understanding-the-sql-server-nolock-hint/
Here's the full refe

[2018-05-21 05:41] mgirlich commented on #3375
@hadley it would make sense imho and be the same behaviour as for local dataframes. I already did a [PR](https://github.com/tidyverse/dbplyr/pull/69) for this behaviour.

[2018-05-21 08:32] foundinblank commented on #3541
I created the view via a different avenue (using PopSQL and/or Sequel Pro). It's a generic CREATE VIEW statement, something like this:

[code]

Let me know if that helps...

[2018-05-21 14:26] hadley commented on #3541
Can you please make a complete reprex including actual sql required to make a simple view? I have hundreds of issues I could work on and anything you can do you to make this one easier for me is appreciated.

[2018-05-21 15:12] foundinblank commented on #3541
Done, @hadley! The second half of the reprex shows me creating a `mtcars` table, then a view of it (`mtcars_view`), then attempting to query the view, which gives me the same `Prepared statement needs to be re-prepared [1615]` error.

I am able to use other SQL programs to verify that `SELECT * FROM mtcars_view` returns expected results. It's just inside R that I can't work with views, only with t

[2018-05-21 18:40] javierluraschi opened #3587 "left_join() over empty grouped data frame produces error in dplyr 0.7.5"
Found out that this works in `dplyr 0.7.4`:

[code]

[code]

but not in `dplyr 0.7.5`:

[code]

We found and pushed a fix for `sparklyr` with https://github.com/rstudio/sparklyr/pull/1510, but reporting to consider fixing upstream.

[2018-05-21 23:59] mikldk opened #3588 "Installation error: `error: ‘create_env_string_wrapped’ was not declared in this scope`"
I get an error when I try to install `dplyr` (both from CRAN with `install.packages("dplyr")` and from Github using `devtools::install_github("tidyverse/dplyr")`).

I have tried forking and added namespace`bindrcpp` to `create_env_string_wrapped` (`bindrcpp::create_env_string_wrapped`) in `hybrid.cpp` but that apparently isn't the problem.

Can anybody figure out what's my problem?

Output from in

[2018-05-22 01:02] mikldk commented on #3588
I just want to share that commit 97fb286714f0c6bb58db6df347c27eb86b9dbfd7 for 0.7.4 release gives the same error, but commit ed3e4dd1fdbf056e3fb062fddda75514eb9b6ce8 for 0.7.3 release is able to install.

[2018-05-22 16:57] cjyetman opened #3589 "first() does not work without explicit x argument in a chain inside mutate"
When using `first()` (or `last()`) in a chain inside a `mutate()` (or `filter()`) command, the `x` argument has to be explicitly set. This is easy to work around in numerous ways, but the behavior seems strange, so maybe it points to something not quite right.

examples (using R v3.5.0 and dplyr v0.7.5)...
[code]

[2018-05-22 22:50] edgararuiz commented on #3200
Yes, I'll be glad to.  My Hive service is down now, so I'll circle back as soon as I have somewhere to test @sz-cgt suggestion

[2018-05-22 22:52] edgararuiz commented on #3493
Yes, I'll be glad to take it.

[2018-05-22 22:55] edgararuiz commented on #3236
Sure. What I'll do is work on a PR for this, and ask if @ablack3  can test before marking as ready for review by you.

[2018-05-22 23:00] edgararuiz commented on #3305
Yes, I'll take it

[2018-05-22 23:02] edgararuiz commented on #3306
Yes, I'll take this one

[2018-05-23 00:53] edgararuiz commented on #3404
Ok,  here are the results:

[code]

[2018-05-23 01:12] chunjiw commented on #3404
I just created this reprex, and I edited out the connection password and other info, but the code is intact.
Thank you for looking into this!
[code]

[2018-05-23 01:27] edgararuiz commented on #3404
Oh ok, that's what I thought.  Can you try using the `RMariaDB` package instead of the `RMySQL` one? https://github.com/r-dbi/RMariaDB

[2018-05-23 01:33] chunjiw commented on #3404
Wonderful, the problem is gone using `RMariaDB`. Thank you very much! I will close this issue.

[2018-05-23 01:33] #3404 closed

[2018-05-23 01:47] edgararuiz commented on #3541
Ok, does your MySQL `options` file sets the `database` (https://dev.mysql.com/doc/refman/8.0/en/mysql-command-options.html#option_mysql_database) or some related switch?  As per this article: https://dev.mysql.com/doc/refman/8.0/en/create-view.html, the View is created in the *default* database, so if the `options` file changes that somehow, then that may be the root cause of the problem.  Also, c

[2018-05-23 05:39] cderv commented on #3521
OK I'll work on something.

[2018-05-23 13:20] foundinblank commented on #3541
I'm not using an `options` file here (no `.my.cnf` file). The default database is set to `reporting` which is where all these tables and views are made, and which I have access to. `SHOW DATABASES;` shows the reporting db which I'm connected to. Using `dbSendQuery(reporting, 'USE reporting;')` does not change the results when I attempt to query or pull rows from a view.

I know, it's a weird issue

[2018-05-23 13:44] foundinblank commented on #3541
Sure. Same problem.

[code]

[2018-05-23 16:22] larmarange opened #3590 "recode do not preserve variable label"
[code]

Label attribute has been lost (`y` do not have any label attribute).

Note: it is not specific to label attribute, but to any label attached to `x`.

[2018-05-23 17:54] ramongallego opened #3591 "Suggestion for .id in bind_rows"
When you bind 2 tibbles, you can create an .id column to keep track of the original tibble they came from. If you want to add a third tibble to the newly created tibble, bind_rows creates a new .id variable, even if the name specified is the same.

So my suggestion would be, if the .id column already exists, to get the counter continuing from where the last tibble left it

[2018-05-23 18:55] edgararuiz commented on #3541
oh wait, does `SHOW DATABASES` only displays `reporting`? Is that both the only and the default db in the server?

[2018-05-23 21:56] dustindall opened #3592 "Inconsistency self join and pipping"
I ran into an issue trying to self join on a table.

[code]
The code produced the following error -

  no applicable method for 'tbl_vars' applied to an object of class "c('fseq', 'function')"

I could not find this issue else where. After sometime playing around with it, I noticed the error went away if i put the ```.``` inside the ```select``` statement.

[code]

 I do not know if this is intent

[2018-05-24 07:10] krlmlr opened #3593 "Accessors for the "groups" attribute"
Accessing the `"groups"` attribute happens at too many places scattered in the R and C++ code. Ideally, only one class (or set of R functions) would be in charge of handling this attribute.

https://github.com/tidyverse/dplyr/pull/3574#pullrequestreview-119849030

[2018-05-24 07:37] yutannihilation opened #3594 "scoped functions won't work with tbl_lazy when the function is created by ~"
This fails (if I use `funs()` instead of `~`, it works):

[code]

The error comes from here: https://github.com/tidyverse/dbplyr/blob/81419cab7d831e5a9d7e4279a4f893fa5750e8a1/R/tbl-lazy.R#L124

The root cause seems that `partial_eval()` won't accept expressions that generate a function in-place:

[code]

Another example here:

[code]

The fix would probably come around here, but I didn't come up w

[2018-05-24 09:08] foundinblank commented on #3541
Running `dbGetQuery(reporting, "SHOW DATABASES;")` displays several other databases too with which I have access to. But does that matter...? All my `db**` commands use `conn = reporting` in them.

[2018-05-24 13:38] adder opened #3596 "bind_rows fails with data_frame containing NULL"
Hey
I stumbled upon this issue while using `unnest()` from `tidyr`.
But I could trace the error back to `bind_rows()`

This is a minimal example.

[code]

I would expect that only the second dataframe is returned.

Greetz