[2015-04-23 13:05] #1086 closed

[2015-04-23 14:07] justa9 commented on #955
This workaround works:

[code]

however it would be nice if "mutate" understood that internally.

[2015-04-23 20:59] pwalaszek opened #1099 "Rowwise doesn't work with grepl"
Hi,
   I try to use grepl with rowwise and it doesn't work. Even when I use rowwise grepl takes all rows together. Small example: I want to find rows where First is in Second string:
[code]
I got warning:
Warning message:
In grepl(c("string1", "string2"), c("Sentence with string1", "something" :
  argument 'pattern' has length > 1 and only the first element will be used

[2015-04-23 21:09] matthieugomez opened #1100 "select_vars"
I'd like an extension of select_vars that accepts a dataframe as the first argument and returns a character vector.

`select_vars(iris, starts_with("Petal"))`

would be equivalent to

`select(names(iris), starts_with("Petal"))`

[2015-04-24 08:33] holgerbrandl opened #1101 "More descriptive error message needed if column names are NA"
names(iris)[1] <- NA
    iris %>% filter(Species=="setosa")
    iris %>% arrange(Species)

Both calls give

    Error in if (any(names2(x) == "")) {
    missing value where TRUE/FALSE needed

and it is not clear that the problem is a column which is not used at all in the method call. It should rather say something like
"Error: Column(s) with missing name(s) in input table. To use dplyr all column

[2015-04-24 09:32] romainfrancois commented on #1099
Actually `filter` does not know at all about `rowwise` and treats the data as if it was not rowwised.

[2015-04-24 09:47] romainfrancois commented on #1101
And the error leads directly to `as_data_frame`:

[code]

[2015-04-24 13:08] mbannert commented on #893
Got the same problem, was to able to 'fix' it by multiplying with 1.0, too. However, I don't feel like this should be the solution... ?

[2015-04-24 13:44] #879 closed

[2015-04-24 13:48] romainfrancois commented on #879
Besides the issue of making the index only once, there was a very insidious problem I had a hard time to track, essentially related to garbage collection.

Anyway, I'm getting this now:

[code]

This is probably going to be improved further when use some parallelization as the core of `filter` is embarrassingly parallel.

@marciz what you report here is unrelated to the the initial issue. Can you

[2015-04-24 13:50] romainfrancois commented on #893
You definitely should not have to resort to tricks like multiplying by `1.0`. I'll pick it up.

[2015-04-24 18:18] seandavi opened #1103 "Killing a query results in "close resultSet before continuing""
I suspect that this is at the level of DBI/driver and not dplyr, but interrupting a query results in:

[code]

I did not find an obvious way to close the resultSet without reaching into the connection itself (and that didn't appear to do the trick, either).  Would it make sense to implement a dbClearResult on the src_XXX classes?

[2015-04-24 18:22] romainfrancois commented on #893
Right, I get:

[code]

so :

[code]

The first gives us a `int` and the second gives us a `num`. That's what's confusing internals.

[2015-04-24 19:04] romainfrancois commented on #893
Right now, `dplyr` considers that the expression will give the same types for all groups and protects us against that, hence the error message. `loss of precision when attempting to convert a numeric to an integer`

Perhaps we could have some sort of promotion mechanism instead.

e.g. for the few few groups we get `int` and then for the next groups we get `num` so we switch to collecting `numeric`

[2015-04-24 20:53] marciz commented on #879
@romainfrancois I think #984 is about the same what I mentioned here

Thanks

[2015-04-24 23:37] hadley commented on #893
@romainfrancois that seems like a reasonable strategy to me. Ideally we should be able to use the same code for this, combine and the joins.

[2015-04-25 03:03] jennybc opened #1104 "bind_rows(): accept lists?"
[This tweet](https://twitter.com/hadleywickham/status/591620579465293824) reminded me of this wish.

Sometimes I am disappointed that `bind_rows()` insists that its input already be data.frames. In that sense, it's not a drop-in replacement for `data.table::rbindlist()`. Any chance `bind_rows()` might accept a list of lists?

[code]

[2015-04-25 10:21] romainfrancois commented on #893
Well it's not exactly the same situation, but I guess some logic can be shared.

[2015-04-25 12:26] romainfrancois commented on #1104
I can probably relax that a bit. starting from here:

[code]

Maybe instead of a `StrictListOf<DataFrame, NULL_or_Is<DataFrame> >` I could use something like a `StrictListOf<Bindable>` where Bindable is allowed to be `NULL`, a `data.frame`  or a list with some constraints, e.g. that all the components have equal lengths or something.

[2015-04-25 12:31] hadley commented on #1104
I think it would be reasonable to accept:

* NULL (ignore)
* data frame (as currently)
* a named list where each element is the same length

Maybe call it dataframeable or something like that? dataframeish?

(If we accept lists and null here, we should consider doing it for other verbs too, although maybe it's not so important because `bind_rows()` is usually done once early in the data import pro

[2015-04-25 12:42] hadley opened #1105 "New approach for dealing with custom classes"
I think our existing approach for dealing with attributes and S3 classes is too conservative. In practice, there are very few S3 classes where the attributes are vectorised (the most important exceptions is probably `dim` and .`names` but they are not associated with specific S3 classes).

For single-table verbs, this means we can just copy over the attributes from the original vector. For two-tab

[2015-04-25 16:34] lionel- commented on #1104
But then how is `bind_rows()` going to be able to make the difference between a list to be taken as a data frame and a list of data frames, in case this list happens to be named? Wouldn't the data frames be taken as components of a list-column inside one dataframeable list, instead of a list of data frames to bind together?

Also linked to #992 if it gets merged.

[2015-04-26 01:13] romainfrancois commented on #1105
I agree. We can always track counter examples of this and adapt.

[2015-04-26 19:55] TopShelfData opened #1106 "Introduction to dplyr for Faster Data Manipulation in R"
Trying to work down the above exercise, but have the following issue:
Warning in install.packages :
  package ‘SQLite’ is not available (for R version 3.2.0)

[2015-04-26 21:42] imanuelcostigan opened #1107 "db_query_fields.DBIConnection calls non-existent S4 generic"
In dplyr 0.4.1, `db_query_fields.DBIConnection` calls `dbListFields(qry)` where `qry` inherits from `DBIResult`. However, such a method is non-existent in the DBI package (I've also checked dev version).

[2015-04-27 11:44] hadley commented on #1106
You need the RSQLite package

[2015-04-27 11:44] #1106 closed

[2015-04-27 13:33] ajdamico opened #1108 "numeric overflow might need warning"
reproducible example

	library(dplyr)
	library(readr)

	tf <- tempfile()
	download.file( "http://downloads.cms.gov/FILES/HCRIS/HOSP10FY2013.zip" , tf , mode = 'wb' )

	z <- unzip( tf , exdir = tempdir() )
	nmrc <- read_csv( grep( 'NMRC' , z , value = TRUE ) , col_names = F )

	# Warning message:
	# In sum(nmrc$X5, na.rm = TRUE) : integer overflow - use sum(as.numeric(.))
	sum( nmrc$X5 , na.rm = TR

[2015-04-27 14:59] joranE commented on #511
I have also just been stopped short by this bug. `x == 1` is not a solution when building queries programmatically, and the `x %in% c(1)` hack doesn't work anymore. I would love for this to see a higher priority.

[2015-04-27 18:52] hadley commented on #511
@joranE are you sure you can't add the parens yourself? `x %in% (c(1))`

[2015-04-27 19:44] joranE commented on #511
_Pretty_ sure...when I do that, if the vector is longer than one element it duplicates the parens and gives me a SQL syntax error. For example, `x %in% (c(1,2,))` yields `"x" IN ((1.0, 2.0))`.

[2015-04-27 21:17] bergsmat commented on #1083
At the moment, I cannot install_github('dplyr') on Windows (8), but using ref= works with the commit cited above. Error for head of master is something about wrong number of template arguments.

[2015-04-27 21:41] bergsmat opened #1110 "distinct_.grouped_df selects only one instance of each combination of grouping variables"
Consider:

[code]
The help for ```distinct``` just says it is an efficient version of ```unique```, but clearly they are different for ```grouped_df```, with ```distinct``` stripping repeats of keys not just records.  Seems surprising and possibly dangerous.  If intended, it is worth a mention in the help or in the vignette e.g. http://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.htm

[2015-04-28 00:13] nicolasCoutin opened #1111 "combinatorial / super / power set grouping of variable"
### synopsis

[code]

### details

I am wondering if there is a place for combinatorial grouping such that one could `summarise` over groups of observations not just according to a variable but also according to the combinations of that variable (when working with discrete/categorical data). IMHO this would be very handy for a lot of things.

Consider `mtcars` and it's `cyl` variable:

[code]

I w

[2015-04-28 20:41] sfirke commented on #148
One more who ended up here hoping for a suffix option.  Or a function like rename_each to pipe in before the join.

[2015-04-28 23:00] ateucher opened #1112 "`do()` loses ordering of ordered factors"
When executing an arbitrary function on a grouped data frame using `do()`, ordered factors lose their order:

[code]

[2015-04-29 07:06] Mullefa opened #1113 "bind_rows() bug"
I have come across a bug in `bind_rows()` whilst playing around with Twitter's package [AnomalyDetection](https://github.com/twitter/AnomalyDetection). Hopefully the following code gives enough information on the matter:

[code]

[2015-04-29 10:31] imanuelcostigan opened #1114 "Make build_query a generic and implement methods"
`build_query()` calls `sql_select()` to pull together the SQL statement that is passed to a `Query` constructor. The `sql_select()` method is generic and can have connection specific methods. However, `build_query()` is not. Would it make sense to make this an exported generic function so that downstream dependencies are less problematic?

[2015-04-29 15:32] kkmann opened #1115 "Feature Request: convert columns to classes"
Hey,

I often end up manually converting single columns of my data because an Excel import did not recognize the types correctly (or a column is logical, which is not supported by readxl::read_excel()), i.e. doing something like data$var0 <- as.logical(data$var0) etc.

Would it not be great, to have a verb like 'reclass' doing something like reclass(data, var0 = "logical", ...) where ... gets pass

[2015-04-29 15:37] hadley commented on #1115
I think in this case it would be just better if readxl read logical columns correctly. Otherwise it's a fairly straightforward apply operation:

[code]

A wrapper for this would seem more natural in purrr.

[2015-04-29 15:37] #1115 closed

[2015-04-29 19:44] romainfrancois commented on #1113
I guess it's because `bind_rows` does not know how to handle `POSIXlt`:

[code]

I can either explicitly express that we don't handle them, or handle them. @hadley ?

[2015-04-29 19:45] romainfrancois commented on #1113
Hmm, in fact I'm getting this:

[code]

[2015-04-29 21:55] Mullefa commented on #1113
Sorry - only realised tonight that  columns of class`POSIXlt` aren't supported by dplyr. If this continues to be the case, I think it would be worth mentioning in the error `bind_rows()` returns.

[2015-04-30 06:07] Mullefa commented on #1104
+1 for accepting `NULL`'s.

As an example, it would be convenient if both these cases returned the `iris` data set (similar functionality to `rbind()` in this respect):

[code]

[2015-04-30 07:17] romainfrancois commented on #1113
That's the case with the current error msg on the devel version: `POSIXlt not supported`

[2015-04-30 07:19] romainfrancois commented on #965
This appears to have been fixed:

[code]

Please reopen if not.

[2015-04-30 07:19] #965 closed

[2015-04-30 07:26] romainfrancois commented on #959
This appears to have been fixed.

[code]

I've added a unit test.

[2015-04-30 07:26] #959 closed

[2015-04-30 07:29] romainfrancois commented on #1080
We're getting this now:

[code]

So `distinct` does not support `POSIXlt` but does not crash.

[2015-04-30 07:34] romainfrancois commented on #1080
So I'm closing this for now. We might get back to it if we decide to support `POSIXlt` across dplyr sometime.

[2015-04-30 07:34] #1080 closed

[2015-04-30 11:55] romainfrancois commented on #1110
Hmm. That's because at least the ay it's implemented, passing no argument to distinct on a grouped data frame means get distinct values of the grouping variables, which is different from getting distinct values using all columns, which is what the non grouped version does.

We'd need I guess to either change the logic in this function:

[code]

or internally here:

[code]

[2015-04-30 12:02] romainfrancois commented on #1105
#650 has some issue references

[2015-04-30 12:03] romainfrancois commented on #650
With #1105, I think we can close this.

[2015-04-30 12:03] #650 closed

[2015-04-30 13:38] bergsmat commented on #1110
Actually, the interpretation "get distinct values of the grouping variables" would be fine if only grouping variables were returned.  I like the broader understanding (analog to unique).  With either, there are quick ways to generate the other.  Thanks for considering.

[2015-04-30 13:44] romainfrancois commented on #1105
In `filter`, should we check for existence of `[.foo` and fall back to this

[2015-04-30 14:08] romainfrancois commented on #1105
I started this in the `dealing-custom-classes` branch. This was mostly updating the test cases and simplifying some internal code (for the visitors).

For now, all the visitors have this in their various `subset` methods:

[code]

This simply copies attributes from the original vector into the filtered vector. This is I guess the extreme opposite of the previous implementation.

This is good enoug

[2015-04-30 14:35] gwerbin commented on #1100
Forgive me if I'm being slow, but isn't that just what `select` does?

[2015-04-30 14:47] hadley commented on #1105
I'm happy to continue to throw an error for `POSIXlt` objects - as more people start to use readr, we'll encounter this less and less.

It would be useful to spell out exactly what we need from a vector - subsetting, hashing, comparison and combining?

[2015-04-30 16:09] jennybc commented on #1104
Related wish for the new and improved `bind_rows()`: an ID variable. If you are row binding a list of data.frames or conformable lists, there's a high chance you want the names from the original list to come in as a variable in the result. This is one of the very best things about, e.g., `plyr::ldply()`, which I still resort to often in `dplyr`-ish projects.

[2015-04-30 16:16] lionel- commented on #1104
I wrote a PR for this, #825, which will need to be adapted to what I did in #992 (if it is still relevant).

[2015-04-30 16:27] hadley opened #1118 "Need d_ply equivalent"

[2015-04-30 16:43] romainfrancois commented on #1118
I can handle the chunking of the data internally to limit the number of copies, i.e. similar to what we use internally with `ShrinkableVector` but for data frames. This could be useful in `do` as well.

[2015-04-30 18:25] hadley commented on #1118
Oooh, that would be nice!

[2015-05-01 11:17] cezden opened #1119 "left_join by column that differs in type between joined data.frames crashes session"
Simple test case:

t1 <- data.frame(a=1:10, b=LETTERS[1:10])
t2 <- t1 %>% mutate(a=as.character(a)) %>% rename(b_ = b)
left_join(t1,t2)

causes:

Joining by: "a"

 *** caught segfault ***
address 0xfffffffffffffff8, cause 'memory not mapped'

Traceback:
 1: .Call("dplyr_left_join_impl", PACKAGE = "dplyr", x, y, by_x,     by_y)
 2: left_join_impl(x, y, by$x, by$y)
 3: left_join.tbl_df(tbl_df(x), y,

[2015-05-01 11:26] romainfrancois commented on #1119
This appears to have been fixed in the development version; Please reopen otherwise.

[code]

[2015-05-01 11:26] #1119 closed

[2015-05-01 13:56] matthieugomez commented on #1100
`select` accepts a dataframe and returns a dataframe while `select_vars` accepts a character vector and returns a character vector.

[2015-05-01 14:56] romainfrancois commented on #1068
Could be as simple as :

[code]

Perhaps slightly more involved if you also want `movefirst_`

[2015-05-01 17:06] kioja commented on #1068
Yes I agree, but, by the same argument, `rename` should not exist:
    iris %>% select(Sepal.Length2 = Sepal.Length, everything())

[2015-05-01 17:07] matthieugomez commented on #1068
I agree, but, by the same argument, rename should not exist:

    iris %>% select(Sepal.Length2 = Sepal.Length, everything())

[2015-05-04 14:03] jakeyeung opened #1120 "dplyr do() crashes if it returns a complex value"
I want to use do() to transform data into complex values, but it is consistently crashing when I try to do so.

Example:
[code]

Running this causes RStudio to crash. It seems to crash when it tries to return a complex value.

Any suggestions on how to handle this?

[2015-05-04 17:14] abicky opened #1121 "mutate_impl doesn't drop last group"
`mutate_impl` doesn't drop the last group and the results are different between data.frame and data.table as you can see below:

[code]

[2015-05-04 20:20] dgromer opened #1122 "summarise_ does not find function"
This works:
[code]
This doesn't:
[code]
It returns the following error:
`Error in summarise_impl(.data, dots) : could not find function "myfunc"`

[2015-05-04 20:34] hadley commented on #1122
See the NSE vignette for why

[2015-05-04 20:34] #1122 closed

[2015-05-04 20:43] dgromer commented on #1122
Thanks

[2015-05-05 01:20] cswarth opened #1124 "dplyr cannot handle data frames with unrecognized types?"
Is it just an inherent limitation that if `dplyr` is to be fast, it has to recognized the type of every column? I **love** dplyr and tidyr and am so surprised when I find something that doesn't work.
This is unfortunate,
[code]

[code]

[2015-05-05 11:57] hadley commented on #1124
Duplicate of #1105

[2015-05-05 11:57] #1124 closed

[2015-05-05 12:49] blasern opened #1125 "bind_rows POSIXct bug"
The `bind_rows` function seems to have difficulties handeling `as.POSIXct(NA)`. It also returns the rather unhelpful message

Below are some simple examples.

    # bind_rows does not work
    bind_rows(data.frame(date = as.POSIXct(NA)),
              data.frame(date = as.POSIXct("2015-05-05")))
    ## Error during wrapup: incompatible type (data index: 2, column: 'date', was collecting: POSIXct,

[2015-05-05 13:11] blasern commented on #1125
This may be an issue with timezones?

    dput(as.POSIXct(NA))
    ## structure(NA_real_, class = c("POSIXct", "POSIXt"))
    dput(as.POSIXct("2015-05-05"))
    ## structure(1430776800, class = c("POSIXct", "POSIXt"), tzone = "")

The two versions with the same timezones work:

    bind_rows(data.frame(date = structure(NA_real_, class = c("POSIXct", "POSIXt"), tzone = "")),
              data.fram

[2015-05-06 14:34] chrisaxelson commented on #859
At the moment I'm also importing with haven and then removing all attributes before going any further with dplyr.
[code]
I'm personally happy if the attributes aren't kept since you have to remove them anyway.

[2015-05-06 21:01] kykuo opened #1127 "Installation problem - Reducer.h:6:115: error: wrong number of template arguments"
[code]

[2015-05-07 16:19] GShotwell commented on #549
Interesting packages related to this issue called loopr. http://cran.r-project.org/web/packages/loopr/vignettes/Looping.html

It seems like this would run into some problems with large datasets but still very interesting syntax IMO.

[2015-05-07 19:15] jwpestrak commented on #1066
That did the trick. Thanks.

[2015-05-07 22:54] jwpestrak opened #1129 "full_join fill NA option similar to reshape2:::dcast fill argument"
*(possible) enhancement

Apologies if this functionality exists already, but after reading through the `dplyr` source on GitHub and searching Google, I have not yet found a way to pass a non-NA value in place of NA for `full_join()`.

That is, for fields in the data frame which results from a `full_join()` call, it'd be great to pass in a different value for NAs; similar to `reshape2:::dcast(, fil

[2015-05-08 12:50] hadley commented on #1129
Unfortunately it's not possible because there are many possible field types (character, integer, date etc)

[2015-05-08 12:50] #1129 closed

[2015-05-08 18:12] jhofman commented on #549
@datalove: that sounds like a great idea.

even an uninformed cmd+opt+p that simply did this with the first n rows of a data frame would be a nice start. then things can get smarter over time to deal with things like joins and filters that would require that consistent subsets are taken to ensure non-trivial output, following the techniques for Pig's ILLUSTRATE.

[2015-05-11 03:16] daattali opened #1130 "all.equal(tbl_df, tbl_df) does not print newlines"
When comparing two `tbl_df` objects, all their differences are listed as one continuous string without line breaks.

[code]

Output:

[code]

dplyr v0.4.1

[2015-05-11 19:09] antoine-lizee opened #1131 "do(data, fun) should drop value if fun returns NULL"
This was a very handy feature of plyr::ddply, and it would be great to have it with do(). The main advantage is that you can do something like:
[code]
...without the need to build an empty data.frame in the first case.

[2015-05-12 22:04] davharris commented on #876
This issue was referenced on @jennybc's Twitter account [today](https://twitter.com/JennyBryan/status/598242239773483008), so I thought now might be a good time to chime in.

I also use @klmr's pattern very frequently (except my code usually looks more like `as.data.frame(stringsAsFactors = FALSE) %>% tbl_df`).

I'm not sure I understand @hadley's concern about speed.  I thought that generics only

[2015-05-12 22:07] jdthorpe opened #1132 "Typo in `percent_rank()`?"
In trying to understand what 'percent_rank' does, I took a peak at the code and found the expression `length(!is.na(x))`.  I can't think of any situation in which `length(x) != length(!x)` and I suspect that `length()` should be replaced with `sum()`

[2015-05-12 22:55] hadley commented on #876
@davharris I'm concerned about speed because sometimes I apply `as_data_frame()` to a list that contains >100,000 things. Some of that might go away if `rbind_rows()` could work with lists directly, but I need to think it through and do some benchmarking.

[2015-05-13 02:10] antoine-lizee opened #1134 "[BUG?] filter() throws error after group_by() %>% do()"
It took me a while to create a reproducible example - I hope this is not double posting (see #278 - similar problem supposed to be solved?). It seems that there is a problem with the lazy evaluation:

[code]

[2015-05-13 05:41] davharris commented on #876
@hadley Okay, I hadn't realized it would be called that many times.

Here's some quick benchmarking that might be useful.

[code]

Here are the results on my laptop:

[code]

It looks like this dispatch implementation increases the computation time on a half-million lists from 25.6 seconds to 26.8 seconds.

It probably makes sense to do more extensive benchmarking (for example, would things slow d

[2015-05-13 13:13] hadley commented on #876
@davharris thanks - that seems reasonable and suggests that I shouldn't worry about it. I'll make the change when I'm next working on dplyr. An efficient implementation of `as_data_frame.matrix()` in C++ should be reasonable simple.

[2015-05-13 15:58] davharris commented on #876
@hadley Perfect. Thanks.

[2015-05-15 00:02] umyarov commented on #1134
I can confirm that I experience the same issue. Adding `ungroup()` before `filter()` solves the issue
[code]

[2015-05-15 02:29] michaelweylandt opened #1138 "Non-syntactic names in select + group_by"
Should dplyr support non-syntactic (backtick-required) names for columns?

Minimal reproducible example:

[code]

The problem seems to be in [select_.grouped_df](https://github.com/hadley/dplyr/blob/master/R/grouped-df.r#L84). In particular, it's tripping over the following funny interaction between non-syntactic names / lists / `as.character`:
[code]
Because of the additional backticks, not all e

[2015-05-15 09:47] finity84 commented on #511
I have the same behavior using 0.4.1, adding the parens duplicates it for multiple elements.

[2015-05-15 13:40] chasset opened #1139 "A data.frame gives different results if it is formatted with `tbl_df` or not."
Hello Hadley,
I would like first to thank you for this great package. It saves me much more than time.
I notice that a command gives different results using `tbl_df` or not.
Suppose first that you use a data.frame like `iris`. Your purpose is to work on the first column: `Sepal.Length`. You have two ways to access this column, depending if you know the name of the column or not. Each command gives

[2015-05-15 13:45] hadley commented on #1139
Use `iris[[1]]` to always get the first column.

[2015-05-15 13:45] #1139 closed

[2015-05-15 15:14] chasset commented on #1139
Thanks

[2015-05-15 17:14] chang648 opened #1140 "[dplyr] group_by%>%do"
I keep getting the following error when I used group_by%>% but it works when I used the ddply.  Anyone knows if it is a bug?!
Error in is.data.frame(x) :
  (list) object cannot be coerced to type 'double'
try<-function(x){
a<-sd(x[,"mpg"])
b<-sum(x[,"mpg"])
ha<-data.frame(b,a)
return(ha)
}
mtcars%>%group_by(cyl)%>%do(try(.))
ddply(mtcars,.(cyl),try)

[2015-05-15 21:19] joranE opened #1141 "Joins crashing R on Windows in R 3.1.2"
Was sharing some code with someone on Windows and discovered this behavior:

    R version 3.1.2 (2014-10-31)
    Platform: x86_64-w64-mingw32/x64 (64-bit)

    locale:
    [1] LC_COLLATE=English_United States.1252
    [2] LC_CTYPE=English_United States.1252
    [3] LC_MONETARY=English_United States.1252
    [4] LC_NUMERIC=C
    [5] LC_TIME=English_United States.1252

    attached base packages:

[2015-05-16 03:47] akhmed-u commented on #1140
The following works for me:
[code]

[2015-05-17 00:00] acthomasca commented on #952
Just tried it again, still segfaults (quite a bit).

[2015-05-18 09:19] kendonB commented on #145
+1

[2015-05-18 11:19] richierocks opened #1142 "mutating, arranging, summarizing empty data frames fails with "not compatible with STRSXP""
To reproduce:

[code]
The `_` versions also fail.

`select`, `filter`, `group_by` work OK.

Related: [\[ fails inside mutate](https://github.com/hadley/dplyr/issues/912)

[2015-05-18 11:32] mdsumner commented on #859
Here's another example just in case someone is looking:

library(rworldmap)
data(countriesLow)
library(dplyr)
as_data_frame(as.list(as.data.frame(countriesLow)))  %>% filter(SOVEREIGNT == "Angola")
Error: column 'ScaleRank' of type integer has unsupported attributes: levels

I fix it with:

o[] <- lapply(o, function(x) {if(isTRUE(all.equal(attr(x, 'levels'), character(0)))) {attr(x, 'levels')  <-

[2015-05-18 23:16] Kaggle-Meetup-NYC opened #1143 "rename mutate!"
I love, love, love dplyr -- let me say that first. But I object to using "mutate" to describe the addition of a new variable to a data frame based on the manipulation of other variables. "Mutate" is a synonym for "change" (but with a somewhat negative connotation), but in dplyr the command doesn't just *change* a dataset, it *adds* to it. In biology, for example, a mutation (usually) leaves the nu

[2015-05-19 00:11] yanlinlin82 commented on #1143
I guess `mutate` is a name wihch could avoid conflicts. If rename, why not just some kind of neutral words such as `change` or `modify`.

Another simplier proposal would be `set` and/or `unset`:
[code]

[2015-05-19 08:36] romainfrancois commented on #859
This is being taking care of in #1105, i.e. in the dealing-custom-classes branch. Could you check if it works with this branch ?

[2015-05-19 11:44] mdsumner commented on #859
Yes, it does fix my issue. Thanks!

[2015-05-19 13:04] hadley commented on #1143
You can also use mutate to change existing variables and to delete them (by setting to NULL).

Regardless, this ship has sailed - it's too late to change the name now.

[2015-05-19 13:04] #1143 closed

[2015-05-19 13:39] hmalmedal opened #1144 "Segmentation fault when grouping on non-ascii name in large data frame"
I ran this file with Rscript

[code]

and got

[code]

[2015-05-19 14:05] hadley opened #1145 "Count/tally() need to use na.rm = TRUE"

[2015-05-19 15:12] hadley commented on #1144
@romainfrancois can you please take a look? For 0.4.2 just ensuring that it doesn't crash is sufficient

[2015-05-19 15:13] hadley commented on #1141
You need to reinstall Rcpp to fix this problem.

[2015-05-19 15:13] #1141 closed

[2015-05-19 15:13] #1140 closed

[2015-05-19 15:15] hadley commented on #1134
Minimal reprex:

[code]

probably something to do with rowwise

[2015-05-19 15:17] hadley commented on #1131
(This is separate to `bind_rows()` issues as the check occurs in `do.data.frame()`)

[2015-05-19 15:23] hadley commented on #1130
This needs a few internal changes: BoolResult class needs to store a character vector rather than a std::string in order to return multiple differences.

[2015-05-19 15:26] hadley commented on #1121
It's not supposed to drop the last group.  The problem is that `mutate.data.table` does:

[code]

[2015-05-19 15:26] hadley commented on #1120
This works for me. Can you please try the dev version?

[2015-05-19 15:27] #1113 closed

[2015-05-19 15:27] hadley commented on #1112
This is probably a `bind_rows()` problem

[2015-05-19 15:28] hadley commented on #1111
This is a relatively uncommon need, so it's unlikely to be included in dplyr in the near future.

[2015-05-19 15:28] #1111 closed

[2015-05-19 15:29] hadley commented on #1108
@romainfrancois could you please take a look? If it's a lot of work we can push off until 0.5

[2015-05-19 15:29] hadley commented on #1105
I've tagged this for 0.4.2. Do you think that's feasible?

[2015-05-19 15:31] hadley commented on #1100
Doesn't seem like a big win to me - it only saves one character!

[2015-05-19 15:31] #1100 closed

[2015-05-19 15:32] hadley commented on #1093
I'm not in love with this idea, but we can iterate in the PR.

[2015-05-19 15:32] #1093 closed

[2015-05-19 15:33] #1087 closed

[2015-05-19 15:33] hadley commented on #1084
It would be equivalent to `n_distinct(interaction(a, b))`

[2015-05-19 15:35] hadley commented on #1078
See #631

[2015-05-19 15:35] #1078 closed

[2015-05-19 15:37] hadley commented on #1069
Seems of minimal use to me.

[2015-05-19 15:37] #1069 closed

[2015-05-19 15:37] #1068 closed

[2015-05-19 15:38] hadley commented on #1064
@romainfrancois can we also preserve all data frame attributes?

@DavisBrian do you expect `summarise()` to keep attributes too?

[2015-05-19 15:39] hadley commented on #1059
Unfortunately I don't have the resources to support more database backends. But there's a vignette that describes how to create your own, and I'm happy to help out.

[2015-05-19 15:39] #1059 closed

[2015-05-19 15:40] hadley commented on #1056
I'd rather stick with the SQL definitions of joins (since that behaviour is well known) and encourage people to use `anti_join()`/`semi_join()` to check their work.

[2015-05-19 15:40] #1056 closed

[2015-05-19 15:41] hadley commented on #1055
I think this is because `distinct()` doesn't use the grouping vars: #1110.

[2015-05-19 15:41] #1055 closed

[2015-05-19 15:43] hadley commented on #1054
I'm extending the data table class so I'm pretty sure my class names should come first.

[2015-05-19 15:43] #1054 closed

[2015-05-19 15:44] hadley commented on #1052
I think `n_distinct()` should gain argument `na.rm = FALSE`.  If you want to drop NAs, you'd do `na.rm = TRUE`.

[2015-05-19 15:45] hadley commented on #1050
This is the behaviour you expect from SQL - it does integer division.

[2015-05-19 15:45] #1050 closed

[2015-05-19 15:45] hadley commented on #1048
It isn't documented anywhere because it's experiemental.

[2015-05-19 15:45] #1048 closed

[2015-05-19 15:47] #1041 closed

[2015-05-19 15:47] hadley commented on #1040
Please file a reproducible example

[2015-05-19 15:48] hadley commented on #1037
I think maybe that's the same goal as https://github.com/hadley/tidyr/issues/14 ?

[2015-05-19 15:48] #1037 closed

[2015-05-19 15:49] hadley commented on #1035
I think that ship has sailed and adding aliases will now increase net confusion.

[2015-05-19 15:49] #1035 closed

[2015-05-19 15:49] hadley commented on #1034
Duplicate of #511

[2015-05-19 15:49] #1034 closed

[2015-05-19 15:50] #1033 closed

[2015-05-19 16:03] DavisBrian commented on #1064
@hadley I would not expect summarise() to keep attributes.  In my mind summarise() represents different data.  The other functions are more or less just subsets and orderings of the same data.  Or at least thats my use case.

[2015-05-19 16:07] hadley commented on #1031
Duplicate of #1067

[2015-05-19 16:07] #1031 closed

[2015-05-19 16:08] hadley commented on #1030
It used to be a warning (I think), but that was also painful in other situations.

[2015-05-19 16:08] #1030 closed

[2015-05-19 16:08] hadley commented on #1028
Now part of #1105

[2015-05-19 16:08] #1028 closed

[2015-05-19 16:09] hadley commented on #1024
Can you please create a minimal reprex that I can copy and paste into R?

[2015-05-19 16:11] #1019 closed

[2015-05-19 16:12] hadley commented on #1017
Works for me. Seems more likely to be a bug in `data.frame()` though.

[2015-05-19 16:12] #1017 closed

[2015-05-19 16:12] hadley commented on #1016
Now part of #1105

[2015-05-19 16:12] #1016 closed

[2015-05-19 16:13] hadley commented on #1015
Duplicate of #1105

[2015-05-19 16:13] #1015 closed

[2015-05-19 16:13] #1014 closed

[2015-05-19 16:14] hadley commented on #1012
I like that idea. It's a generalised form of `one_of()` for all verbs.

[2015-05-19 16:15] hadley commented on #1011
Think of it like mutate.

[2015-05-19 16:15] #1011 closed

[2015-05-19 16:17] hadley commented on #1005
I agree, but it's unlikely to happen in the near future :/

[2015-05-19 16:17] #1005 closed

[2015-05-19 16:17] #1004 closed

[2015-05-19 16:18] #1003 closed

[2015-05-19 16:19] #999 closed

[2015-05-19 16:19] hadley commented on #998
@romainfrancois is this now fixed?

[2015-05-19 16:20] hadley commented on #997
It's not currently possible, and I think it will be quite difficult to implement :/

[2015-05-19 16:20] #997 closed

[2015-05-19 16:20] #982 closed

[2015-05-19 16:20] #978 closed

[2015-05-19 16:21] #976 closed

[2015-05-19 16:21] hadley commented on #975
I think we need to think about what dplyr should implement as a whole, but this is probably some time away.

[2015-05-19 16:21] #975 closed

[2015-05-19 16:22] hadley commented on #972
Bummer :/

[2015-05-19 16:22] #972 closed

[2015-05-19 16:23] rubenarslan commented on #1054
Sorry, I didn't mean to suggest your class names shouldn't come first – but if dplyr is extending the dt class, it would be better if printing didn't break when dt functionality (`:=`) is later used.

[2015-05-19 18:12] hadley commented on #964
Probably a paging issue. But the dplyr backend is now in bigrquery, so could you please file this bug there?

[2015-05-19 18:12] #964 closed

[2015-05-19 18:12] hadley commented on #963
Hmmm, I don't think this is going to be easy to make work for remote sources. For now, just don't do it :/

[2015-05-19 18:12] #963 closed

[2015-05-19 18:13] hadley commented on #962
Yes. Unfortunately I don't have the resources to maintain any more database backends but the process for making a new backend is relatively simple and documented in a vignette. I'm happy to help out.

[2015-05-19 18:13] #962 closed

[2015-05-19 18:16] #961 closed

[2015-05-19 18:17] hadley commented on #953
It doesn't seem like a terribly likely failure mode to me, but I'd be happy to review a PR.

[2015-05-19 18:17] #953 closed

[2015-05-19 18:18] hadley commented on #950
You'll need to `rm(); gc()` to trigger the cleanup.

[2015-05-19 18:18] #950 closed

[2015-05-19 18:19] hadley commented on #944
`sweep()` seems like a fundamentally a matrix type operation to me.

[2015-05-19 18:19] #944 closed

[2015-05-19 18:20] hadley commented on #943
This seems sufficiently esoteric that I don't think it needs to be built into dplyr.

[2015-05-19 18:20] #943 closed

[2015-05-19 18:21] hadley commented on #942
The problem is that scale makes a matrix. This works:

[code]

[2015-05-19 18:21] #942 closed

[2015-05-19 18:26] hadley commented on #921
It seems like reasonable behaviour to me. And it does print a message telling you which column it's using...

[2015-05-19 18:26] #921 closed

[2015-05-19 18:27] hadley commented on #1121
Duplicate of #919

[2015-05-19 18:27] #1121 closed

[2015-05-19 18:28] hadley commented on #916
That's because it has to use some heuristics to figure exactly what you want when you combine both positive and negative indices. I'm fairly confident that existing behaviour causes the minimum confusion.

[2015-05-19 18:28] #916 closed

[2015-05-19 18:29] #929 closed

[2015-05-19 18:29] hadley commented on #904
`id()` is on its way out, so I'd rather fix this in tidyr.

[2015-05-19 18:29] #904 closed

[2015-05-19 18:32] #902 closed

[2015-05-19 18:34] hadley commented on #890
I get the expected result.

[2015-05-19 18:34] #890 closed

[2015-05-19 18:36] hadley commented on #887
Now gives error message.

[2015-05-19 18:36] #887 closed

[2015-05-19 18:36] hadley commented on #885
I'd recommend either turning into a data frame or using tidyr

[2015-05-19 18:36] #885 closed

[2015-05-19 18:37] hadley commented on #884
I'd rather keep it as a separate function.

[2015-05-19 18:37] #884 closed

[2015-05-19 18:38] #878 closed

[2015-05-19 18:39] hadley commented on #875
Want to do a pull request? (Although it might be a month or so before I can review in detail)

[2015-05-19 18:39] #875 closed

[2015-05-19 18:40] hadley commented on #864
It's unfortunately difficult to cover every possible abuse. I'm pretty happy with the way `select()` operates currently, and the code is already pretty complicated.

[2015-05-19 18:40] #864 closed

[2015-05-19 18:41] hadley commented on #860
The warning message seems correct to me.

[2015-05-19 18:41] #860 closed

[2015-05-19 18:41] #859 closed

[2015-05-19 18:41] #853 closed

[2015-05-19 18:42] hadley commented on #845
I'd recommend asking questions like this on SO or on the manipulatr mailing list.

[2015-05-19 18:42] #845 closed

[2015-05-19 18:43] #839 closed

[2015-05-19 18:44] hadley commented on #758
That feels like a different verb to me.

[2015-05-19 18:44] #758 closed

[2015-05-19 19:09] holstius commented on #916
Ah. Was trying to use it to reorder columns efficiently---moving a group of columns to the leftmost or rightmost position(s), in particular.

David

[2015-05-19 19:34] silvaac opened #1146 "full_join is not working"
Toy example sample code:

[code]
x1 and x2 are different. I would expect x2 since "a" is appended to the end.
This is x2:

[code]

But x1 from full_join is:

[code]

[2015-05-19 20:19] Mullefa commented on #875
Will try and find the time to submit a pull request - month till review
suits me as I'm pretty busy atm
On 19 May 2015 19:39, "Hadley Wickham" <notifications@github.com> wrote:

[2015-05-19 20:19] Mullefa commented on #758
Good point. Completely agree.
On 19 May 2015 19:44, "Hadley Wickham" <notifications@github.com> wrote:

[2015-05-19 20:23] hadley opened #1147 "Special case abbreviated class names for data frames"

[2015-05-19 20:27] hadley opened #1148 "bind_cols should silently drop NULLs (and accept lists)"
To match behaviour of `bind_rows()`

[2015-05-19 21:31] jjchern opened #1149 "Will labelled vectors be supported in the future version?"
Will labelled vectors (from the `haven` package) be supported in future versions? I tried the branch `dealing-custom-classes `, but it's still not working at the moment.

[code]

[2015-05-19 21:33] hadley commented on #1149
Duplicate of #1105

[2015-05-19 21:33] #1149 closed

[2015-05-19 22:10] hadley opened #1150 "Find all unique combinations"
Something that's an efficient equivalent of

[code]

(sorting should be optional)

@lionel- or is this what you were thinking of?

[2015-05-19 22:18] lionel- commented on #1150
hmm I don't think so. In this example you find all unique combinations of some variables.

But what I need is a function that checks that all selected variables have unique values in the same rows, and then make a data frame with the distinct values. A vector of identifiers could be given as an optional additional check.

With typical multilevel data, this would allow to separate group-level data

[2015-05-20 01:47] jennybc opened #1151 "data_frame() returns a data.frame"
This is a minor issue but I discovered it in testing something else. If you use `data_frame()` to make a zero row, zero column `tbl_df` … instead, you get a `data.frame` back.

[code]

[2015-05-20 08:37] rasmusrhl opened #1154 "group_by() fails with class POSIXct, POSIXt"
#### group_by() fails with class POSIXct, POSIXt

Reproducible example:
[code]
Gives med this error:
[code]

[code]

[2015-05-20 13:39] hadley opened #1155 "Faulty error message"
[code]

Looks like it should be a simple fix

[2015-05-20 16:49] holstius opened #1156 "Renaming multiple variables prefixes column positions instead of names"
It seems like `select()` has a great intention here. Per `?select`,

    # Renaming multiple variables uses a prefix:
    select(iris, petal = starts_with("Petal"))

This results in names `petal1` and `petal2`. Why not `petalPetal.Length` and `petalPetal.Width`?

If `select()` retained the column *names*, instead of column positions, I think it would be much more useful for prefixing prior to join

[2015-05-20 18:16] #1127 closed

[2015-05-20 19:57] svannoy opened #1157 "group_by causes a column to be semi-permanent ?"
[code]

[2015-05-20 21:19] bergsmat commented on #1024
[code]

[2015-05-20 21:23] hadley commented on #1157
If you don't want the grouping variable, `ungroup()` the data

[2015-05-20 21:23] #1157 closed

[2015-05-20 23:51] klmr commented on #944
I agree that `sweep` is a fundamental operation. But at the moment it’s not usable with dplyr/tidy data style format in any real sense. At the very least, dplyr would need to provide an overload that allows selecting columns in a `select`/`mutate_each` kind of way (e.g. `sweep(…, -A, -B)`). As already mentioned, the `mutate_each` is essentially *incomprehensible* (I *still* don’t know why it works

[2015-05-21 07:08] piccolbo opened #1158 "transmute can't use existing col as name"
I noticed the difference between these two queries

[code]
because the second discards the expression 2*g and produces what I think are incorrect results. The two expressions applied to a data frame produce the same results save for a different col name. Also, `mutate` seems to produce very similar queries and the correct results

[code]

[2015-05-21 08:00] blasern opened #1159 "print.tbl_df mungles duplicate column names"
Duplicated column names are made unique (call to `make.unique`) before printing. This is related to [Issue #820](https://github.com/hadley/dplyr/issues/820) and [Issue 896](https://github.com/hadley/dplyr/issues/896), where the duplicated column names cause additional problems. Part of the problems to these issues is that they are harder to notice because of the printing issue.

    # create data

[2015-05-21 11:44] richierocks opened #1161 "print.tbl_df is very slow for wide datasets"
Printing wide datasets is very slow due to the printing of all the column names that weren't shown.

Here's an example dataset with 1 row and 1e5 columns.  (Many genomics datasets are much wider than this, so it isn't unrealistically large.)

[code]
Even if you limit the width of the printed content, the part where all the names are printed takes a long time.

[code]

[2015-05-21 12:03] richierocks commented on #1161
There are a couple of optimisations that can be made in `print.trunc_mat`.  If you add a call to `flush.console()` after `print(x$table)`, then at least the user is guaranteed to be able to see their data while the column name printing calculations are happening.

If you change

[code]

to

[code]

then (on my machine, with the example in the original issue comment) the printing time is reduced fr

[2015-05-21 12:35] hadley commented on #1161
Seems like it might be reasonable to print only the first 100 extra column names or so?

[2015-05-21 13:58] richierocks commented on #1161
Yeah, that sounds fine.  I don't think anyone will bother to actually read any more than that, and they can always use `colnames` if they really want to see the rest.

[2015-05-21 14:58] #1147 closed

[2015-05-21 15:16] hadley commented on #1155
Already fixed by #1076

[2015-05-21 15:16] #1155 closed

[2015-05-21 15:23] hadley commented on #1144
I've fixed it so it doesn't crash. Proper resolution will require handling encodings properly in 0.5.

[2015-05-21 15:23] #1120 closed

[2015-05-21 15:23] hadley commented on #1108
Need to get 0.4.2 out ASAP for CRAN, so lets push this off

[2015-05-21 15:24] hadley commented on #971
This isn't a crasher, so putting off until 0.5

[2015-05-21 15:27] hadley commented on #952
Can you please run R with a debugger (e.g. `R -d gdb` or `R -d lldb`) so we can get a backtrace of exactly where the code is failing?  If you haven't used a debugger before, there are some notes at http://r-pkgs.had.co.nz/src.html#src-debugging

[2015-05-21 15:27] hadley commented on #915
Not a crasher, so putting off until 0.5.

[2015-05-21 18:09] piccolbo commented on #1158
it boils down to transmute_ using `select(table, one.of(keep))`. There are two cols with the same name (not possible with DFs AFAIK) and one.of goes for the first, at least not both. But I think this can be fixed because the ambiguity between columns can be resolved, with some pain. Imagine the new cols are temporarily named whatever_new, then the select happens, then they are renamed to whatever.

[2015-05-21 18:22] cho7tom commented on #642
Dear Hadley, Sumprain,
I see this issue is closed but I have a very similar error, is the bug fixed? Thank you very much in advance for your views on this and congratulations for the great work to the whole RStudio's team!

I am using **dplyr v0.4**

### Problem:

I have a 'dplot' dataframe in the Global Environment:

    dplot %>%
    group_by_("date", "Apigroup.Cd") %>%
    summarise_(LT = "medi

[2015-05-21 22:14] imanuelcostigan commented on #1105
Added link: https://github.com/hadley/haven/issues/57

[2015-05-21 22:24] imanuelcostigan commented on #1105
Getting an install error when trying to install the `dealing-custom-classes` branch. Installing from master branch is fine.

[code]

Also session info:

[code]

[2015-05-21 22:36] kevinushey commented on #1105
Need to merge / rebase for this PR: https://github.com/hadley/dplyr/pull/1152

[2015-05-21 23:57] brendan-R opened #1162 "Feature request - rbind_all type coercion: 'Just do it' option?"
With `rbind_all` on large amounts of data (many dfs, many cols), the ''incompatible type" messages can often be painful to diagnose.

A *"Do whatever it takes, with warnings!"* option (with a default of `FALSE`), would be fantastic.

I suppose this would mean potentially promoting any column to character (maintaining `NA`s).

This would be amazing. It's often much easier to tidy up a variable with

[2015-05-22 11:56] sumprain commented on #642
The bug has been sorted out. The problem, I think is in NSE SE conversion. I am getting correct results if I use the following (using `~`)

[code]

If you go through the vigenette `dplyr::nse`, @hadley mentions that it is best to use `~` as it captures both the expression and the environment associated with it.

Bye.

[2015-05-22 14:29] krlmlr commented on #883
I'm seeing a perhaps related error with using data.table in R packages. I cannot build a package that contains the following code in one of its R files (as standalone expression):

[code]

Example package: https://github.com/krlmlr/dplyr.summarize.dt

Relevant Travis result: https://travis-ci.org/krlmlr/dplyr.summarize.dt/builds/63657065#L1027

(A different error occurs if `data.table` is not part

[2015-05-22 19:08] SRMR commented on #505
Thank you!

[2015-05-22 19:53] piccolbo opened #1163 "unique_name not compatible with HIVEQL"
It seems HiveQL doesn't like underscore names. Monkey-patching unique_name fixes this. Per your message, making this a generic is the solution

Example session:

[code]

If repro is needed, please ask me.

[2015-05-23 03:36] imanuelcostigan opened #1164 "sql_quote assumes quoting character is same at beginning and end"
This is not necessarily the case. For example, the safest way to escape an identifier on SQL Server is to quote them as such `[SQL_IDENITIFIER]` rather than `"SQL_IDENTIFIER"`as the the use of `"` as delimiters for identifiers can depend on the whether the [`QUOTED_IDENTIFIER` option](https://technet.microsoft.com/en-us/library/aa224033(v=sql.80).aspx) as been set.

This is not a big deal as the d

[2015-05-23 08:25] romainfrancois commented on #998
Note sure. I'll have a look.

[2015-05-24 20:42] ajdamico opened #1165 "monetdb: mutate() fails to generate correct window expression"
# start in an empty directory somewhere
	# setwd( "C:/My Directory/MonetDB" )

	# # # # # # # # # START OF SETUP - no editing required

	library(dplyr)
	library(MonetDB.R)

	batfile <-
		monetdb.server.setup(
			database.directory = paste0( getwd() , "/MonetDB" ) ,
			monetdb.program.path =
				ifelse(
					.Platform$OS.type == "windows" ,
					"C:/Program Files/MonetDB/MonetDB5" ,
					""
				) ,

[2015-05-25 05:28] ajdamico opened #1166 "introduction.Rmd uses an example data set that does not import to SQL"
it has a bunch of illegal column names, which might be confusing to a beginner trying to get dplyr working on a database

[2015-05-25 05:30] ajdamico opened #1167 "many many lines of the introduction vignette do not work with monetdb. here is a walk-through."
# start in an empty directory somewhere
	# setwd( "C:/My Directory/MonetDB" )

	# # # # # # # # # START OF SETUP - no editing required

	library(ggplot2)
	library(dplyr)
	library(MonetDB.R)
	library(nycflights13)

	batfile <-
		monetdb.server.setup(
			database.directory = paste0( getwd() , "/MonetDB" ) ,
			monetdb.program.path =
				ifelse(
					.Platform$OS.type == "windows" ,
					"C:/Program

[2015-05-25 13:22] hadley commented on #1165
@hannesmuehleisen any thoughts?

[2015-05-25 13:23] hadley commented on #1166
That should all automatically be handled by dplyr. Do you have a specific problem?

[2015-05-25 13:25] hadley commented on #1167
I think it would be best to file this with MonetDB.R. cc @hannesmuehleisen

[2015-05-25 13:25] #1167 closed

[2015-05-25 13:45] ajdamico commented on #1166
ccing @hannesmuehleisen

specific problem: i think your vignette only works cleanly for tables already loaded in ram.  i thought dplyr's database integration was a central feature of the package, so using an example table that doesn't import into a sql database as-is seems like it might throw off your more inexperienced users.  not a big deal

i don't understand how dplyr would "handle it" in the

[2015-05-25 18:11] Henrik-P opened #1168 "Error using "median" in summarise_each"
In `summarise_each`, `funs` can be specified as a "character vector of function names". However, when specifying `"median"`, an error is generated:
`Error in summarise_impl(.data, dots) : could not find function "median"`

Specifying `funs(median)` works though. Small example:

    df <- data.frame(grp = rep(1:2, each = 2), x = 1:4, y = 5:8)
    df

    # does not work
    df %>% group_by(grp) %>%

[2015-05-25 20:47] Henrik-P opened #1169 "Documentation: remove some references to _q"
1. In the Index, there are entries for `mutate_each_q` and `summarise_each_q`. However, there are no such functions in the actual help text.

2. In the Argument section of `?summarise_each`, there is a reference to `_q` functions which needs to be rephrased: "For standard evaluation versions (ending in `_q`)"

3. In the Examples section of `?fun`, `funs_q` is mentioned in a comment ("# If you have

[2015-05-26 07:50] Henrik-P opened #1170 "summarise_each_: vars cannot be missing"
From the description of `vars,...` in the Arguments section of `?summarise_each_`:
"If missing, defaults to all non-grouping variables."

However, if `vars` is missing in `summarise_each_`an error is generated. Using the last example in the help text, but without variable specification:

    summarise_each_(iris, funs(max))
    # Error in colwise_(tbl, funs_(funs), vars) :
    # argument "vars" is

[2015-05-26 10:16] Alectoria opened #1171 "Hidden copy-making with tbl_df"
Is there a way to avoid hidden copy-making with tbl_df()? I am processing large data frames and calling tbl_df() takes too long. Here a demo (with a much smaller data frame):

    df <- data.frame(x=rnorm(10^7), x=rnorm(10^7))
    library(dplyr)
    tracemem(df)
    [1] "<0x7feaf1e107c8>"

    t1 <- Sys.time()
    df <- tbl_df(df)
    tracemem[0x7feaf1e107c8 -> 0x7feaf1dcc6b0]: as.list.data.frame

[2015-05-26 12:17] hadley commented on #1169
Would you like to try making a pull request? I suspect it would take as much time to make the changes as it does to precisely describe the problem.

[2015-05-26 12:18] hadley commented on #1171
What version of dplyr do you have? I get:

[code]

[2015-05-26 12:38] Henrik-P commented on #1169
I would like to try, yes. However, I have never made a PR before, so please allow for some time to let me learn it properly.

[2015-05-26 22:17] piccolbo commented on #709
+1 for hiveQL

[2015-05-26 22:48] piccolbo commented on #96
Any chance we'll have methods for tbl_sql for these joins? I am not sure if it's included in "add methods for everything"

[2015-05-27 01:00] hadley commented on #96
@piccolbo can you please open a new issue so I don't lose track of this?

[2015-05-27 03:03] piccolbo opened #1172 "Add right and outer join methods for tbl_sql"
continuing from #96

[2015-05-27 04:26] Alectoria commented on #1171
I have v0.4.1. But just reinstalled R and all packages and the times haves improved. - Strange. But problem solved. Thanks!

[2015-05-27 10:47] bartbisschops commented on #738
I had the same problem after updating to the latest version of dplyr.

Use of  any join function would either give the error:

Error in withCallingHandlers(tryCatch(evalq((function (..., call. = TRUE, : object '.rcpp_warning_recorder' not found

or completely crash rstudio

after running install.packages('Rcpp') dplyr couldnt find the Rcpp package anymore. install.packages('dplyr') then fixed the

[2015-05-27 11:41] edwindj opened #1173 "mutate_each/summarise_each output inconsistent names"
Calling `summarise_each` (and `mutate_each`) with one named function, the name of the function
is ignored. (It is I think a `colwise_` issue).

[code]
I was expecting  "Sepal.Length_m1", "Sepal.Width_m1".

[2015-05-27 14:15] #1105 closed

[2015-05-27 14:16] romainfrancois commented on #1105
I merged the changes from the branch. @imanuelcostigan can you have another go from the master branch and reopen if this does not work for you ?

[2015-05-27 14:17] hannesmuehleisen commented on #1166
This issue is MonetDB.R's `dbWriteTable`. `YEAR` is a SQL reserved word, and should be escaped. Will fix this in the next release.

[2015-05-27 14:26] romainfrancois commented on #998
This looks like a problem in `Rcpp`. I am:
 - working on a workaround for `dplyr` for now.
 - submitting a PR to `Rcpp` asap.

[2015-05-27 14:55] #998 closed

[2015-05-27 19:28] skranz opened #1175 "Feature or bug? arrange sorts strings differently than sort (and characters other than factors)"
Consider this example:
[code]
I just wondered whether it is on purpose that the last arrange sorts the characters in a different fashion or a bug?

Here is the output:
[code]

[2015-05-27 22:12] imanuelcostigan commented on #1105
Fixed at my end. Thanks! :+1:

[2015-05-28 03:56] ebergelson commented on #341
+1 , any status updates here? love summarise, need to keep empty levels!

[2015-05-28 05:20] gunapemmaraju opened #1176 "select(): negation of non-match gives no vars, instead of all vars"
In dplyr, I want to exclude columns which contain the word "junk" but, there may not be any column that contain the word "junk". In that case, dplyr should return all columns. But it returns none. See unit test case below.

[code]

More at

http://stackoverflow.com/questions/30496930/in-dplyr-select-with-a-drop-does-not-work

[2015-05-28 07:54] blasern commented on #1176
This is because `contains` returns `integer(0)` if it does not find any match. `-integer(0)` is still `integer(0)`. An easy fix would be to return `-seq_along(vars)` instead.

    contains <- function (vars, match, ignore.case = TRUE)
      {
        stopifnot(is.string(match), nchar(match) > 0)
        if (ignore.case) {
          vars <- tolower(vars)
          match <- tolower(match)
        }

[2015-05-28 08:01] ajdamico commented on #1166
thanks hannes, sorry to bother you hadley

[2015-05-28 08:01] #1166 closed

[2015-05-28 11:08] hannesmuehleisen commented on #1165
Will investigate....

[2015-05-28 13:32] matthieugomez commented on #1056
I'm not arguing with the sql definition. an option to check 1m 11 mm m1 matching is orthogonal to the definition of sql join. Sorry to insist.

[2015-05-28 13:40] matthieugomez commented on #1056
Maybe dplyr could return a message with the name on variables matched + "the join turned out to be 1:m" (or m:1 1:1)

[2015-05-28 14:08] matthieugomez commented on #1105
Awesome thanks!

[2015-05-28 14:17] wsurles commented on #341
@ebergelson, Here is my current hack to get zero-length groups. I often need this so my bar charts will stack.

Here df has 3 columns: name, group, and metric

    df2 <- expand.grid(name = unique(df$name), group = unique(df$group)) %>%
        left_join(df, by=c("name","group")) %>%
        mutate(
          metric = ifelse(is.na(metric),0,metric)
        )

[2015-05-28 14:28] bpbond commented on #341
I do something similar–check for missing groups, then if any generate all combinations and `left_join`.

Unfortunately, it doesn't seem like this issue is getting much love...perhaps because there is this straightforward workaround.

[2015-05-28 23:15] piccolbo opened #1177 "Additional generics to support new databases"
Related to #1163 , I found myself to have to write some methods from scratch to support sparkSQL (see @RevolutionAnalytics/dplyr.spark) that do what methods for other databases do with minor variations. I am not sure it's feasible nor urgent to provide some intermediate layer of abstraction, but I thought I'd list them here since it seems bad from a code reuse standpoint and maybe supporting new D

[2015-05-29 01:23] piccolbo opened #1178 "unclear code from database.Rmd"
[code]

I may be dense, but what is the relation between aviation and baseball that motivates this? Like, baseball teams often travel by plane?  Not sure that's a strong enough connection

[2015-05-29 03:31] ebergelson commented on #341
@wsurles, @bpbond thanks, yes i used a similar workaround to what you suggest! would love to see a built-in fix like .drop.

[2015-05-29 08:03] cjyetman opened #1179 "dplyr::distinct doesn't match identical strings with different encoding"
This is very similar to https://github.com/hadley/dplyr/issues/603 but with distinct instead of inner_join.

If a column has different encodings on otherwise identical strings, distinct will return both rows as distinct. This is inconsistent with many other methods of checking for identical rows or strings in base R.

Seems like an error or warning when there are mixed encodings, or forcing all st

[2015-05-29 12:27] yifeizhang opened #1180 "why rename function failed to give output when start_with option used"
The select function works fine when I try to rename variables according to certain conditions
[code]
However when I try to keep all the other variables using
[code]
I have no idea why dplyr complains about this. If this behabior is intended, what is the right way to rename variables using starts_with (or contains) while keeping other variables there?

[2015-05-29 13:17] yifeizhang commented on #1180
I got reply from stackoverflow that the following code does the job
[code]

I am still wondering why rename is not supported in this case.

[2015-05-29 16:54] piccolbo opened #1181 "nse for joins"
I was wondering why an expression such as

[code]

is not allowed whereas

[code]
is. It seems it would be more consistent with the syntax of, say, filter

[code]

Thanks

[2015-05-29 19:12] hadley commented on #1181
Early design mistake :/  I'm going to figure out how to fix it at some point.

[2015-05-29 19:26] piccolbo commented on #1181
great thanks

[2015-05-29 20:07] mjacobs commented on #383
Hi, just curious- was there ever a pull request or any other discussions on this topic?

[2015-05-29 20:52] piersharding commented on #383
Hi -

The requirements for ImpalaDB are such that it does not behave like other DB interfaces on JOINs, and ORDER BY so I always to had to modify the way that they are performed in the standard dplyr API.  This may change as the ImpalaDB (based on the Hive) interface matures, but for this reason and the reliance on the RJDBC interface (that doesn't support all the DBI features necessary) made it a

[2015-05-29 21:13] mjacobs commented on #383
Ok, thanks. Just FYI, I'm not sure it's an Impala bug. What if hofid had different types in the two tables you're joining, e.g. one is a SMALLINT and the other is an INT. Would the outer column reference have the type SMALLINT or INT? I can imagine just "picking one", but that's kind of ambiguous.

[2015-05-29 23:18] jinsca opened #1182 "get() function no longer working"
Hi all,
In version dplyr_0.4.1, the following code will not work but in version dplyr_0.4.0 it does work:

format1 <- function(dataset, grp, var){
    result.df <- dataset %>%
      group_by(get(grp)) %>%
      summarise_each(funs(mean, max, min), get(var))

  return(result.df)
}

format1(mtcars, "cyl", "mpg")

The error I get when trying to run "format1" is:
Error in get("cyl") : object 'cyl' not

[2015-05-30 00:25] matthieugomez opened #1183 "hybrid handler for quantile"
It would be great to have an hybrid hander for quantile. For now it is orders of magnitude slower than mean:

[code]

Since quantile has so many options, maybe a function called `qtile` which implements only one kind (the kind used for `ntile`).

[2015-05-30 01:31] piersharding commented on #383
With the JOIN, I would think that the optimiser should figure out what type it has used for the join (relating to the the original example I provided) and then bubble that up to the outer selection and realise that it should take one of the original selection values and cast to this to the equated type.  I don't know exactly what SQL interfaces for databases such as PostgreSQL and MySQL do, but th

[2015-05-30 02:34] hadley commented on #1182
Use `group_by_` and see the NSE vignette.

[2015-05-30 02:34] #1182 closed

[2015-05-30 03:18] mjacobs commented on #383
The types can be comparable but there isn't necessarily a "correct" type to
use as the result. E.g. a SMALLINT and an INT can be compared, though
clearly only values that fit within a SMALLINT are possible matches. Maybe
you would choose to then use the SMALLINT as the type of the column you
selected, but there's no "correct" answer. I think either is somewhat
arbitrary. I just checked postgres, a

[2015-05-30 14:38] hadley opened #1184 "count/tally need to ungroup"
(before sort)

[2015-05-30 17:43] matthieugomez opened #1185 "Create a group_indices as a new variable"
Some packages like `ggplot2` act on groups defined by one variable only (as opposed to groups defined by several variables). It would be nice to have a function, say `group()`, that creates a new integer variable from groups defined by multiple variables:

[code]

This function could also have a na.rm  argument. The default should return a missing value for the observation if some grouping variabl

[2015-05-30 17:50] mtingley opened #1186 "segfault 'memory not mapped' in R 3.2.0 for OS X 10.10.3"
I recently updated R to 3.2.0 and now I am having repeatable segfault crashes whenever I load a package. The error happens on package load. All packages (and dependencies) have been recently installed from CRAN, as was R. This happens with 'dplyr' (see below), but also any package in the 'gg' family, and a few others I have discovered (e.g., 'rgdal'). Other things ('sp', 'rjags', etc.) run fine.

[2015-05-31 16:29] lionel- opened #1187 "group_by_() fails with columns starting with underscores"
It happens with the non-NSE version of `group_by()`:

[code]

[2015-05-31 17:05] jjchern opened #1188 "Reorder variables in a data frame?"
Is there a way to order variables using dplyr's functions? That is, I was looking for an equivalent function of Stata's [`order` command](http://www.stata.com/help.cgi?order).

An example data frame:
[code]

To reorder variables in `df`, one can use `df = df[, c(state, year, var)]`. But I was wondering if there is a dplyr single table verb to do the same thing.

[2015-05-31 20:07] tonyfischetti commented on #1188
[code]

like that?

[2015-05-31 21:49] jjchern commented on #1188
Excellent! Thank you!

Is this `everything()` a base R function? I can't find anything through `?everything` and `??everything` in my R Studio's console.

[2015-06-01 02:27] tonyfischetti commented on #1188
`everything()` is in dplyr's [select-utils.R](https://github.com/hadley/dplyr/blob/master/R/select-utils.R). I don't think the documentation is exported, though.

[2015-06-01 16:12] bramtayl opened #1189 "%<>% inside mutate"
It would be convenient if %<>% worked inside mutate. E.g.

    library(dplyr)
    library(magrittr)

    data = data_frame(a = 1) %>%
       mutate(a %<>% add(1))

[2015-06-01 22:39] dkesh commented on #1154
I was getting the same error, but got around it by changing the typeof() on the POSIXct column to be integers instead of characters.

[2015-06-01 23:05] matthieugomez opened #1190 "Time series lag"
It would be great to have a time-series lag. Suppose you lag a row with year = 1991. If the previous row is year = 1989, then tlag(value, year) returns NA.

As an example
[code]

This function `tlag` can be written:
[code]

[2015-06-02 01:21] dkesh commented on #1154
Or, in other words:

    dplyr::data_frame(a = .POSIXct(double())) %>% group_by(a)

doesn't error.

    dplyr::data_frame(a = .POSIXct(character())) %>% group_by(a)

errors.

I don't know what the intended or best behavior or error message here, just wanted to clarify the circumstances in which this error message appears.

[2015-06-02 09:10] MarkEdmondson1234 opened #1191 "R crashes when trying to bind_rows on malformed data frame - "unimplemented type (31) in 'obect.size'"
Hi, I had this crash of my R session when trying to bind two frames:

    data_all <- bind_rows(select(data_a, -thisColumn),
                          select(data_b, -thatColumn))

Crashes with message:

    Error in structure(.Call(C_objectSize, x), class = "object_size") : unimplemented type (31) in 'object.size'

I can see that is due to one of my columns containing errors in their build:

[2015-06-02 13:09] petermeissner opened #1192 "Cryptic error message in case of misused xxx_join(..., by=c(...))"
*This is no bug report rather a request to give more informative error messages.*

If the following misuse of the join functions is undertaken the error messages are somewhat cryptic:

[code]

While the input should have been ...

[code]

... a syntax error that is easy to do and hard to find.

[2015-06-02 14:57] JasonAizkalns opened #1194 "Feature or bug? data_frame_ on a vector"
See this [SO post](http://stackoverflow.com/questions/30597522/what-is-the-dplyr-equivalent-of-plyrldplytapply-in-r/30597803#30597803) with specific attention to [this answer](http://stackoverflow.com/a/30598149/2572423).

Is this the intended behavior of `data_frame_`:

[code]

[2015-06-02 18:03] rcorty commented on #719
jwdink, could you clarify which occurrence of "mutate" needed to be replaced with "mutate_"?  I see "mutate" twice in your function definition.

[2015-06-02 20:10] jwdink commented on #719
@rcorty You'd replace both of them.

So the sequence can be thought of as:

(1) You call mutate on some data frame that has your custom class, which invokes dplyr's "mutate" function
(2) This in turn invokes mutate_, which will recognize your custom class and invoke your custom mutate_ function
(3) Your custom function (using the code above) removes the custom class, and applies dplyr's mutate_ fu

[2015-06-03 09:21] romainfrancois commented on #1189
I don't think it is compatible with how things work internally, and I find the default syntax clearer:

[code]

I find it easier to figure out what is going on.

[2015-06-03 09:26] romainfrancois commented on #952
And/or with `gctorture(on=TRUE)`. I'm testing this right now, but if it takes one hour to fail, it is going to be hard to deal with it.

[2015-06-03 10:31] romainfrancois commented on #952
It has now been running for an hour on my machine. @acthomasca can you confirm it is fixed and if not give us some debugger details, with `gdb` etc ...

[2015-06-03 14:47] matthieugomez opened #1196 "row_number()"
It would be great to be able to use row_number() instead of row_number(x) in a data.frame

[code]

To select only one row by `id` with the maximum value for `v1` , one has to write
[code]
But it seems more intuitive to write
[code]

[2015-06-03 14:58] matthieugomez opened #1197 "distinct(.., order_by)"
[code]

To retain one (and only one) observation with the lowest value for v1, for each group defined by id, one can do

[code]

But it may be nicer to add a `strict` option to `top_n` or an `order_by` option to `distinct`.

[code]

top_n with a ties option looks better to me since it would not pick up the observation with NA value for `v2`

[2015-06-03 16:50] acthomasca commented on #952
I'll have this for you soon. Thanks again for all the attention.

On Wed, Jun 3, 2015 at 6:31 AM, Romain François <notifications@github.com>
wrote:

[2015-06-03 21:27] matthieugomez commented on #1196
Oh I got confused.
[code]

[2015-06-03 21:27] #1196 closed

[2015-06-03 21:28] matthieugomez commented on #1197
I was confused - row_number does exactly this.

[2015-06-03 21:28] #1197 closed

[2015-06-03 22:00] piccolbo opened #1198 "Right way to support a case-phobic backend"
I was wondering if I could get some suggestions about methods that need to be overridden to support a backend (sparkSQL) that has an interesting behavior wrt upper/lower case, which is not sensitivity or insensitivity, but drive-programmer-crazy-ivity:

[code]

Another implicit conversion happens for field names

[code]

So field name  gets lowercased on creation, like table names, but in other co

[2015-06-04 00:05] BrashEQLibrium opened #1199 "In *_join message output, put the objects that are being joined together"
Suppose I have a long pipe of joins, often on the same variables. In this case, it would be good to have not only the current message output, i.e.,

Joining by: character_vector_of_join_vars

but also output showing what two data.frames are getting joined, i.e.,

Joining left_table and right_table by: character_vector_of_join_vars

[2015-06-04 01:11] jjchern opened #1200 "`as_data_frame()` throws an error when `as.data.frame()` doesn't"
I have a list and was trying to turn it into a data frame:

[code]

If I use `as.data.frame`, it returns a data frame:

[code]

But when I try `as_data_frame`, it throws an error:
[code]

Not sure if this is a bug.

[2015-06-04 09:36] mhpedersen opened #1201 "does top_n need a na.rm argument"
I have been surprised when top_n(1, X) leaves out records where X is NA. Perhaps this is intentional but not what I expected, and took a little while to debug.
It is easily resolved using top_n(1, pmax(X,0,na.rm=T)), assuming 0 makes since for the domain values of X. But perhaps more user-friendly would be an option to top_n to not remove NAs like this?

thx
Morten

[2015-06-04 17:57] bramtayl commented on #1189
I agree to some extent that the syntax is clearer. That said, when I use mutate, I think about 50% of the time it looks like this:

    df %<>%
      mutate(a = a %>% some stuff,
                  b = b %>% some stuff)

[2015-06-04 22:07] kapsmane opened #1202 "Bug or new feature? tbl_df does not have same behavior as data.frame when using `[`"
in R 3.0.3 and dplyr 0.2, if i do the following:
 xx=data.frame(a=c(1,2,3),b=c('sdf','sdfsd',"sdafsdf"),stringsAsFactors = F)
 xx_tbl=tbl_df(xx)
class(xx_tbl[,"a"])
output is : [1] "numeric"

However, in R 3.1.3 and dplyr 0.4.1, if i do the similar,
 class(xx_tbl$a)
[1] "numeric"
 class(xx_tbl[,"a"])
[1] "tbl_df"     "data.frame"

This creates trouble since sometimes i need use a variable to refer

[2015-06-04 23:35] mattwg commented on #347
I know this is an old thread but I still get caught out even with the warning.  I silence the library function so that when I call it in an RMarkdown document it doesn't spill the warnings onto the screen - when I forget both are loaded I get the summarise from plyr even when loading dplyr second.  It would be very helpful to put all the **ply() functions into dplyr - they are the things I guess m

[2015-06-05 14:44] hadley commented on #1187
For various annoying but unavoidable reasons you need to do `group_by_("`_cyl`")`

[2015-06-05 14:44] #1187 closed

[2015-06-05 14:46] #1188 closed

[2015-06-05 15:02] hadley commented on #1194
Yes, I'm pretty sure that's expected by the semantics of SE functions

[2015-06-05 15:02] #1194 closed

[2015-06-05 15:09] hadley commented on #1200
I think you want `horse[[2]]`

[2015-06-05 15:09] #1200 closed

[2015-06-05 15:12] #1189 closed

[2015-06-05 15:12] hadley commented on #1202
This is expected. If you want to extract a single column, use `[[`

[2015-06-05 15:12] #1202 closed

[2015-06-05 17:14] kapsmane commented on #1202
thank you Hadley, this is very helpful.

[2015-06-05 20:01] jjchern commented on #1200
Thank you.

[2015-06-06 17:04] matthieugomez commented on #205
filter(id==1) %>% summarize(id)

is a good example too.

[2015-06-06 17:25] matthieugomez commented on #631
I'd like a modifier of mutate that allows to apply a function to a subset. For instance to compute the cumulative sum only for these observations with id == 1, return NA otherwise, one needs to do:

df %>% mutate(temp = ifelse(id==1, v, 0)
df %>% mutate(temp = cumsum(temp))
df %>% mutate(cumsum = ifelse(id==1, temp, NA)

It's a different user case than recode (in particular it's about one subset r

[2015-06-07 21:58] jullybobble opened #1204 "all.equal.tbl_df should return TRUE for tbl_df with Date column"
`a` is a data.frame with a Date column.
[code]
When serialised and deserialised with readr's `write_csv` and `read_csv`, the resulting data.frame `b_tbl` is equal to `a` according to `base:::all.equal.default`, but not according to `dplyr:::all.equal.tbl_df`:

[code]

I would expect all 4 `all.equal` statements above to return `TRUE`.

Note that this occurs only if `b_tbl` is the result of a `writ

[2015-06-08 15:34] matthieugomez opened #1205 "setNames in NSE"
When setting the names of new variable using the NSE functions, one needs to use setNames, which can make code hard to read.

Would it be possible to allow left hand side in formulas?

This would allow to write

[code]

instead of

[code]

[2015-06-09 12:22] ajdamico opened #1206 "Ignore grouping when arrange()ing"
set.seed( 2014 )

	library(dplyr)
	library(nycflights13)

	x <- flights
	x[ sample( seq( nrow( x ) ) , 300000 ) , 'origin' ] <- NA
	x[ sample( seq( nrow( x ) ) , 300000 ) , 'dest' ] <- NA

	# arrange( desc( num ) ) fails

	x %>%
		group_by( dest , origin ) %>%
			summarize(
				num = n() ,
				something = n_distinct( arr_time ) ,
				another = round( 100 * mean( is.na( arr_time ) ) , 1 ) ,
				yet

[2015-06-09 12:22] ajdamico opened #1207 "example where NAs in group_by get handled differently"
[code]

[2015-06-09 20:10] eamcvey commented on #1064
In my experience, this issue often creates problems using lubridate and dplyr together, which is a thing I'm always wanting to do!

[2015-06-09 22:46] hadley commented on #1064
Should be fixed the dev version

[2015-06-09 22:47] hadley commented on #1064
Oops, wrong issue.

[2015-06-10 10:24] BillyRen opened #1208 "Unexpected result for distinct() on tbl_dt"
**The result of `distinct()` is different from `distinct(all col names)` on an `tbl_dt` object**.

For instance, `data` is an `tbl_dt` object with ten columns: col1,.., col10.

The result of `data %>% distinct()` is different from `data %>% distinct(col1, ..., col10)`.

[2015-06-10 12:37] hadley commented on #1208
Could you please provide a minimal reproducible example?

[2015-06-10 14:28] pimentel commented on #1208
Could it be related to this PR?

https://github.com/hadley/dplyr/pull/990

[2015-06-10 15:03] almartin82 commented on #1192
if this is at all helpful, here's where I ran into `attempt to set index 0/0 in SET_STRING_ELT`:  when trying to apply a function `rowwise()` on a zero-row df.

here was the offending call
[code]
I added a defensive statement in my `cgp_labeler` function to make the error more informative.

[2015-06-10 16:08] BillyRen commented on #1208
Hi pimentel,

I think that's the problem.

I generated the tbl_dt data from this step:

    fread(filepath) %>%
        tbl_dt() %>%
        left_join(another tbl_dt)

Now, the `tbl_dt` object has a key, **BUT I DO NOT SET IT**,
it seems that it **automatically set the key** when run the `left join` process.

Then the `distinct()` method  only returns the unique key column.

At #990 , you said thi

[2015-06-10 18:53] pimentel commented on #1208
Yup, a join on a `tbl_dt` will set a key (required by `data.table` on joins).

It's fixed in my local version, but that is now an old development version so I wouldn't suggest installing my version. Perhaps @hadley can merge it then you can use the current development version?

Alternatively you can fork the current development version and add the minor change (it's just one line, see the diff)

[2015-06-10 19:29] kendonB opened #1209 "Feature suggestion: write help documentation for the join functions similar to Stata"
I particularly like the pictures they have of the different merge types (page 6 onwards here: http://www.stata.com/manuals13/dmerge.pdf).

Hope this helps.

[2015-06-10 19:51] voxnonecho commented on #1209
Please have a look at the Data Wrangling Cheat Sheet (Combine Data Sets section): http://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf

[2015-06-10 20:02] kendonB commented on #1209
Great, this is pretty much what I meant. My only suggestion would be to add a column with repeated values in one of the merged datasets (like ``region`` in the Stata documentation). Thanks

[2015-06-10 20:52] rcorty commented on #719
@jwdink Thanks for your help.  I'll add one thing that I figured out in the process of doing this that may be useful for others trying to do something similar.  Note that I've removed the most-specific class from vs before applying filter_() to it.

    filter_.scanonevar <- function(vs, ...) {
        out <- vs
        class(out) <- class(out)[-1]
        out <- dplyr::filter_(out, ...)
        c

[2015-06-11 04:52] piccolbo opened #1210 "Incompatible expression in filter when entering two constants as dot args"
[code]

It isn't a common case, but it occurs in the context of a test suite. Happens also with `filter_`, where it was actually first discovered. Thanks

[2015-06-12 09:59] rubenarslan opened #1211 "data.table dim_desc printing cannot be suppressed"
I use data.table and dplyr together until dplyr gets a comparably elegant conditional mutate.

I think the issues with undesired printing of data.table and tbl_dt because the various print functions don't deal with `:=` assignment are by now well-known and it sounds like they [won't be fixed](https://github.com/hadley/dplyr/issues/1054) (for me it has gotten worse over time).

So, to use the packa

[2015-06-12 12:12] JoFrhwld opened #1212 "`mutate_each` has weird magrittr lambda scope"
When trying to use a magrittr lambda expression inside of `mutate_each`, it seems like `.` has the wrong scope.

[code]

[2015-06-12 12:54] hadley commented on #1211
To be honest, I don't understand the issues with printing and `:=`. It doesn't seem like a dplyr issue to me.

[2015-06-12 13:15] rubenarslan commented on #1211
All else aside, I'd appreciate an option to turn off all printing. That's a crude solution, but it works and is useful for a variety of problems and might help people until dt and dplyr play nicely with each other.

My reasoning why this is a dplyr issue: You're extending data table with your classes tbl_dt etc. But one part of data.table is the `:=` assignment operator used like this `data[, new_

[2015-06-12 13:17] voxnonecho opened #1213 "summarise_each() can't handle function with two parameters"
Consider the following data frame:

    data <- data.frame(n = c(1,1,1,2,2,2),
                       x1 = c(4,5,4,7,5,5), x2 = c(7,10,9,NaN,11,12),
                       w1 = c(0,1,1,1,1,1), w2 = c(1,1,1,0,0,1))

Is there a way to mimic `data.table` + `Map` with `summarise_each()` ?

    setDT(data)[,  Map(weighted.mean,
                       mget(grep('x', names(data), value=TRUE)),

[2015-06-12 13:20] hadley commented on #1211
Oh I see - this is because data.table has chosen to implement non-standard semantics for `[`. This is an issue with trying to have reference objects in a language that is fundamentally functional.

In your particular case, it would be better to just use the correct NA:

[code]

I personally don't think it's dplyr's responsibility to work around this issue.

[2015-06-12 13:20] #1211 closed

[2015-06-12 13:22] hadley commented on #1213
To me, that code looks very fragile, because it depends on the exact ordering of the variables. If something is messed up with your input data, you're unlikely to get an error message - it will work, but do the wrong thing.

[2015-06-12 13:22] #1213 closed

[2015-06-12 13:24] rubenarslan commented on #1211
I see that and I'm perfectly happy switching to dplyr entirely once it's a bit more mature (handling missings in dates is driving me up the wall, I just can't wrap my head around the idiosyncrasies yet and there's problems I simply couldn't solve in dplyr).

But until then, I think it's not entirely right to say you're extending data.table, it's pretty unusable when extended by dplyr.

[2015-06-12 14:06] rubenarslan commented on #958
I think this is down to groups that turn all NA through the mutate. Bit me a couple of times today, I made [a reproducible gist](https://gist.github.com/rubenarslan/b02d6fca3ec3f64b0e20). I think dplyr misbehaves and coerces to logical (and then errors out) where it shouldn't when one group has all missings as the result of a mutate command.

[2015-06-12 23:41] ReportMort opened #1214 "db_insert_into.PostgreSQLConnection throws unintuitive error when nrow(values) == 0"
I'm working through an exercise with inserts and updates to a PostgreSQL database and ran across the error message below whenever the data.frame to insert has 0 rows. It's because there is no validation on the values parameter before the failing line: https://github.com/hadley/dplyr/blob/master/R/src-postgres.r#L173. The language in the message seems to run counter to the underlying issue (data to

[2015-06-13 09:00] juanlp commented on #983
+1 Still not working with mysql

[2015-06-13 14:23] acthomasca commented on #952
Here's a full backtrace from one of the segfaults.

On Wed, Jun 3, 2015 at 12:50 PM, A.C. Thomas <act@acthomas.ca> wrote:

Program received signal SIGSEGV, Segmentation fault.
0x00007ffff792268f in RunGenCollect (size_needed=<optimized out>)
    at memory.c:1636
1636	    PROCESS_NODES();
(gdb) backtrace
#0  0x00007ffff792268f in RunGenCollect (size_needed=<optimized out>)
    at memory.c:1636
#1

[2015-06-14 15:41] helix123 commented on #694
Think the data.table guys now fixed this in devel, see https://github.com/Rdatatable/data.table/issues/637. However, it might take some time until we see a new CRAN release of data.table.

[2015-06-14 16:16] helix123 opened #1217 "anti_join error message improvement: x|y is not a data.table"
For dplyr_0.4.1 I think "x" in the following error message should be a "y":

    library(data.table)
    set.seed(45L)
    DT <- data.table(V1=c(1L,2L),
                 V2=LETTERS[1:3],
                 V3=round(rnorm(4),4),
                 V4=1:12)
    set.seed(46L)
    DT2 <- data.table(V1=c(1L,2L),
                 V2=LETTERS[1:3],
                 V3=round(rnorm(4),4),
                 V4=1:

[2015-06-14 23:01] NikNakk commented on #926
I've just made a couple of changes to src-sqlite.r which I think fix the problem. I've put in a pull request (from NikNakk/dplyr).

[2015-06-15 10:12] Keyeoh opened #1219 "Wrong behaviour of slice() on empty data.frames?"
Hi everybody.

One of my scripts failed and when I was debugging I found that slice() was failing when it was being fed with an empty data.frame. Here is a minimal reproducible example:

[code]

Previous code produces the following output:

[code]

However, if I use head(), code works as expected:

[code]
I was wondering if it was related to dplyr, or to Rcpp. I can use head, but I like to have so

[2015-06-15 11:26] jakeyeung commented on #1120
Thanks, running the code in the dev version solves it.

    dev_mode()

    devtools::install_github("hadley/lazyeval")
    devtools::install_github("hadley/dplyr")

    library(dplyr)

    ComplexFunction <- function(dat){
      x.trans <- exp(1i)
      return(data.frame(x.trans = x.trans))
    }

    test.df <- data.frame(x = seq(20), labs = rep(c("a", "b"), 10))

    test.crashes <- test.df %>%

[2015-06-16 11:36] romainfrancois commented on #952
So this looks like a GC problem. Is this from the latest level version ?

[2015-06-16 12:39] richierocks opened #1221 "Feature request: provide functionality to resize data frames in order to bind_cols"
If you try to `bind_cols` on two data frames with differing numbers of rows, you get an error.

    x <- data.frame(a = 1, b = "a")
    y <- data.frame(c = 2:6, d = letters[2:6])

    bind_cols(x, y)
    ## Error: incompatible number of rows (5, expecting 1)

Base R's `cbind` is sometimes smart enough to replicate the values in the shorter data frame to match the dimensions of the longer one.

[2015-06-16 18:26] uhlitz opened #1222 "segfault on nonsense filter"
I get a segfault when accidently using nonsense filter:

[code]
this might be similar to #348

sessionInfo():
[code]

[2015-06-16 22:05] acthomasca commented on #952
GC would make sense. Some of these segfaults seemed to have a life of their
own.

This was from the most recent version on CRAN. When I tried it with the
development version, it behaved even more bizarrely. Probably more useful
to you if I rerun these steps with the newest one?

On Tue, Jun 16, 2015 at 7:36 AM, Romain François <notifications@github.com>
wrote:

[2015-06-17 03:31] voxnonecho opened #1223 "Feature request: Use n() on subgroup"
Consider the following data frame:

    m = data.frame(pop = c(1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4),
                   id = c(0,1,1,1,1,1,0,2,1,1,1,2,1,2,2,2))

If I want to divide the  `pop`, `id` group size by it's corresponding `pop` group size, I have to create a temporary variable `s` to store the `pop` group size first:

    m %>%
      group_by(pop) %>%
      mutate(s = n()) %>%
      group_by

[2015-06-17 08:00] richierocks commented on #1217
Also applies to `left_join`.

[2015-06-17 08:15] richierocks opened #1224 "auto_copy should distinguish non-tbl data.tables from data.frames"
If you try to join a non-tbl data table to a data frame with `copy = TRUE`, you get the following error:

    library(dplyr)
    library(data.table)

    DT <- data.table(id = 1:10, x = runif(10))
    DF <- data.frame(id = sample(10, 10, replace = TRUE), y = letters[1:10])

    left_join(DT, DF, copy = TRUE)
    ## Joining by: "id"
    ## Error in data.table::setkeyv(y, by$x) : x is not a data.tab

[2015-06-17 15:59] drewgendreau commented on #1176
Just wanted to add that I tried doing this earlier today and was surprised to find that

df %>% select(-contains("this_string_is_definitely_not_in_any_of_the_column_names") )

returns an empty data.frame.  The use case is that I'm running a program where I don't know all the column names ahead of time, but if there is one with a particular string I'd like to drop it.

[2015-06-17 18:35] thomasp85 opened #1226 "Switch for showing progress bar"
This is kind of in the same vein as #428. The progress bar shown when using do() is often unwanted if you use dplyr inside a function. If the dplyr operation is only part of the computation it signals a wrong message about the running time to users, as there is no indication that the progress bar is only related to part of the calculation. I would like to either have the possibility of switching i

[2015-06-17 23:51] daattali commented on #1162
I came here to suggest this feature as well.  I'm concatenating together many small dataframes with user-submitted input, and a single numeric value in one row where the column is otherwise a string caused a big ugly failure.
Sadly, I just changed my code from `dplyr::rbind_all(data)` to `do.call(rbind, data)` because I feel like in this case type coercion makes sense and base R just works.

[2015-06-18 00:05] mattdowle commented on #1162
Another option is `data.table::rbindlist`.  Has been around longer and promotes to the highest type. Did you know about it?

[2015-06-18 00:25] daattali commented on #1162
Yes, thank you, though ever since `readr` came out I tried eliminating my `data.table` usage unless it's necessary

[2015-06-18 00:36] mattdowle commented on #1162
Wow - you're so kind.

[2015-06-18 00:56] daattali commented on #1162
Sorry, I should clarify that I use `data.table` when I need the speed boost with large datasets, but on smaller datasets I find the `dplyr` syntax easier

[2015-06-18 02:43] brendan-R commented on #1162
Thanks Matt, I'll check it out.

For anyone googling themselves here,

[code]

is an easy way to convert all columns of a `data.frame` to character.

[2015-06-18 05:27] vnijs commented on #893
Another (smaller) example (0.4.2 on Mac)

[code]

[2015-06-18 05:34] richierocks commented on #1205
You can already do

    summarise_(mtcars,  mean = ~ mean(mpg))

[2015-06-18 09:30] richierocks commented on #906
Just had another look at this, and it's an easy fix.  In `filter_data.table`, change the second line

    env <- lazyeval::common_env(.dots)

to

     env <- lazyeval::common_env(dots)

[2015-06-18 11:16] hadley commented on #1162
@daattali I'd love to hear more about your specific problem - generally I'd be concerned about rbind creating columns with the wrong type, i.e. you accidentally have one df with a character column that corrupts everything.

[2015-06-18 11:18] #1205 closed

[2015-06-18 11:24] daattali commented on #1162
I have a demo app [here](http://daattali.com/shiny/mimic-google-form/) that allows people to fill out a form and submit it. Each submission is a one-row dataframe. There is a datatable on the right that reads all the submissions and binds them all together. In the "name" field, one person decided to call themselves "1", so when reading the dataframe for that particular response that column was lab

[2015-06-18 11:29] hadley commented on #1162
How did a "1" in the text box become a 1 in the data frame? Something must have parsed it.

[2015-06-18 14:28] jalapic commented on #341
Just to add and agree with everyone above - this is a super critical aspect of many analyses. Would love to see an implementation.

[2015-06-18 15:06] franknarf1 commented on #1040
This is very likely the same bug as https://github.com/hadley/dplyr/issues/919

[2015-06-18 18:44] daattali commented on #1162
It was written to file using write.csv without quotes and then read back
with read.csv

So, yes, I could take preventative measures but I still feel like it should
be coerced , at least if I specifically add a "just do it" param.
On 2015-06-18 4:29 AM, "Hadley Wickham" <notifications@github.com> wrote:

[2015-06-19 07:28] chris-english opened #1227 "Introduction to dplyr 2015-06-15 - mention to library(dplyr) prior to library(nycflights13)"
The Introduction to dplyr vignette code assumes library(dplyr)  has been loaded prior to library(nycflights13) and given that order the vignette flows smoothly.  Without this line:
library(nycflights13)
library(dplyr)
flights <- tbl_df(flights)

seems to be assumed and tbl_df discussed or demonstrated in "Data Tidying" in tidyr.
Just a suggestion. Thanks. Chris

[2015-06-19 08:10] takje opened #1228 "Mutate each crashes R in newest dplyr"
Hi,

This piece of code worked before but now crashes my R sessions when the data frame is too large:
[code]

Sessioninfo:
[code]

**Update**
This code works for now:
[code]

[2015-06-19 08:56] hammadsheikh commented on #1186
Same problems here, same platform and OS, same locale.

[2015-06-19 15:18] tyokota commented on #425
It would be great if nested ifelse functions didn't look hard to read when using hard returns+indent. In my work with complex surveys, I usually need to use more than one conditional statement per variable. The workaround I am using is to remove the indent and adding/subtracting spaces to align my ifelse statements so that my code doesn't extend to the right to the point that I would need to scrol

[2015-06-19 15:26] msjgriffiths opened #1229 "Pass custom functions to select()"
Right now, you're limited in column selection when using select() and magrittr.

Consider the situation where you have a table, and you want to select certain columns at an intermediate point in a transformation pipeline, but don't want to (i) use fixed column indexes and (ii) don't want to save out an intermediary variable and identify column names separately.

It would make sense to be able to d

[2015-06-21 11:40] uhlitz commented on #1222
The error no longer occurs on my machine after upgrading to R 3.2.0

[2015-06-21 18:37] acthomasca commented on #952
Upgraded to R 3.2.1 and dplyr 0.4.2. (Tried it as well with the dev
version, same results.)

Here's the latest gdb backtrace and the sessionInfo() statement.

If this is a GC issue, is there anything I can do in the meantime to test
that?

AT

R version 3.2.1 (2015-06-18)
Platform: x86_64-unknown-linux-gnu (64-bit)
Running under: Ubuntu 14.04.1 LTS

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMER

[2015-06-21 21:45] bamcdougall commented on #1228
I report same issue:  mutate fails when enclosed within a code chunk of an .Rmd file.  R script appears to be functioning OK

[2015-06-22 19:32] chrishaid commented on #1228
FWIW: I'm seeing similar problems (segfaults, memory allocation problems) in project that was been bassing wercker and travis CI builds until the new version of dplyr (0.4.2) was released.

[2015-06-22 19:53] hadley commented on #1228
@romainfrancois could you please take a look?

[2015-06-22 20:19] jennybc commented on #1228
I am having the same trouble. It's in a function that I didn't write and hadn't really reviewed until it caused this segfault on Travis. The function on our end is really ugly and I'm refactoring it.

Ugly thought it may be, the code should run w/o a segfault. This code has been there for several months, with no problem passing tests locally or on Travis.

Here's one of my failed Travis builds:
ht

[2015-06-22 20:38] jennybc commented on #1228
I have an unintentional natural experiment where my package builds successfully on Travis in master, which is using the old style of `.travis.yml`, but I get the segfault above in a branch where I'm experimenting with the newer "R native" `.travis.yml`. Although `dplyr 0.4.2` gets installed in both cases, in my master branch I have managed to mask `0.4.2` with `0.4.1` through my sheer incompetence

[2015-06-23 05:35] nickbond opened #1230 "left_join with large dataset and multiple matching columns crashes R if adding new rows (cartesian product)"
The above crash occurred for me on both OS X and windows, but was alleviated by specifying the number of rows in the second table being joined (df2 below had exactly 1130 rows). The first join column was formatted as POSIXct. It is a large dataset and I have not been able to reproduce with a simpler example, but happy to provide the data if you need a reproducible example.

[code]

Thanks,
Nick

[2015-06-23 10:27] richierocks opened #1231 "mutate with multiple list columns cause crashes, a selection of errors"
Calling `mutate_` with multiple list columns fails using `dplyr` 0.4.2.

To reproduce:

    library(dplyr)

    get_random_letters <- function(n)
    {
      replicate(n, sample(letters, 100, replace = TRUE), simplify = FALSE)
    }

    n <- 1e3
    d <- mutate_(
      data.frame(id = seq_len(n)),
      x = ~ get_random_letters(n),
      y = ~ get_random_letters(n),
      z = ~ get_random_letters

[2015-06-23 12:07] hadley commented on #1231
@romainfrancois can you take a look at this too please?

[2015-06-23 18:40] john-sandall commented on #1231
I'm seeing a similar problem, I posted on SO (http://stackoverflow.com/questions/31010713/combining-dplyrmutate-with-lubridateymd-hms-in-r-randomly-causes-segfault) but if it's definitely this same bug I'll close the SO post and reference this issue.

I'm seeing the same variety of crashes as @richierocks mentioned, in that same order of frequency, although my issue is occurring with the standard

[2015-06-24 10:34] fmark opened #1232 "Specifying n in head() doesn't work with sqlite backend"
I am unable to use the *n* parameter when using head on an sqlite dplyr table. When running the following code, on the final line (only) I get an error "Error: limit is not an integer vector":

        my_db <- src_sqlite("my_db.sqlite3", create = T)
        test_tbl <- copy_to(my_db,
            data.frame(a=rep(c(1, 2, 3), times=5000),
                       b=rnorm(n=15000, sd=rep(c(1, 2, 3), t

[2015-06-24 18:48] HarlanH commented on #1231
I'm also seeing hard crashes and weird behavior in 0.4.2, including factors getting converted to numeric. No simple test cases yet...

[2015-06-24 22:06] amin04 commented on #1231
I second that. Hard crashes & weird behaviour with columns. Had to switch back to 0.4.1.

[2015-06-25 04:34] kendonB opened #1233 "summarise_each doesn't have its summarize_each counterpart"
All in the title - hope this helps!

[2015-06-25 07:22] romainfrancois commented on #1142
I fixed `mutate` for the example above. Not sure though how to deal with this:

[code]

[2015-06-25 07:31] hadley commented on #1142
@romainfrancois shouldn't that be an error because the output is a different length to the input?

[2015-06-25 07:31] hadley commented on #1142
Another good test case would be `data.frame() %>% mutate(x = numeric())`

[2015-06-25 08:50] romainfrancois commented on #1142
Now I get:

[code]

Because a length 1 result in `mutate` is recycled, so here recycled 0 times, but I can make this special case an error if that makes more sense.

[2015-06-25 12:24] hadley commented on #1142
Ah, I forgot about that principle. I think either way is probably ok, but recycling to length 0 is a little less frustrating for people.

[2015-06-25 13:18] romainfrancois commented on #1142
In that case I think we can close this.

[2015-06-25 13:18] #1142 closed

[2015-06-25 16:10] franknarf1 opened #1234 "slice for row 0"
To be consistent with data.frame `slice(df,0)` should return an "empty" data.frame, like `df[0,]` does. Currently, it seems to act like -1..?

    df <- data.frame(a=1:3)
    slice(df,0)
    #   a
    # 1 2
    # 2 3

Not sure if this was fixed since I mentioned it here: http://stackoverflow.com/questions/30491740/weird-behavior-in-dplyr-slice-for-r#comment49063197_30491740 The same behavior seems

[2015-06-25 16:11] franknarf1 opened #1235 "slice for NA_integer_"
This crashes my R session:

    df <- data.frame(a=1:3)
    slice(df,NA_integer_)

Not sure if fixed since mentioned a month ago: http://stackoverflow.com/questions/30491740/weird-behavior-in-dplyr-slice-for-r#comment49063380_30491740

[2015-06-27 05:41] jbmartin commented on #185
@jlegewie's suggestion worked for me on R 3.1.1, but I only had to change the Depends line in the DESCRIPTION file.

[2015-06-28 03:52] renkun-ken opened #1237 "summarize dropping attributes of columns"
I'm working on a new package [formattable](https://github.com/renkun-ken/formattable) that tries to add some formatting on vectors and data frames for more friendly printing. It uses attributes to store metadata e.g. formatting rules.

I test it with `data.table` and everything works fine in latest dev version since https://github.com/Rdatatable/data.table/issues/1160 is fixed. In some previous ve

[2015-06-28 11:56] hadley commented on #1237
Isn't it more that mean doesn't preserve attributes?

[2015-06-28 12:02] renkun-ken commented on #1237
I tested that mean keeps attributes, and it works with data.table.

On Sun, Jun 28, 2015 at 4:56 AM -0700, "Hadley Wickham" <notifications@github.com> wrote:
Isn't it more that mean doesn't preserve attributes?

---
Reply to this email directly or view it on GitHub:
https://github.com/hadley/dplyr/issues/1237#issuecomment-116263224

[2015-06-28 12:10] romainfrancois opened #1238 "broken dependency: radiant"
http://www.stats.ox.ac.uk/pub/bdr/memtests/UBSAN-gcc/radiant/00check.log

[2015-06-28 12:15] renkun-ken commented on #1237
It seems that summarize drops the class and the attributes of the column vector and the class implements mean and other stat methods that keep the attributes.

On Sun, Jun 28, 2015 at 4:56 AM -0700, "Hadley Wickham" <notifications@github.com> wrote:
Isn't it more that mean doesn't preserve attributes?

---
Reply to this email directly or view it on GitHub:
https://github.com/hadley/dplyr/issues/12

[2015-06-28 13:04] hadley commented on #1238
I'm pretty sure this is the same as the mutate bug that's causing problems for people

[2015-06-28 13:25] hadley commented on #1237
I just tried mean on a numeric vector with an attribute and it dropped it...

[2015-06-28 13:29] hadley commented on #1237
[code]

[2015-06-28 13:52] renkun-ken commented on #1237
Sorry, the real problem is that `summarize` seems to drop the class and attributes of a `formattable numeric` column that implements `mean.formattable` for `formattable` class that preserves the attributes. Here's the working examples:

[code]

[2015-06-28 13:59] #1235 closed

[2015-06-29 10:39] zhilongjia opened #1239 "dplyr::function_name but not function_name directly"
Whenever I use a function in dplyr, I will use dplyr::function_name to avoid something strange caused by the same function name in another package. Many function names in dplyr is really common. Why not name it unique in dplyr? I believe dplyr::function_name is not as convenient as function_name alone. Thank you.

[2015-06-29 11:08] romainfrancois commented on #1239
You can put your code in a package and selectively `importFrom` dplyr. It is unlikely that function names will change now.

[2015-06-29 11:08] #1239 closed

[2015-06-29 11:11] hannesmuehleisen commented on #1165
The query that is being generated here is something along the following lines:

[code]

The problem is that `SUM` is an aggregation function, which leads to an implicit aggregation with a single group (Nothing to to with MonetDB, SQL semantics). However, if an aggregation is present, all columns that are not grouping variables need to be aggregated (otherwise, no way to change row cardinality). As

[2015-06-29 11:16] hannesmuehleisen commented on #1166
Will be fixed in 0.9.8 of MonetDB.R

[2015-06-29 12:20] hannesmuehleisen commented on #1167
I would suggest to remove the `na.rm` parameters from the vignette, since the SQL translation does not support them anyway...

[2015-06-29 14:32] dnuffer opened #1240 "Support older versions of R"
I just tried installing dplyr, and install.packages() gave me the rather uninformative message:
package ‘dplyr’ is not available (for R version 3.1.1)
After some digging and searching, I found that's because the latest dplyr requires R >= 3.1.2.
I've got R 3.1.1. I don't want to upgrade R, I use the version Ubuntu provides. I don't want to upgrade to the latest version of Ubuntu just to get a newe

[2015-06-29 20:42] hadley commented on #1240
Unfortunately I don't have the time or resources to test dplyr with older versions of R.

[2015-06-29 20:42] #1240 closed

[2015-06-29 21:18] MySchizoBuddy commented on #639
Also add the inverse of adding a column as a rowname. rownames are used by heatmaps like d3heatmap package that uses row and column names as the heatmap labels as well as on hover labels

[2015-06-29 23:18] lwjohnst86 commented on #1228
I have also experienced problems with `mutate_each`, though I had thought it was due to `scale`. See [the StackOverflow question I asked](http://stackoverflow.com/questions/31127107/r-core-dump-or-crash-session-or-abort-when-doing-mutate-each-scale).

But, a MWE:

[code]

[2015-06-30 04:26] shrektan commented on #1226
+1

[2015-06-30 04:49] shrektan commented on #1228
Same problem occurred in my computer, with the code below (same as takje's except larger `size`):

[code]

Weird, it seems like not occurred every time, but more frequent when **the progress bar shows**... It may be some problems related to that...

[code]

[2015-06-30 16:42] dkesh opened #1241 "Segfault in subset, from left_join_impl"
I get a consistent segfault on one machine, but it doesn't happen on other machines with AFAIK very similar setups (all AWS Ubuntu instances).  I have not been able to construct a minimal example, but I have got some output from gdb.

R information:

[code]

Backtrace:

[code]

[2015-07-01 07:55] paul4forest opened #1242 "Mutate factor has only 2 levels and NA values on a grouped data frame"
Issue with mutate factor on a grouped data frame reproducible example:

    cars2 <- cars %>% group_by(speed) %>% mutate(dist = as.factor(dist))

The factor has only 2 levels and contains NA values.

     [1] 2    10   2    10   2    2    2    10   <NA> 2    10   2    10   <NA>
    [15] <NA> 2    10   10   <NA> 2    10   <NA> <NA> 2    10   <NA> 2    10
    [29] 2    10   <NA> 2    10   <NA> <NA>

[2015-07-01 17:38] mplourde opened #1243 "update 0.4.1 to 0.4.2 introduces segfault"
After updating to 0.4.2 from CRAN, my application now generates segfaults in seemingly random situations. The application is complex so I'm unable to provide a minimal reproducible example, but I would be glad to test any updates and provide feedback as to whether the issue still occurs. This segfault happens on Windows 7 64bit and Ubuntu 14.1 64bit. My R version is 3.2.1.

The output running in U

[2015-07-02 09:55] ringprince opened #1245 "selecting non exsisting colum in tbl_df causes segfault in distinct"
I am on
-  os x 10.9.5
- R 3.2.0
- dplyr 0.4.2

Here is a reproducible segfault:

     library("dplyr")
     foo = data.frame(x = 1:10, y = 1:10)
     foo[, c("z", "x", "y")] %>% distinct  ## all 'fine'
     ## Error in `[.data.frame`(foo, , c("z", "x", "y")) :
     ##   undefined columns selected

     tbl_df(foo)[, c("z", "x", "y")] %>% distinct

     ##  *** caught segfault ***
     ## address

[2015-07-02 11:16] Rckrd commented on #1228
Same issue here with a 100k rows dataframe containing several columns with dates stored as strings.
[code]
I tried replacing my mutate_each statements with mutate, but that also crashes R.
[code]
this works though
[code]
Sessioninfo
[code]

[2015-07-02 15:54] dkesh commented on #1241
What more can I provide here to help?

[2015-07-02 19:09] jmarywien commented on #1206
I think what you are expecting is for num to be arranged in descending order, regardless of flight destination and origin.

However, group_by returns a grouped_df object, so any subsequent arranges will be applied within group according to https://github.com/hadley/dplyr/blob/master/src/arrange.cpp#L13.

If you want to arrange in descending order, regardless of flight and origin, you must cast the

[2015-07-02 19:52] matthieugomez commented on #1205
My point was really about using `mutate_` or `summarise_` inside a program, where you don't know the variable names

For instance, to write a function that demean a variable given as an argument
[code]

But it would look cleaner to write
[code]

[2015-07-02 22:05] ajdamico commented on #1206
you're absolutely right, thanks!  and shame on me for missing this sentence from http://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html

`grouped arrange() orders first by grouping variables`

i've proposed a change to the `?arrange` help page.

https://github.com/hadley/dplyr/compare/master...ajdamico:patch-1

[2015-07-03 00:02] daltonhance commented on #1231
Chiming in here. I'm also getting hard crashes and having Rmarkdown fail to compile when using mutate with a call to lubridate.

    %>% mutate(Mark_Time_Value = ymd_hms(Mark_Time_Value),
         Release_Time_Value =  ymd_hms(Release_Time_Value),
         Obs_Time_Value =  ymd_hms(Obs_Time_Value))
    %>% mutate(TravelTime = difftime(Obs_Time_Value, Release_Time_Value, units = "days" ))

The erro

[2015-07-03 08:48] ronert opened #1246 "Running group_by and then do with R 3.2.1 and OS X Yosemite is spawning countless processes"
Running group_by and then do with R 3.2.1 and OS X Yosemite is spawning countless processes that do not get cleaned up after computation.

Maybe related to this R news item: R is now trying harder to not cleanup child processes that were not spawned by
mcparallel() on platforms that provide information about the source process of the
SIGCHLD signal. This allows 3rd party libraries to manage the ex

[2015-07-03 08:55] hadley commented on #1246
Do doesn't do anything in parallel, so it's hard to believe it's dplyr that's causing that problem.

[2015-07-03 09:05] ronert commented on #1246
I am running fitdistr() from MASS within do (which in turn is running optim). Did not load any other libraries. Will investigate further.

[2015-07-03 13:08] hadley commented on #1228
No need to keep adding examples. We know about the problem.

[2015-07-03 14:27] ronert commented on #1246
Installing the latest version of dplyr from GitHub resolved the problem for me.

[2015-07-03 18:26] tomasgreif opened #1247 "Build query - fix "AS""
In `build_query` "AS" is used to generate subquery:

    from_sql <- build_sql("(", base_query$sql, ") AS ", ident(unique_name()),
          con = x$src$con)

This does not work for backends where "AS" cannot be used to name subquery. I believe that `sql_subquery` can be used easily instead.

[2015-07-03 19:45] gregrahn opened #1248 "new backend db support"
Is there a preferred way to add new backend db support for dplyr?
e.g. As a file for this package (master), a new branch, or an add-on separate package akin to:
* https://github.com/jwills/dplyrimpaladb
* https://github.com/RevolutionAnalytics/dplyr-spark

[2015-07-04 05:18] hadley commented on #1248
Separate package is best.

[2015-07-04 05:18] #1248 closed

[2015-07-04 06:48] hadley commented on #1206
I'm reopening this because I think it's rather confusing, and I'm considering changing back to the old behaviour where arrange ignores groups.

[2015-07-04 06:48] hadley commented on #1231
No need to add additional examples, we're aware of the problem.

[2015-07-04 08:38] #1246 closed

[2015-07-04 08:41] hadley commented on #1242
This is expected - not every group has every level.  We probably could have a more sophisticated approach here, but I don't think it's worth the effort.

[2015-07-04 08:41] #1242 closed

[2015-07-04 12:04] paul4forest commented on #1242
Thanks, I was confused by this behaviour. When working with grouped data frames, one needs to undo the grouping before mutate, then redo the grouping afterwards. Or to add the vector to the data.frame cars$dist <- as.factor(cars$dist). Would this be the recommended approach?

[2015-07-04 12:25] jmarywien commented on #1206
I think that's a good idea Hadley. Have a good weekend.
On Sat, Jul 4, 2015 at 2:48 AM Hadley Wickham <notifications@github.com>
wrote:

[2015-07-04 15:17] stevencb commented on #1206
To be honest, I think it makes sense that arrange would sort within groups (i.e. I don't think it should be changed back).    I seems to make sense that if you apply something like arrange to a grouped data frame, that it acts within groups, not globally.  One can of course ungroup to get the other behavior.  I actually find the current behavior more intuitive.

[2015-07-04 15:29] stevencb commented on #1206
FYI,
An alternative to

x %>% data.frame %>% arrange(desc(num))

is

x %>% ungroup %>% arrange(desc(num))

Using "ungroup" will maintain the class types of x.  So if x is a tbl_df, it will still be after ungroup but not after piping to data.frame.

[2015-07-04 23:30] hadley commented on #1242
Or supply the levels of the factor explicitly.

[2015-07-04 23:30] hadley commented on #1206
It's not more intuitive to most people

[2015-07-05 00:37] kevinushey commented on #1206
IMO there should be separate functions for sorting within groups vs sorting without groups.

[2015-07-05 01:19] nicholasjhorton commented on #1206
Would a separate option (defaulting to sorting without groups) be feasibe to consider?

Nick

Nicholas Horton
Professor of Statistics
Department of Mathematics and Statistics, Amherst College
Box 2239, 31 Quadrangle Dr
Amherst, MA 01002-5000
https://www.amherst.edu/people/facstaff/nhorton

[2015-07-05 09:15] ajdamico commented on #1206
perhaps something like `arrange` and `arrange_by` -- `arrange` could be equivalent to `x %>% ungroup %>% arrange_by` and then `arrange_by` behaves groupwise like the current arrange function does.  since both could be on the same help page, typing ?arrange would make it immediately obvious if a user wants the `_by`

[2015-07-05 13:59] alliquot opened #1250 ""unsupported attributes" issue with arrange and filter"
Hello,

Today I updated dplyr to the newest version by installing it from github (by devtools). Problem with "unsupported attributes" for selecting seems to be solved, but it remains for filtering and arrange. Unfortunately, I have tons of user attributes attached due to a very extended metadata layer, so removing them is a huge problem for me.

Is there any chance to work around this problem?

Co

[2015-07-05 15:17] dnuffer commented on #1240
What a shame that such a potentially useful library is in handicapped by your lack of desire to spend time to ensure it works in common installations. Since you don't appear to care much about users of your library, at least you should make your practices obvious so that people know what they are getting into when they decide to use it.

[2015-07-05 16:47] hadley commented on #1240
It seems a bit on the nose to complain about open source software.

[2015-07-05 16:50] hadley commented on #1206
I don't think adding more options or function variants will help here.

[2015-07-06 07:35] paul4forest commented on #1242
Good, then the example would look like this:

    cars3 <- cars %>% group_by(speed) %>%
        mutate(dist = factor(dist, levels=unique(cars$dist)))

Or for an ordered factor

    cars3 <- cars %>% group_by(speed) %>%
        mutate(dist = factor(dist, levels=sort(unique(cars$dist)),ordered=TRUE))

This creates a factor with all levels, as expected.

    cars3$dist
     [1] 2   10  4   22  16  10

[2015-07-06 09:47] urspine commented on #41
Hi Hadley, Can dplyr and rodbc work in tandem?

[2015-07-06 13:21] romainfrancois commented on #1243
Not much we can do without more information. Perhaps run it under gdb on the ubuntu version will give some clues.

[2015-07-06 14:16] romainfrancois commented on #1231
This should be fixed now. @richierocks can you try it please. This was a sneaky protection problem.

[2015-07-06 14:20] romainfrancois commented on #1231
@john-sandall, @daltonhance @amin04 this should also fix the things you mention. Please test.

[2015-07-06 19:14] daltonhance commented on #1231
@romainfrancois The development version seems to work for me. But I first checked the version available on CRAN as of this morning and ran into some of the same problems.

[2015-07-07 02:22] hadley commented on #1243
Please try with the dev version. If it still crashes, a gdb stack trace would be very useful.

[2015-07-07 02:22] #1243 closed

[2015-07-07 04:31] alexfun commented on #1110
Please add this behaviour of distinct on grouped data frames to the helpfile. Thanks.

http://stackoverflow.com/questions/31259518/why-does-dplyrdistinct-behave-like-this-for-grouped-data-frames#31259587

[2015-07-07 08:52] Persican opened #1252 "Problem reading (many) NA's"
The read_csv() guesses column type by reading the first xxx entries. If I try to read a csv file containing this data:

structure(list(V1 = 1:151, V2 = c(NA, NA, NA, NA, NA, NA, NA,
NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,
NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,
NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,
NA, NA, NA, NA, NA, NA, NA

[2015-07-07 09:23] mattdowle commented on #1240
I think you're a bit off mark here Hadley.  It doesn't take that much to
run "R CMD check" using an older version of R.  I know because I have
always done that for data.table.  I haven't had the resources of RStudio
and I managed it.  I just run using data.table's stated dependency
(currently R 2.14.0) before release to CRAN.

On Sun, Jul 5, 2015 at 5:47 PM, Hadley Wickham <notifications@github.co

[2015-07-07 09:30] richierocks commented on #1231
@romainfrancois The problem seems to be solved.  My code that was broken is now working again, and I haven't been able to reproduce those errors at all.

[2015-07-07 09:37] romainfrancois commented on #1231
Nice. Thanks for the heads up. That's a close then. 😎

[2015-07-07 09:37] #1231 closed

[2015-07-07 09:57] mattdowle commented on #1252
In case you weren't aware of data.table::fread, it uses a batch of rows in
the middle of the file and at the end, to guess column types.  Just for
this situation.  I suppose Hadley will port that idea to read_csv too and
that will take time.   It was a lot of effort to create fread and fix many
edge cases.  So I'm greatly saddened that Hadley and Romain decided to
create read_csv separately.

On T

[2015-07-07 10:32] hadley commented on #1252
@mattdowle this is not the right venue for that sort of comment.

@Persican you need to call `problems(x)` where `x` is the object you created with `read_csv()`

[2015-07-07 10:32] #1252 closed

[2015-07-07 13:19] Persican commented on #1252
row col       expected actual
1  141   2 T/F/TRUE/FALSE    141
2  142   2 T/F/TRUE/FALSE    142
3  143   2 T/F/TRUE/FALSE    143
4  144   2 T/F/TRUE/FALSE    144
5  145   2 T/F/TRUE/FALSE    145
6  146   2 T/F/TRUE/FALSE    146
7  147   2 T/F/TRUE/FALSE    147
8  148   2 T/F/TRUE/FALSE    148
9  149   2 T/F/TRUE/FALSE    149
10 150   2 T/F/TRUE/FALSE    150
11 151   2 T/F/TRUE/FALSE    151

[2015-07-07 13:57] romainfrancois commented on #1250
I get:

[code]

Are you sure you use the devel version ?

[2015-07-07 14:06] romainfrancois commented on #1241
It might be an innocent bystander of the mutate bug. Did you feed to `left_join` something that came out of `mutate`.

Can you try again with the devel version.

Otherwise, to help, I'm going to need something reproducible

[2015-07-07 14:09] romainfrancois commented on #1238
My thinking too. Let me have a look at some low hanging fruits and perhaps we can do another release around mid-july.

[2015-07-07 14:13] romainfrancois commented on #1234
I think this has been fixed while working on #1235. I now get:

[code]

[2015-07-07 14:13] #1234 closed

[2015-07-07 14:18] romainfrancois commented on #1228
I think those are all the same as #1231. So I'm closing
Please each of you try your own examples against the dev version and reopen if the problem is still there.

[2015-07-07 14:18] #1228 closed

[2015-07-07 14:20] romainfrancois commented on #1222
I get :

[code]

[2015-07-07 14:20] #1222 closed

[2015-07-07 14:24] dkesh commented on #1241
Quite possible there's a mutate along the way.  I'll update to devel and
see how it goes.

On Tue, Jul 7, 2015 at 9:06 AM, Romain François <notifications@github.com>
wrote:

[2015-07-07 16:43] romainfrancois commented on #1237
Hmm. So we'll have to check for existence of a `mean` method for `foo` object and use that instead of our internal method.

Or should we e.g. fall back on R evaluation as soon as we are dealing with an object (for some definition of being an object).

I'll look into R internals, probably in `DispatchGroup` here: https://github.com/wch/r-source/blob/48d522a12b28b532bf38d236dfdd5672b2da9257/src/main

[2015-07-07 16:52] romainfrancois commented on #1237
Oh well, the dispatch code is a mess.

[2015-07-07 18:39] hadley commented on #1237
@romainfrancois I think there's an easy check - if the vector has a class attribute that we don't recognise (or is an S4 object), we should avoid hybrid evaluation. I think maybe there's a macro (`OBJECT()`?) that does the check efficiently.

[2015-07-07 19:42] mjacobs commented on #383
Hi @piersharding and @hadley,

Sorry for the delay. If we were to change Impala's behavior to be compatible with what PostgreSQL, would that unblock your work on dplyrimpaladb? Would we be able to have the Impala src be merged upstream into dplyr?

Thanks,
Matt

[2015-07-07 19:49] hadley commented on #383
@mjacobs that seems like a reasonable strategy to me

BTW since this issue, I've changed how dplyr backends work - there's now a documented interface (see the vignette) so interfaces can (and should) go in their own packages.

[2015-07-07 21:34] piersharding commented on #383
@mjacobs ImpalaDB compatibility with PostgreSQL would be an awesome goal!  If this could be achieved, then I don't think there would be much rework for me to do on https://github.com/piersharding/dplyrimpaladb to bring it into line with @hadley 's dplyr interface.  There are some limitations with RJDBC (doesn't support all the expected functions), but it should be possible to extend this without b

[2015-07-07 21:36] twolodzko opened #1253 "Suggestion: totals() function"
dplyr becomes more and more popular tool for data manipulation. In this area, for all kinds of sorting, re-arranging, filtering, subsetting etc. MS Excel is and was commonly used. One of the most commonly used Excel features are pivot tables - the functionality that is not directly availble in dplyr.

Simple way to compute "Totals" is:

[code]

this is however clumsy since needs two other function

[2015-07-07 21:48] mjacobs commented on #383
@piersharding Great! Just to be clear, I meant compatibility with PostgreSQL _specifically_ for this issue  where an unqualified column selects one of the two columns referenced by the using clause of an equi-join.

Thanks!
Matt

[2015-07-07 22:51] piersharding commented on #383
@mjacobs I'll take any improvements!

Cheers.

[2015-07-07 23:37] #1075 closed

[2015-07-08 01:12] ellisp opened #1254 ""Incompatible types" error in dplyr 0.4.2 on linux but not in Windows"
I have a complex Shiny app deployed to shinyapps.io.  With the upgrade to dplyr 0.4.2 the version deployed to shinyapps.io (hence on linux) stopped working, whereas the Windows versions on local machines is still OK.  The shinyapps log shows the error killing the app to be:
[code]
which Google shows comes from somewhere within dplyr (other people's past issues, now resolved; and the gatherer.h fil

[2015-07-08 04:57] hadley commented on #1254
Should be fixed in the dev version.

[2015-07-08 04:57] #1254 closed

[2015-07-08 11:57] romainfrancois commented on #1250
So I'm closing this. Please reopen if it still is a problem.

[2015-07-08 11:57] #1250 closed

[2015-07-08 12:20] #1245 closed

[2015-07-08 13:21] romainfrancois commented on #1237
Should be fine now, i.e. :

[code]

@renkun-ken Can you please check with the original example, I have not installed `formattable`

So far, only for hybrid candidates `mean`, `sd`, `var`, `sum`, `min`, `max`.

Should I handle the others from https://github.com/hadley/dplyr/blob/master/src/dplyr.cpp#L851 in case e.g. some package makes `ntile` or `lead` or  ...  generic for some reason.

[2015-07-08 13:30] hadley commented on #1253
Can you please provide a small example of expected output?

[2015-07-08 13:36] hadley commented on #1237
@romainfrancois no, I don't think so - we should only care if the existing function is generic.

This comes back to Thomas Lumley's question at your useR talk - if someone does `mean <- sum`, we'll give the incorrect response. (And I think that's fine)

[2015-07-08 13:39] romainfrancois commented on #1237
Yes, I was thinking about Thomas's question while doing this actually. I think that's fine too.

I'll close this now. please @renkun-ken reopen if somehow this does not work for `formattable`.

[2015-07-08 13:39] #1237 closed

[2015-07-08 14:16] richierocks opened #1255 "mutate_ with a single row data table and a list column fails"
This is OK:

[code]

If there is only one row, I get an incorrect result, with a warning:

[code]

The problem doesn't occur with data frames.

[2015-07-08 14:34] renkun-ken commented on #1237
Thanks! Now it works perfect with `formattable`.

[2015-07-08 15:05] gmxwilliam commented on #185
@jlegewie

I have the same issue to install dplyr in R 3.0.1. Followed your instruction, I still can't install it successfully. I have specified the path of the Rcpp include directory.
Below is the output message, do you have any suggestion? Thanks.

* installing *source* package ‘dplyr’ ...
files ‘DESCRIPTION’, ‘src/Makevars’ have the wrong MD5 checksums
** libs
g++ -m64 -I/usr/include/R -DNDEBUG

[2015-07-08 15:16] #1210 closed

[2015-07-08 15:20] romainfrancois commented on #1219
Looks like it has been fixed elsewhere. I've added a regression test though.

[2015-07-08 15:20] #1219 closed

[2015-07-08 15:24] romainfrancois commented on #1191
@MarkEdmondson1234 can you make this reproducible. I don't have `data_a` and `data_b`.

[2015-07-08 15:26] romainfrancois commented on #1186
Not much to go on. Might be related to an update of Rcpp, e.g. if the binary you get from CRAN uses Rcpp version a and you have Rcpp version b, then things like this happen.

I'm closing because I don't think there is much we can do about it.

[2015-07-08 15:26] #1186 closed

[2015-07-08 15:32] romainfrancois commented on #1185
You use `group_indices` like this:

[code]

@hadley perhaps we could support something like:

[code]

[2015-07-08 15:36] romainfrancois commented on #1183
There is much more work to do to get a quantile (a sort essentially) than a mean (a sum). We could use some tricks to save data usage, etc ... but you definitely should not expect the same performance as mean.

[2015-07-08 15:57] hadley commented on #1183
@romainfrancois I think I have some C++ code somewhere that implements a reasonable efficient quantile. It won't be nearly as fast as mean, but should be faster than base R

[2015-07-08 16:01] matthieugomez commented on #1183
Cool. Simply getting the right indices after a full sort (which correspond to quantile type 1) would already be faster than the current quantile function (`arrange` only takes 0.651 on the example dataset).

[2015-07-08 17:05] matthieugomez commented on #1185
In all cases I used this function (for instance before using ggplot2 or plm), I wanted the group index to be missing in observations where some of the column was missing. This is different from the behavior of group_indices - so maybe dplyr is not the best place to implement such a function

[2015-07-08 17:49] #1179 closed

[2015-07-08 17:52] romainfrancois commented on #1179
Now getting this:

[code]

The price to pay for this was a call to `rank` on the character vector, which internally figures it out.

[2015-07-08 18:01] #851 closed

[2015-07-08 18:02] romainfrancois commented on #851
I don't think the performance penalty is big deal here. Thanks for the hint.

[2015-07-08 18:07] romainfrancois commented on #866
Hmm. I get this now:

[code]

which looks fine. Can you check again, it might have been fixed by accident.

[2015-07-08 18:13] romainfrancois commented on #1023
I get:

[code]

@elenius can you check against the dev version.

[2015-07-08 18:14] hadley commented on #866
@romainfrancois you might need to be on windows (i.e. that doesn't use utf-8 by default) to see the problem

[2015-07-08 18:19] romainfrancois commented on #951
I'm getting this, which looks fine.

[code]

And:

[code]

which looks fine too.
@andrewdolman can you check on your end please?

[2015-07-08 18:21] romainfrancois commented on #952
Still cannot reproduce this with the dev version :/

[2015-07-08 18:23] romainfrancois commented on #866
Right. I'll try that.

[2015-07-08 18:34] romainfrancois commented on #1130
It does:

[code]

@daattali's point I guess is that it's hard to read because sentences are all stuck together.

I've added a `.` now.

[2015-07-08 18:36] andrewdolman commented on #951
Hmm,

I just updated to the latest version of dplyr with github_install() but I still have the same results as before.

R version 3.2.1 (2015-06-18)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kingdom.1252    LC_MONETARY=English_United Kingdom.1252 LC_NUMERIC=C
[5] LC_TIME=English_U

[2015-07-08 18:38] romainfrancois commented on #951
Thanks. I'll play with this on windows asap.

[2015-07-08 18:39] romainfrancois commented on #1185
In that case, perhaps you can close the issue ?

[2015-07-08 18:48] dkesh commented on #1241
Yes, updating has resulted in mutate erroring (correctly, and without segfaulting) earlier.  I'm still getting some segfaults that may be dplyr related, but this one is fixed.

[2015-07-08 18:48] #1241 closed

[2015-07-08 18:51] twolodzko commented on #1253
The general idea is to add "Total" row to data frame, that summarizes the columns:

[code]

Example: in rows you have different factories and in columns some variables describing their performance, in this case `totals()` helps you to learn what is the total performance (say a sum on different factories). If you are interested only in summary statistics, then `summarise` or `summarise_each` can be

[2015-07-08 19:05] andrewdolman commented on #951
Thanks for looking.

[2015-07-08 19:12] #1108 closed

[2015-07-08 19:13] romainfrancois commented on #1108
Now getting:

[code]

The alternative would be I guess to automatically promote the result to a numeric vector. We do calculate the `double` anyway, but when we see that it can't fit an `int` we just go with `NA`.

[2015-07-08 19:14] #1052 closed

[2015-07-08 19:24] saurabhRTR commented on #1052
Thanks! Now I'm able to port more code over from sqldf to dplyr.

[2015-07-08 20:43] romainfrancois commented on #971
Hmm. I don't get it, since we do `duplicate` it in the `Lazy` class:

[code]

[2015-07-08 20:45] voxnonecho commented on #1185
I think the initial idea is great. Using `group_indices()` as we use `rleid()` in `data.table`

[2015-07-08 20:58] elenius commented on #1023
I installed the latest `dplyr`, `lazyeval` and `tidyr` from github master branches. I still get the same encoding problem.

[code]

# Session information

[code]

[2015-07-08 21:27] #971 closed

[2015-07-09 07:21] romainfrancois commented on #1023
Looks like `combine_vars` is responsible for this.

[2015-07-09 08:00] romainfrancois commented on #1023
Ok so in `combine_vars` I'm now using `String` and `CharacterVector` instead of `std::string` and `std::vector<std::string>`. Now getting this on windows:

[code]

[code]

[code]

so this looks good. @elenius can you have another go against the dev version please, and close this if it is fixed.

Unfortunately I think it is pointless to add unit test for this, because we can't have utf8 tests on wi

[2015-07-09 08:08] romainfrancois commented on #951
Getting this on windows now:

[code]

That looks good. Still getting this though:

[code]

[2015-07-09 08:55] elenius commented on #1023
I updated to latest `R-3.2.1`, and installed the latest `dplyr` from github, but I get the same output as before.

Thank you for working with this!

[code]

# Session information

[code]

[2015-07-09 09:10] #1227 closed

[2015-07-09 09:52] hannesmuehleisen commented on #1167
Added a corresponding test case to our CI: http://dev.monetdb.org/hg/MonetDB/file/a2b9e148eef0/clients/R/Tests/dplyr-flights.R

[2015-07-09 19:15] MarkEdmondson1234 commented on #1191
I beg your pardon Romain, but I had a look for the code that produced this first time and I've edited it out, and the pre-condition (a dataframe with a character vector in one field and NULL in the rest), I can't reproduce.  I thought it worth reporting as the whole R session crashed when it happened, but since then perhaps dplyr has updated to not allow that situation occurred.  I'll close this,

[2015-07-09 19:15] #1191 closed

[2015-07-09 20:07] shntnu opened #1256 "filter doesn't behave as expected, possibly a non-standard evaluation issue"
P <- list(d1 = iris, d2 = iris, d3 = iris)

    # this gives an error
    # Error: invalid subscript type 'integer'
    dim(dplyr::filter(P$d1, Species %in% P$d2$Species))

    # this works fine
    x <- P$d2$Species
    dim(dplyr::filter(P$d1, Species %in% x))

    # this works fine
    names(P$d3) <- paste("d3", names(P$d3), sep = "_")
    dim(dplyr::filter(P$d1, Species %in% P$d3$d3_Species))

[2015-07-10 08:59] romainfrancois commented on #951
Quite a chunk of work later, I've modified how we compare column names, essentially we now let R figure it out, that's probably slower but until c/rapi gives us something better, that's the best I can do.

Anyway I'm now getting this (with dev version 0.4.2.9002):

@andrewdolman can you have a look please.

[code]

...

[code]

[2015-07-10 09:45] andrewdolman commented on #951
Both tests work for me now too. Thank you.

  speed dist v_µg v2
1     4    2    6 10
2     4   10   14 18
3     7    4   11 18
4     7   22   29 36
5     8   16   24 32
6     9   10   19 28

R version 3.2.0 (2015-04-16)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kin

[2015-07-10 10:11] romainfrancois commented on #951
Awesome.

[2015-07-10 10:37] andrewdolman commented on #951
Hi Romain,

Sorry, I tested the original code that used to cause me problems and I still have trouble with slightly more complicated chains of functions.

This still fails.

[code]

[2015-07-10 14:08] romainfrancois opened #1257 "encoding issues"
This is related to many issues we have, esp on windows about encoding. Taking the example from #1023, but somewhat detailing steps

[code]

`Process` is encoded in my native locale:

[code]

Now, first step, grouping and summarising:

[code]

I'm getting the right symbol because the strings are encoded in the same locale as my current locale. So far so good.

Then if I spread, column names get con

[2015-07-10 14:36] NikNakk commented on #1172
The code for `sql_join.DBIConnection` already supports right and full joins. Since all `left_join.sql_df` does is to call `sql_join`, it should just be a case of copying the method for `right_join.sql_df` and `full_join.sql_df` and changing the join type to "right" and "full" respectively.

[2015-07-10 14:56] romainfrancois commented on #1023
I think this commit https://github.com/hadley/dplyr/commit/c7c9a6f2ebf89d7fc096aff598040c49a89e99f1 took care of it.

At least it works for me on windows.

@elenius can you check please ?

[2015-07-10 14:57] romainfrancois commented on #951
I think this commit took care of the `summarise_each` problem. https://github.com/hadley/dplyr/commit/c7c9a6f2ebf89d7fc096aff598040c49a89e99f1

Can you check @andrewdolman please.

[2015-07-10 15:01] romainfrancois commented on #866
I changed a few things recently about how we deal with column names, it should be more resistant to encoding issue like these. @hkjinlee can you try the dev version please.

[2015-07-10 15:09] romainfrancois commented on #1257
Took care of `colwise_` in this commit. https://github.com/hadley/dplyr/commit/c7c9a6f2ebf89d7fc096aff598040c49a89e99f1

I guess we should also use `enc2native` whenever we use `as.name` on the R side:
https://github.com/hadley/dplyr/search?l=r&q=%22as.name%22&type=Code&utf8=✓

or (and that might be more tricky) whenever we use `Rf_install` or `Rf_installChar` from a `CHARSXP`

[2015-07-10 19:55] elenius commented on #1023
Yes, `enc2native()` fixed the encoding problems with WIndows 7 for me. Well done!

[2015-07-10 19:55] #1023 closed

[2015-07-10 20:46] mjacobs commented on #383
@piersharding while we're doing this, is there anything else that might be blocking you? Other things you might need?

Thanks

[2015-07-10 22:12] BrashEQLibrium opened #1259 "mutate_each will not append funs names to variables and overwrites if only one function specified"
[code]

[2015-07-11 01:42] piersharding commented on #383
@mjacobs I stopped at that point, with joins as trying to fix it by anticipating how to deal with fully qualifying the table.column names when the nesting gets deeper (with multiple joins) meant that I ended up breaking the way that dplyr wanted to work naturally.  Also, while it's not ideal, it is easy to switch to using another fully supported datasource once the dataset has been paired down to

[2015-07-11 03:21] hkjinlee commented on #866
@romainfrancois You did a fantastic job! Tried dev version and found the encoding issue gone away.
@shrektan Would you try yourself for Chinese column names (for double check)?

[code]

[2015-07-11 07:15] romainfrancois commented on #866
Thanks. I'm closing this now. @shrektan let me know if this does not work for you. Very glad this is out of the way.

[2015-07-11 07:15] #866 closed

[2015-07-11 10:54] romainfrancois commented on #1144
I think it is properly fixed now with the new code I've put in place to deal with column names and encodings.

I'm closing this now. @hmalmedal can you check please and reopen if it still does not do what you want.

[2015-07-11 10:54] #1144 closed

[2015-07-11 11:52] andrewdolman commented on #951
@romainfrancois Yes this works now.

I have also tested with other code that used to cause me problems and it all works now. Will get more testing this week. I have a lot of data with German names or µ units in the headers.

[2015-07-11 13:23] romainfrancois commented on #1212
What happens is that `mutate_each` uses a different kind of non standard evaluation, giving a different meaning to `.`, but the time we end up in `mutate_` the expression looks like this:

[code]

I don't think there's really anything we can do.

[2015-07-11 15:29] romainfrancois commented on #951
In that case, let me close it. Please come back here if it's not all fixed.

[2015-07-11 15:29] #951 closed

[2015-07-11 17:20] mjacobs commented on #383
@piersharding OK, thanks. I've updated an existing JIRA to track the work of selecting the non-qualified column from the equijoin, you can track it here if you're interested: https://issues.cloudera.org/browse/IMPALA-1635

Is there anything in particular you'd need from Impala for the data ingestion? I'm not sure I see the problem.

[2015-07-11 18:27] piersharding commented on #383
OK, thanks - moving the rest of the discussion from here if it's OK with you as it's not strictly dplyr - https://github.com/piersharding/dplyrimpaladb/issues/3 .

[2015-07-12 22:00] ijlyttle commented on #740
bug appears fixed as of 0.4.2 - attributes are now untouched

[2015-07-12 22:00] #740 closed

[2015-07-13 01:35] shrektan commented on #866
Just tested it and it works. Thanks!

[2015-07-13 07:56] shrektan opened #1261 "the group_by&summarise behavior seems being affected by the global option stringsAsFactors"
Hi, I just installed your latest development version of `dplyr`. However, I notice an issue that is **the group_by&summarise behavior seems being affected by the global option stringsAsFactors**.

With the **Mini Repro** that I provided below, I will get the correct output if I don't touch the `stringAsFactors`, but I will get this if I execute `options(stringsAsFactors = FALSE)` before the code.

[2015-07-13 08:02] akhmed1 commented on #1259
I think this is actually done on purpose.

[2015-07-13 14:23] drbroo opened #1262 "select_ does not preserve keys"
Apologies if I'm just missing something, and thank you, thank you, thank you for dplyr.

dt is a data.table; all but one of its columns is a key; allCols is a character vector including the names of two of the (keyed) columns of dt. But key(select_(dt,.dots=allCols)) returns only one of the two keyed fields.

[code]

There's a fairly straightforward workaround, which is to apply setkey() to the se

[2015-07-13 17:56] takje opened #1263 "ifelse loses posixct type"
Hi,

I am using ifelse in a mutate and noticed that it casts the datatype to numeric if the type is POSIXct.

Example:
[code]

Therefore I have to manually cast the types which leads to more ugly code and possible mistakes. Maybe you could do a check to not cast it as numeric if both sides (TRUE/FALSE) are of the same type.

Don't know if it's a bug or a feature.

[2015-07-13 18:33] romainfrancois commented on #1263
This is not a dplyr problem. `ifelse` is a base R function.

[2015-07-13 18:33] #1263 closed

[2015-07-14 01:56] shntnu commented on #984
Perhaps related to this issue: the example below indicates that casting a variable as a factor increases the speed of dplyr::inner_join. But it's a little odd because the factor is in fact coerced to character vector.

    n <- 1000000
    m <- 1000
    d <- data.frame(k = sample(letters, size = n, replace = T),
                    v = sample(n))
    h <- data.frame(k = sample(letters[1:10], m, re

[2015-07-14 12:25] romainfrancois commented on #1040
@sfischme any progress on a reproducible example ?

[2015-07-14 12:54] hughjonesd opened #1265 "Encoding in bind_rows"
Just came across this, possibly related to #1257.

[code]

[2015-07-14 12:56] hughjonesd commented on #1265
A related point is that `select()` changes the encoding of names, when it encounters e.g. an umlaut.

[2015-07-14 13:26] romainfrancois commented on #341
Some more details needed here:

If I have this:

[code]

And I group by `x` then `f`, I'd end up with 6 (2x3) groups where the groups `(2, 2)` and `(2,3)` are empty. That's ok. I can manage to implement that I think.

now, what if I have this:

[code]

and I want to group by `f` then `x`. What would the groups be ? @hadley

[2015-07-14 13:47] #1265 closed

[2015-07-14 13:49] romainfrancois commented on #1265
@hughjonesd can you open another issue, with a reproducible example about the behavior of `select` please.

[2015-07-14 13:51] bpbond commented on #341
Both `stats::aggregate` and `plyr::ddply` return 4 groups in this case (1,1; 1,2; 2,1; and 2,4), so I'd suggest that's the behavior to conform to.

[2015-07-14 13:57] hughjonesd opened #1266 "select alters encoding to UTF-8 when it encounters non-ASCII characters"
[code]

Non-ASCII is my guess - I just know it does this with the umlaut.

[2015-07-14 14:39] romainfrancois commented on #1266
This happens in `lazyeval::all_dots`.
I don't think it is a big deal that encoding get altered. @hadley ?

[2015-07-14 16:19] hmorzaria opened #1267 "Error when using coordinates in tbl"
Data is a set of species occurrences with 4 columns, species name, source, lat and lon
I am using readxl to read in excel sheets, so the data is automatically converted to tbl_df

In this command

[code]

[2015-07-14 16:24] hmorzaria commented on #1267
I dropped tbl_df to remove the error, but was wondering if there was another way of addressing this

[2015-07-14 18:48] huftis commented on #341
Shouldn’t it agree with `table()` instead, i.e., return 9 groups?

      1 2 4
    1 1 1 0
    2 1 0 1
    3 0 0 0

I would expect `df %>% group_by(f, x) %>% tally` to basically give the same result as `with(df, as.data.frame(table(f, x)))`.

[2015-07-14 20:19] sfirke opened #1269 "slice(df, n) returns all rows if n > nrow(df)"
`slice()` does not behave as expected based on the description in `manip.R` which states that "Equivalent code using filter that will also work with databases" is:
`filter(mtcars, row_number() == 1L)`

But in the following example they differ.  I expected the output I got with `filter(row_number() == n))`

Using the mtcars data:

`mtcars %>%
  group_by(cyl) %>%
  tally()`
`# there are 7 cars with

[2015-07-14 23:12] koseri commented on #1007
+1

[2015-07-15 12:23] #893 closed

[2015-07-15 12:23] romainfrancois commented on #893
Seems fixed now. Can everyone please try their examples and see if there is still a problem.

[2015-07-15 12:28] romainfrancois commented on #1269
I'm getting:

[code]

Did you test this on the dev version ?

[2015-07-15 12:28] #1269 closed

[2015-07-15 12:54] romainfrancois commented on #1145
What do we count ? rows for which none of the variables are `NA` ?

[2015-07-15 13:30] arielfuentes opened #1270 "Join by row names"
Is it posible to implement a join based in row names?

[2015-07-15 14:12] #1134 closed

[2015-07-15 14:13] romainfrancois commented on #1134
This was a problem in hybrid evaluation.

[2015-07-15 15:19] #1125 closed

[2015-07-15 15:35] vnijs commented on #893
I tested my example with version 0.4.2.9002 from github and it works. I also ran tests and examples from my main package and everything works great. Thanks @romainfrancois

[2015-07-15 16:46] RNoob commented on #893
Tested my example and other data and all are working fine (0.4.2.9002). Thanks!

[2015-07-15 18:20] antoine-lizee commented on #1134
Thanks!

[2015-07-16 08:10] #1101 closed

[2015-07-16 08:11] romainfrancois commented on #1101
Now getting this:

[code]

@holgerbrandl does that work for you.

[2015-07-16 08:48] holgerbrandl commented on #1101
Much better, although I personally find "elements" rather unspecific. Why not "columns"?

[2015-07-16 09:17] romainfrancois commented on #1101
Sure. Would you send us a pull request that @hadley can have a look at.

[2015-07-16 11:18] holgerbrandl commented on #1101
done with https://github.com/hadley/dplyr/pull/1271

[2015-07-16 17:30] sfirke commented on #1269
Ah I was not using the dev version, I have now installed it and I get the expected results.  Thanks!

[2015-07-16 20:50] r2evans commented on #1243
I'm able to get it to consistently dump with this code:

[code]

The above code breaks under R-3.1.3, R-3.2.0, and R-3.2.1 using dplyr-0.4.2. When I downgrade to dplyr-0.4.1, all is good.

[2015-07-16 21:51] mattwg commented on #1141
And restart the R session.

[2015-07-17 02:57] shrektan opened #1273 "copy_to doesn't handle date type properly"
### DESCRIPTION

The `copy_to` function will not handle the Date properly. It will be treated as integer.

### Mini Repro

[code]

### Result
[code]

### Session Info

[code]

[2015-07-17 09:08] bramtayl opened #1274 "More joins"
Edit: sorry, accidental duplication

[2015-07-17 09:08] bramtayl opened #1275 "More joins"
Insert join: where the by variables match, simply take all row data from the newer data frame and replace the row data in the older data frame. This is useful for a subset-mutate-update type workflow.

Update join: a regular full join, but when there are common variable names, move all non-NA values from the column in the newer data frame to the older data frame. This is useful to a summarize-muta

[2015-07-17 09:17] #1274 closed

[2015-07-17 10:31] barnettjacob commented on #893
Works for me now on the Github version (0.4.2.9002). Thank you.

[2015-07-18 00:51] sfischme commented on #1040
[code]

[2015-07-18 15:31] jolweny commented on #184
I also experienced the same problem recently

[2015-07-19 22:03] cboettig opened #1277 "RPostgres is unable to find table without manually giving the sql call"
When using the postgresql connection, calls like:

[code]

fail with:

[code]

while falling back on manually giving the SQL call to dplyr works:

[code]

Not sure if this is a `dplyr` or `RPostgres` issue, bug first reported under the latter with a copy-pastable reproducible example there: https://github.com/rstats-db/RPostgres/issues/32 .

[2015-07-20 07:11] xiaodaigh commented on #145
+1

[2015-07-20 09:40] helix123 opened #1278 "Missing blanks in setequal's output"
dplyr 0.4.2:

    df1 <- data_frame(x = as.numeric(1:2), y = as.numeric(c(1, 1)))
    df2 <- data_frame(x = as.numeric(1:2), y = as.numeric(c(1:2)))
    dplyr::setequal(df1, df2)

    ## FALSE: Rows in x but not y: 2Rows in y but not x: 2Rows with difference occurences in x and y: 2, 2

Two missing blanks spotted after output of row numbers (in the above example: "2Rows" (2x)).

[2015-07-20 17:06] dlebauer commented on #1007
+1

[2015-07-20 20:28] mcfrank commented on #341
I thought our desired behavior was to preserve zero-length groups if they are factors (like .drop in plyr), so I would imagine we'd want @huftis's suggestion.

[2015-07-20 20:42] EconomiCurtis opened #1279 "Suggestion: dplyr::summarize, dplyr::mutate, dplyr::filter - treat new-line as comma"
tl:dr, curious what you think about having certain dplyr functions recognize new-lines as commas?

----
When I use functions like summarize, mutate, filter, arrange etc, I find myself separating arguments by new lines.  For example with mutate and multiple name-value pairs of expressions from the  [dplyr::vignette](https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html#add-new-col

[2015-07-20 21:06] hadley commented on #1279
It would be quite hard to implement this, and it add a new type of syntax, so while I agree the result would be nice, I don't think it's worth the cost.

[2015-07-20 21:06] #1279 closed

[2015-07-21 14:18] ekbrown opened #1280 "arrange()-ing words with accented vowels"
arrange() interacts differently with data_frame than with data.frame when ordering words with accented vowels:

[code]

[code]

[2015-07-21 15:23] hadley commented on #1261
Yes, because `data.frame()` uses the global stringsAsFactors setting. That's one reason we wrote `data_frame()`

[2015-07-21 15:27] hadley commented on #1261
Ok, the real problem is unrelated to `stringsAsFactors` - something seems to be going wrong with grouping of character missing values:

[code]

[2015-07-21 15:27] hadley commented on #1261
@romainfrancois can you please take a look when you back up and running?

[2015-07-21 15:30] hadley commented on #1266
Yeah, seems fine to me.

[2015-07-21 15:30] #1266 closed

[2015-07-21 15:31] hadley commented on #1267
Please provide a minimal reproducible example

[2015-07-21 15:34] hadley commented on #1145
I'm not sure what I meant here, but I think was probably thinking about the case where there are weights

[2015-07-21 15:35] hadley commented on #1270
No. dplyr does not support row names because I think they're a bad idea (because of exactly this problem - you no longer have a single way of referring to variables in your data)

[2015-07-21 15:35] #1270 closed

[2015-07-21 16:06] hadley commented on #341
Hmmm, it's hard to wrap my head around exactly what the behaviour should be.  Do these very simple thought experiments look correct?

[code]

But what if `x` has multiple values? Should it work like this?

[code]

Maybe preserving empty groups only makes sense when grouping by a single variable? If we frame it more realistically, e.g. `data_frame(age_group = c(40, 60), sex = factor(M, levels = c("

[2015-07-21 16:11] hadley commented on #1280
Can you please make the example reproducible? i.e. something that I can copy and paste directly into R.  (And no need to include sessionInfo()`

[2015-07-21 18:15] huftis commented on #341
@hadley Your examples look right to me (assuming you meant `levels = 1:2`, not `levels = 2`). And I think preserving empty groups makes sense even grouping by several variables. For example, if the variables were `sex` (`male`and `female) and `answer` (on a questionnaire, with levels `disagree`, `neutral`, `agree`), and you wanted to count the frequency of each answer for each sex (e.g. for a tabl

[2015-07-21 20:52] ekbrown commented on #1280
library("dplyr")
words <- c("casa", "árbol", "zona", "órgano")
df1 <- data.frame(words)
df1 %>% arrange(words)
df2 <- data_frame(words)
df2 %>% arrange(words)

[2015-07-22 05:19] ChingChuan-Chen opened #1281 "problems about join"
The output by inner_join is different from the outputs from base:::merge and plyr:::join.

Is it a problem? Or it is set on purpose?

[code]

[2015-07-22 08:04] shrektan opened #1282 "a problem related to translate_sql for %in% operator"
Hi, when I execute `translate_sql(x %in% c("a"))`, the expected result should be:

[code]

However, in `dplyr 0.4.1` the result turns out to be:

[code]
Notice that the `a` doesn't surrounded with `(`and `)`. Thus, this SQL can't be executed.

[2015-07-22 17:57] VectorPosse commented on #893
I'm still seeing this problem. Not sure how to make a reproducible example since I'm working with confidential data.

[2015-07-22 18:15] romainfrancois commented on #893
I can sign an NDA and do this as a contract basis for you, but otherwise there is not much we can do.

Envoyé de mon iPhone

[2015-07-22 18:29] VectorPosse commented on #893
I deleted the comment because I realized I had updated to the newest CRAN
version, but not the newest github version. I'll try again with the
bleeding-edge version. Thanks for getting back to me though.

--Sean

On Wed, Jul 22, 2015 at 12:15 PM Romain François <notifications@github.com>
wrote:

[2015-07-22 20:09] wtcooper opened #1285 "distinct() after joining data.table's"
Running distinct() after joining two data.table's leads to a data set with just unique keys (the join variable), not unique rows.  Should this be changed to be comparable with distinct() if running on underlying data.frame?

e.g.

[code]

[2015-07-23 13:13] kismsu commented on #1277
Are you sure that tablename is a table now a view? I've seen this for views?

[2015-07-23 15:53] andrewblim opened #1286 "segfaults/inconsistent results with is.na"
Tried this on dplyr 0.4.2, R 3.2.1, and OS X 10.10.3. Coworker got similar results on Ubuntu 14.04.2 LTS.

Setup:

[code]

`df %>% dplyr::mutate(z = is.na(x))` works fine.

`df %>% dplyr::mutate(y = 1, z = is.na(x))` sometimes seems to work fine but sometimes either hangs R or crashes it with an error that sometimes is the usual segfault "address 0x10b63a000, cause 'memory not mapped'" and sometim

[2015-07-23 16:27] danmalter commented on #214
meyera, I ran into this same problem and am able to confirm that installing dplyr on a larger instance type (t2.small or greater) will properly load the package.  This is assuming you are running the correct version of R.

[2015-07-23 17:34] cboettig commented on #1277
@kismsu Good question, I'm not all that familiar with the distinction, but I think these are real tables.  `dplyr` print method for mydb calls them tables at any rate, so that's pretty confusing. There's a completely reproducible example in the link I provide that accesses the exact database and table where I see this error if that's helpful.  I'll paste it over here for convenience:

[code]

I ca

[2015-07-23 17:37] romainfrancois commented on #1286
Did you try against the dev version ?

Envoyé de mon iPhone

[2015-07-23 18:55] lgautier opened #1287 "mutate() is dropping row names"
With `dplyr` version 0.4.2 and R 3.2.1:

[code]

[2015-07-23 19:02] romainfrancois commented on #1287
This is expected. Dplyr does not make any promise about row names.

[2015-07-23 19:02] #1287 closed

[2015-07-23 19:21] einarhjorleifsson commented on #1277
hi
i will throw my spanner in here, for better or worse.

firstly, i can reproduce the code by @cboettig.

secondly, i suspect that these may be views. specific to the specified user. the actual data are i suspect are stored in srdb.tablename (e.g. "srdb.stock" ). and the "srdb" is what falls likely under <schema> - so when executing:
sql("SELECT * FROM srdb.stock")
one is (i think) generally exec

[2015-07-23 19:54] lgautier commented on #1287
May be it could/should ?

On Thu, Jul 23, 2015, 3:02 PM Romain François <notifications@github.com>
wrote:

[2015-07-23 19:56] einarhjorleifsson commented on #1277
apologies:
sql("SELECT * FROM .
")
should be sql("SELECT * FROM <schema><table>")

[2015-07-23 19:57] einarhjorleifsson commented on #1277
hmmm. markdown problem here, last trial: sql("SELECT from SCHEMA.TABLE")

[2015-07-23 23:50] bpbond commented on #341
Yes, probably too complicated. Otherwise I agree with @huftis 's comments.

[2015-07-24 07:30] kismsu commented on #1277
It looks like you can't get access to table if it's schema not public. As stock table is in srdb schema, simple tbl(mydb, "table_name") doesn't work.

[2015-07-24 13:51] svannoy commented on #347
I've also been getting bit by this, partly for the same reason as mattwg above (trying to keep things quiet in RMarkdown), and also because of the multiple packages that load plyr.

I've decided now to always qualify summarize and mutate with dplyr::summarize and dplyr::mutate, is there any danger or disadvantage (other than extra typing) to doing this?

[2015-07-24 16:35] einarhjorleifsson commented on #1277
This seems to do the trick:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

einar

[2015-07-24 16:38] cboettig commented on #1277
@einarhjorleifsson very nice!

Would it be possible to get `dplyr` to set the search path automatically?  Since `mydb` is reporting these a `tbls` it seems reasonable a user would expect them to work with the `tbl` method.

[2015-07-24 16:40] hadley commented on #347
@svannoy it's only a problem when you do `library(plyr)` not when other packages important plyr functions for their own purposes

[2015-07-24 16:45] einarhjorleifsson commented on #1277
and/or additionally to be able to do call schema in the `src_postgres` function. in this particular case something like

[code]
say this because the schema name may be different from the database name.

[2015-07-24 17:08] svannoy commented on #347
Thanks, much easier to get rid of those!

*****************************
@stevenvannoy
stevenvannoy.wordpress.com

[2015-07-24 19:35] Alleno commented on #145
++1

[2015-07-24 19:50] wsurles commented on #341
@hadley
I think
YES expand on all combinations of values to the group_by if they exist in the data.
NO do not expand on factor levels that don't exist.

My most often use case is preparing a set of summarized data for a chart (during exploration). And the charts need to have all combinations of values. But they do not need to have factor levels that have 0 for all groups.. e.g. you cannot stack a

[2015-07-24 21:47] jennybc commented on #341
I strongly agree with @huftis.

I don't think dropping of levels or combinations of levels should have anything to do with the data. You might be prototyping a function of figure using a small sample. Or doing a split-apply-combine operation, in which case you want a guarantee that the output of each group will be conformable with all the rest.

Softening my position: I think it's worth considerin

[2015-07-25 10:40] einarhjorleifsson commented on #1277
alternative and more direct way: looks like one can access the "srdb" schema within the `src_postgres` function by specifying options:
[code]
wandering if this option syntax could be hidden within the `src_postgres` function such that the user could do something like:
[code]
einar

[2015-07-26 10:03] mygitforcoursera commented on #425
I am getting a similar error but it is just using the base dplyr package, not the dplyrExtras. Here's the few preceding lines of code to the error :

+     for(h in 1:6){
+         tmp <- dplyr::summarise_each(mss_df[which((mss_df$activity == h) & (mss_df$subject == i))],funs(mean))
+         mean_set <- dplyr::bind_rows(mean_set,tmp)
+     }
+ }

[1] FALSE

[1] TRUE
I'm taking a course in R and t

[2015-07-27 08:59] bramtayl commented on #425
I'm not sure you need for loops;

[code]

Unless I'm misunderstanding your code.

[2015-07-27 20:25] lordadeloss opened #1288 "Session crashes with dplyr (and lubridate)"
R studio or my R engine is crashing when I execute the code below or a version of that code. I have tried the code on a different computer with the same result. Any ideas of what is going on?

I have attached
•	the data, https://www.dropbox.com/s/m7yg1cb3o7la59k/df_eo.RData?dl=0

R version 3.2.1 (2015-06-18)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 8 x64 (build 9200)

local

[2015-07-27 23:34] jordanwatson opened #1289 ""loss of precision" error when tbl_df contains numeric and integer fields"
Maybe this isn't an issue and is just my poor understanding of the function. But if I have an statement that includes a numeric and an integer field, I get a loss of precision / conversion to integer error. However, I wasn't doing anything with the numeric field.

If I convert the integer to numeric ahead of time however, the error goes away.
I saw a previous fix that seemed to address a similar i

[2015-07-28 15:18] lordadeloss commented on #1288
My problem seem to be similar to that of, https://github.com/hadley/lubridate/issues/330

[2015-07-28 16:50] jennybc opened #1290 "Implementation of list() that uses NSE to name components lazily"
Opening at @hadley's suggestion [on twitter](https://twitter.com/hadleywickham/status/626047976754941953). Relevant to a [triplicated question](http://stackoverflow.com/questions/31665978/is-there-a-lazy-way-to-create-a-named-list) on stackoverflow. Overlaps with the [`store()` proposal](https://github.com/hadley/purrr/issues/62) by @lionel- over in `purrr`.

If list components could get named at

[2015-07-28 16:55] lionel- commented on #1290
Indeed, dplyr may well be a better fit than purrr for `store()` and a list method for `mutate_()`.

[2015-07-28 19:13] sfirke commented on #817
I just ran into the same issue as @bramtayl, calling mutate on a data.frame with an empty-named variable.  I negative-selected that variable and that allowed the mutate call to run.

[2015-07-28 21:09] jimhester commented on #1290
I think this does the trick?

[code]

[2015-07-28 21:38] scbagby opened #1291 "Logicals behave unpredictably in grouped dataframes"
dplyr 0.4.2.9002 does not correctly evaluate any() on grouped data and unpredictably fails to group by logicals; getting the unique values of a grouped logical variable often causes a segfault.  This may be three separate issues, or a single one.

I've posted a gist here:  https://gist.github.com/scbagby/03ee6a815a93ba34e366

[2015-07-29 11:11] bered opened #1292 "segfault in mutate"
i am very new to r and if the errors are my fault, then my apologies.
here is a minimal example which produces often, but not always segfaults OR wrong results, depending on the size of myn. for myn=100 or 1000 it usually works, but for 10⁵ or 10⁶ it does not.
here the code:

library(dplyr)
myn <- 100000
df <- data_frame(x=rep(1:5,myn))
df <- df %>% mutate(infirst=ifelse(x==1,TRUE,FALSE),insecond=

[2015-07-29 14:56] npjc commented on #438
### This is still a thing in dplyr 0.4.2 (CRAN).

Thanks for the time and consideration!

[code]

[code]

[2015-07-29 18:41] andeek commented on #1292
I had a similar issue. It seems to be fixed in the version on github, or at least the problem went away for me.

To install from github using `devtools`,

[code]

Hopefully that works for you too!

[2015-07-29 19:20] gtumuluri opened #1293 "R crashes with dplyr lagged difference computation on large data/groups"
I have a data frame 4 million rows and 1.4 million distinct values of a grouping variable. Sample DF looks like this:

                  date        id
    1 2015-06-25   4333864
    2 2015-06-25   3867895
    3 2015-06-25   4333866
    4 2015-06-25   4333868
    5 2015-06-29   2900522
    6 2015-06-29   3609093

Using this command to do lagged date differences crashes R on an 8GB memory MAC:

[2015-07-29 22:55] amormachine opened #1294 "Alternative for Standard 'apply' Function Which Does Not Coerce Column Data Types"
Consider using the standard R function *apply* as follows:

    # Your_Function Pseudo-Code
    if Your_DataFrame['Birthday'] in January {
        return("Happy January Birthday!")
    }

    # Your DataFrame Structure
    Your_DataFrame =
     Birthday      |   Name
     2015-01-01    |    Bob
     1996-03-05    |  Susie

     apply(Your_DataFrame, MARGIN = 1, FUN = Your_Function)

The problem he

[2015-07-29 23:55] scbagby commented on #1291
Reverting to 0.4.0.9000 appears to fix this behavior.

[2015-07-30 08:10] dudious commented on #505
WOW that saved me alot of time

[2015-07-30 08:15] bered commented on #1292
thank you!!!
worked for me too!!!

[2015-07-30 08:39] #1292 closed

[2015-07-30 11:37] hadley commented on #1294
`rowwise()` + `do()` ?

[2015-07-30 11:37] #1294 closed

[2015-07-30 15:01] klmr opened #1295 "inner_join leaks memory"
I `inner_join` large `data.frame`s (> 1.000.000 rows × 20.000 rows). Before the `inner_join`, my R process uses 600 MiB of memory. After the `inner_join`, the memory consumption has increased to 3.5 GiB. After running `gc()`, the memory usage once again drops down (to about 700 MiB).

I’d love to provide a reproducible example but I’m unsure how to produce sufficient amounts of example data. With

[2015-07-30 15:38] DavidArenburg commented on #1295
If you are truly looking for a better idea, I would suggest to try `data.table`s binary join, which works best for inner joins. Some example [here](http://stackoverflow.com/questions/12773822/why-does-xy-join-of-data-tables-not-allow-a-full-outer-join-or-a-left-join) perhaps

[2015-07-30 16:38] mczapanskiy-usgs commented on #1280
I believe this is by design. `data_frame` preserves the class of its inputs so `df2$words` is character but `df1$words` is factor. The following code produces shows `data.frame` and `data_frame` behaving identically:
[code]

[2015-07-30 19:02] kevinushey commented on #1280
Yes, this is just yet another victim of `stringsAsFactors`.

[2015-07-30 19:50] ekbrown commented on #1280
Weird. So, apparently I'll need to coerce `words` to `factor` to get the correct output. Why does `base::sort` correctly sort characters (and factors), but `dplyr::arrrange` doesn't correctly sort characters, only factors?

[code]

[2015-07-30 20:17] jianboli opened #1296 "Feature Request: Customize the suffixes of columns after join"
I do a lot of multiple table joins, and think the ability to customize the suffixes of the columns (like the "suffixes" parameter in function merge) in join would be very helpful. For example, suppose we would like to calculate the moving average of some column of a data.frame in the SQL way:
[code]
To keep track of the variables information, we need to keep renaming the names. If not, the naming

[2015-07-30 20:30] mczapanskiy-usgs commented on #1280
That's where it gets interesting. The `dplyr` vignette says `arrange` is a wrapper for `order`, but the following shows that the two functions get different results whether for `data.frame` or `data_frame`:
[code]

It turns out that the reason most likely has to do with the R locale vs. the C locale. The following is from the `dplyr` documentation for `arrange`:

local specific ordering usually do

[2015-07-31 01:54] AMarthaller commented on #1206
This bit me today. How about just preserving an arrange if it's called before group_by? Then you can support both with the same existing method. Order of operations would control the behavior.

[2015-07-31 05:03] src1371 commented on #631
I've been using dplyr a lot recently and very happy with it.  Just a question about combining select() and filter();  it would be great to be able to select columns based on a filter eg  data_forPCA <- data_forPCA[, colSums(is.na(data_forPCA)) < 100]  is there a dplyr way of doing this?

[2015-07-31 23:08] mczapanskiy-usgs commented on #1296
Good idea - aligns dplyr and SQL joins nicely. I'm curious, why use `suffixes` and give it a vector? In SQL you give a table one alias that gets prepended to each variable. With that in mind, what do you think of something like this:
[code]

[2015-07-31 23:39] mczapanskiy-usgs commented on #1262
Without a reproducible example it's hard to know for sure what's going on. Is `allCols` a character vector? When I try something similar I'm seeing the keys preserved. This code:
[code]
Yields the following output:

[1] "a" "b" "c"

Can you supply `dt` and `allCols`?

[2015-08-01 03:08] daattali opened #1297 "`mutate` on non-small datasets sometimes crashes"
Using the following code as an example:

[code]

Starting with a dataframe with 100,000 rows and 3 cols, use mutate to add another 3 cols. Repeat 50 times.  Sometimes it runs to completion. Sometimes the R session simply freezes at a random iteration.  A few times I got the error

[code]

If I lower the initial number of rows to 10,000 nothing ever goes wrong.

[code]

Is this simply a matter of i

[2015-08-01 17:03] romainfrancois commented on #1297
Did you try on the dev version of dplyr ? I can't reproduce the problem. I 'm pretty sure this is part of the fixes from early july.

[2015-08-01 17:07] romainfrancois commented on #1295
We just let R deal with garbage collection, and if it goes sufficiently down once you manually trigger it, it means we don't forget to release intermediate memory, so not much we can't do. I don't see dplyr starting  to make calls to `gc`.

[2015-08-01 17:07] #1295 closed

[2015-08-01 17:11] romainfrancois commented on #1293
Please only report issues once you've tested the problem on the dev version.
I'm pretty sure this has been fixed in my early july sweep.

And if you want us to diagnose the problem, please make a reproducible example.

Closing this now, please reopen once you have tested it on the dev version and you still see the problem.

[2015-08-01 17:11] #1293 closed

[2015-08-01 17:32] klmr commented on #1295
Fair point. This seems more a bug in the R garbage collector …

[2015-08-01 17:43] daattali commented on #1297
Yes you're right, using the dev version I don't get the error anymore. Wish I knew that yesterday, would have saved me 10 agonizing hours :)

[2015-08-01 19:08] #1291 closed

[2015-08-01 22:07] daattali commented on #1297
Maybe "reopening" is not the correct action here, but I ended up going back to the old dplyr (0.4.2) because the dev version is exponentially slower. I haven't figured out where/what function exactly, but running my complex application just got extremely slow, after after removing the dev version and installing the CRAN version of dplyr, it went back to being fast.

[2015-08-02 09:24] romainfrancois commented on #1297
Do you have something I can use to help you. What is it slow on, can you spare some reprex please.

[2015-08-02 09:28] romainfrancois commented on #1289
I can't reproduce this with the dev version.

[code]

So I'm closing this. Please consider trying the dev version before filing an issue next time.

[2015-08-02 09:28] #1289 closed

[2015-08-02 09:58] romainfrancois commented on #1288
I believe this has been fixed in early july. I can't reproduce this.
Can you reopen if it still happens for you in the dev version.

[2015-08-02 09:58] #1288 closed

[2015-08-02 10:01] romainfrancois commented on #1286
I strongly believe this has been fixed in the dev version. Probably along fixing #1231
Please reopen when you still see the problem with the dev version.

[2015-08-02 10:01] #1286 closed

[2015-08-02 11:00] #1280 closed

[2015-08-02 11:03] romainfrancois commented on #1278
Now getting.

[code]

So I believe this has been fixed elsewhere.

[2015-08-02 11:03] #1278 closed

[2015-08-02 11:03] #1257 closed

[2015-08-02 11:29] #996 closed

[2015-08-02 14:54] jianboli commented on #1296
I agree that "as" would be much better. I proposed to customize the suffix because it looks much easier to implement. We already have the '.x' and '.y' appended if the column name are duplicated.

[2015-08-02 23:30] daattali opened #1298 "dev version 0.4.2.9002 exponentially slower"
In reference from https://github.com/hadley/dplyr/issues/1297, after updating to the github version my app became many orders of magnitude slower, and reverting to 0.4.2 from CRAN fixed it.  It's a little hard to pinpoint exactly where the slowness is happening without spending too much time debugging, but I was able to find one function already that is much slower:

bind_rows appears to be very s

[2015-08-02 23:30] #1297 closed

[2015-08-03 12:36] hadley commented on #1298
@romainfrancois I hope this isn't because of the encoding stuff :/

[2015-08-03 15:59] romainfrancois commented on #1298
Not according to my quick test of removing the call to `enc2native` in `bind.cpp`. And anyway the encoding stuff here is about the column names, so both versions would suffer from the problem.

It seems even worse on my machine once I've taken out the confusion factor from the `lapply` call:

[code]

[2015-08-03 16:21] #1298 closed

[2015-08-03 16:30] romainfrancois commented on #1298
That's an odd one. We had this line :

[code]

which apparently was causing the perf regression, but we just never used `visitors`. Now getting this:

[code]

which is more to my taste. @daattali I've closed this now. Feel free to open other issues if you find other performance regressions.

The reason why visitors over character vectors are slower is indeed related to encoding, i.e. :

[code]

Th

[2015-08-03 16:37] romainfrancois commented on #1298
There are places however where visitors are only used for subsetting capabilities and not hashing, ordering, e.g. this call in `arrange.cpp`:

[code]

So perhaps it's time to have a look back.

This also cries for a more systematic tool for diagnosing performance regressions.

[2015-08-03 18:27] daattali commented on #1298
Thanks for the fast fix.  I'm still experiencing my app being much slower using today's version over CRAN... I'll try to see if I find another example that's reproducible, but yes I do think i'd be a great idea to have performance regressions tests in place

[2015-08-03 18:48] daattali commented on #1298
OK was able to get another reprex, this time `arrange_`, and similarly it happens when the df is not factored (I didn't understand any of the technical stuff you guys discussed so I'll ignorantly say it's related to nonfactored data):

[code]

Using dplyr from Aug 3, 2015 at 11am PST I get

[code]

Using 0.4.2 there is no difference between the two.

Again, I suspect there are more functions that

[2015-08-03 19:05] romainfrancois commented on #1298
I think i know what the problem might be, i've started to put things in place, needs a bit more work.

Could you move it into another issue please.

[2015-08-03 19:06] daattali commented on #1298
One last example, this time `filter_` (I'm not going to try more functions, going back to my work after this):

[code]

dev version:

[code]

CRAN version: nonfactored is actually faster (maybe not significant though)

[2015-08-03 19:10] daattali opened #1299 "dev version 0.4.2.9002: some functions much slower on factored data"
Followup from #1298

Two examples:

### `arrange_`

Running the following code on dev version:

[code]

Produces these results:

[code]

While using the CRAN version, both datasets run equally fast

### `filter_`

Running the following code on dev version

[code]

Gives these results

[code]

While on CRAN version, nonfactored is actually faster

[2015-08-04 09:07] jan-glx opened #1300 "RSession crash when calling function with arguments within rowwise mutate call within rowwise mutate call"
Hi!
I encountered crashes of my R session in this specific misuse of dplyr. I was unable to break it down any further:

MWE:
[code]

Output:
[code]

Session info:
[code]

all the best and much fun to the one taking it on,
Jan

[2015-08-04 12:12] lgautier commented on #1231
That's a pretty serious issue. Is there an ETA for a bugfix release (for examples dplyr 0.4.3) ?

[2015-08-04 14:25] AMarthaller commented on #1206
Of course my previous suggestion would not help with the ordering of newly created variables. It is also important to maintain an option for sorting within groups as row_number() queries often leverage specific ordering.

[2015-08-04 20:43] einarhjorleifsson commented on #1277
since this issue is still 'open'. wandering (see inline comments/questions) given this postgres datasource:
[code]
einar

[2015-08-04 21:07] shntnu commented on #557
This is probably obvious, but when implementing the suggestion in https://github.com/hadley/dplyr/issues/557#issuecomment-58387227, ```!=``` should also be permitted:

    left_join(
      FundMonths, Returns,
      join_by(FundID != FundID, yearmonth > gmonth + 3, yearmonth <= gmonth + 15)
    )

[2015-08-04 21:38] kykuo opened #1301 "group_by doesn't create one group for NAs"
Reproducible example below, may be related to https://github.com/hadley/dplyr/issues/401 ?

[code]

[2015-08-05 02:09] thevtm opened #1302 "Fatal Error when calling mutate"
I'm getting Fatal Error when executing this piece of code.

[code]

I found a work around by doing:

[code]

I noticed that the error didn't with occur with small data frames(when *n* is less than 1000).

I'm using **R version 3.1.2 (2014-10-31)** and **dplyr version 0.4.2**

[2015-08-05 08:41] Hiro-macchan commented on #1302
I encountered same problem.
I'm using Windows7, R version 3.2.1 and dplyr version 0.4.2.
I avoided this problem by uninstalling dplyr 0.4.2 and installing 0.4.1.
Just for information.

[2015-08-05 08:45] mcomas commented on #1302
I'm using the last dev version and the code works fine, the result I get is

[code]

[2015-08-05 08:48] romainfrancois commented on #1302
Indeed this is fixed in dev.

[2015-08-05 08:48] #1302 closed

[2015-08-05 11:45] Tutuchan opened #1303 "Can't join on dates returned from a MySQL database and R Date type"
Hi,

I'm not sure if this is more of an RMySQL or a dplyr problem but here goes :

RMySQL now supports the DATE type so it returns elements as R `Date`s. Such elements are returned as `integer`s while the `as.Date` function encodes the data as `numeric`s. An `inner_join` then fails between a data.frame obtained from a MySQL database and a dataframe built in R because of incompatible types.

I don'

[2015-08-05 12:05] hadley commented on #1303
I'd say it's mostly a RMySQL bug, because it should be using integers for dates, not numerics. Would you mind filing a bug there?

[2015-08-05 12:05] #1303 closed

[2015-08-05 16:02] romainfrancois commented on #1299
The `arrange` situation seems better after today's commits:

[code]

There is still a difference but it is acceptable. After all this is more work.

[2015-08-05 16:07] romainfrancois commented on #1299
Same for the `filter_` situation:

[code]

So as far as I'm concerned, this is closed. Please @daattali continue the very useful work on finding performance regressions and open other issues if you find anything else.

I still have other avenues to explore.

[2015-08-05 17:24] holstius commented on #631
For what it's worth: here's a `patch` verb that I'm starting to use in my own work:

  https://gist.github.com/holstius/cbc4ec40057fbc2d9f4b

In my workflows, I like to separate "patching" from "recoding" or "labeling". Patching is the real-world consequence of deadlines + busy upstream providers — it's not supposed to be there, but it is.

[2015-08-05 18:23] dgrtwo opened #1304 "n_distinct(x) slower than length(unique(x))"
Contrary to the `n_distinct` documentation, the function seems to be slower than `length(unique(x))` for most numeric and character vectors up to length ~10,000. In particular, it is much slower for long vectors made up mostly of unique elements.

A simple example is:

[code]

for which I find `length(unique(x))` about 4 times faster.

A more detailed simulation and graph exploring the effect of l

[2015-08-05 18:27] romainfrancois commented on #1304
Thanks, but this has been already filed. Perhaps you can add your analysis to the original issue.

[2015-08-05 18:27] #1304 closed

[2015-08-05 18:30] dgrtwo commented on #977
A simulation and graph exploring the effect of vector length and uniqueness on the performance of `n_distinct` and `length(unique(` is below, also shown [here](http://rpubs.com/dgrtwo/length_unique_vs_n_distinct). It looks like the performance difference is greater for long vectors made up of many uniques.

[code]

![image](https://cloud.githubusercontent.com/assets/994718/9093910/dd6bbc10-3b7c-11

[2015-08-05 18:31] vnijs commented on #1238
Likely related ... dplyr segfault on travis. Log linked below.

[code]

https://s3.amazonaws.com/archive.travis-ci.org/jobs/74278534/log.txt

[2015-08-05 19:21] hadley commented on #1304
How about a pointer to that issue??

[2015-08-05 20:26] dgrtwo commented on #1304
@hadley https://github.com/hadley/dplyr/issues/977

[2015-08-05 23:27] kendonB opened #1305 "Feature request: make drop rows procedure memory efficient"
I'm not sure this is possible, but it would be good to be able to drop rows in a memory efficient way. This demonstrates the problem:

    library(dplyr)

    n <- 100000000
    x <- data.frame(val = rnorm(n))
    x$name = sample(c("A", "B", "C"), size = n, replace = TRUE)
    gc()
    # 1574MB used in task manager

    # Drop rows in dplyr
    x <- x %>% filter(name == "A")
    # Memory used jump

[2015-08-06 02:02] hadley commented on #1305
It's unlikely this is a real effect. Accurately collecting memory usage in R is hard, and just looking at os memory statistics is not adequate.

[2015-08-06 02:02] #1305 closed

[2015-08-06 02:28] daattali commented on #1299
Good job fixing these issues so fast :) Will report back if I'm still having performance issues

[2015-08-06 05:17] vnijs commented on #1238
Using `mutate_each` on a data.frame with missing values has been causing me lots of trouble. Silly example ... but the simplest one i've been able to find that consistently crashes R(studio) with dplyr 0.4.2 and Rcpp 0.12.0 on Mac

[code]

[2015-08-06 12:38] alliquot opened #1306 "Cannot build the dev version of dplyr."
Hello,

Today I was trying to build both lazyeval and dplyr. Lazyeval passed the process and compiled without issues however I couldn't build dplyr due to the following error:

[code]

My SessionInfo:
[code]

What am I doing wrong?

BTW: When a submission of the "devel" version of dplyr to the CRAN is supposed to be done? The current one has an issue with user attributes.

[2015-08-06 19:26] daattali commented on #1299
Ok, my app is *still* extremely slow :(

First issue found:  `arrange_` (possibly other functions as well) is now fixed on the previous sample dataset, but if you try to arrange by a character instead of a numeric variable, we're back to a huge performance regression.

[code]

(this time `x` is a character column instead of a numeric column)

[2015-08-06 19:29] daattali commented on #1299
on a related note, is there an easy quick way of testing using two different versions of the package? Right now I'm manually renaming the dplyr folder in my R library and restarting my R session every time I want to switch between the two, which doesn't seem very streamlined

[2015-08-07 00:40] vnijs commented on #1238
FYI the crash does not occur with the development version of dplyr (0.4.2.9002 on mac, R3.2.1 with Rcpp 0.12.0)

[2015-08-07 09:02] #1238 closed

[2015-08-07 09:07] romainfrancois commented on #1306
We have switched to using `installChar(...)` instead of `install( CHAR(...) )`. So i guess we need R >= 3.2.0.

I can either:
 - do some conditional compilation and use `install( CHAR(...) )` if this is an older R
 - require R 3.2.0

Usually I prefer upping the dependencies requirements and be able to leverage updates on the R api, and not have too much conditional compilation, which makes the cod

[2015-08-07 09:13] #1306 closed

[2015-08-07 09:14] romainfrancois commented on #1306
I put this in place:

[code]

Please @alliquot reopen if this does not work for you

[2015-08-07 16:16] kendonB opened #1307 "Feature request: add variable labels to the tbl_df class"
Variable labels are one of the few remaining features that are nicer in Stata. These are used for variable descriptions that are longer than appropriate for a title.

The call would be something like:

    my_tbl_df %>% select(my_var_1, my_var_2) %>% labels()

And the output would be a character vector of the variable labels for ``my_var_1`` and ``my_var_2``.

[2015-08-07 17:34] cosinequanon opened #1308 "print(n = Inf) does not work for some remote sources"
Using `print(n = Inf)` for remote sources results in a query that ends with `LIMIT NULL`.This is not supported in several languages and causes the query to fail.

[code]

Some languages allow for `LIMIT ALL` so that is one option but I think it makes the most sense to remove the limit part altogether when using `print(n = Inf)`

[2015-08-07 17:45] hadley commented on #1307
I don't see this as being key to dplyr, sorry.

[2015-08-07 17:45] #1307 closed

[2015-08-08 09:07] romainfrancois commented on #1299
I started to work on a C++ impl of ranking character vectors. This is not yet used in the codebase, but there's the `rank_strings` front end (might not stay eventually) :

On a vector with a lot of adjacent values equal and a small number of uniques:

[code]

With less adjacent values :

[code]

With more uniques, adjacent values:

[code]

Same data, in random order:

[code]

[2015-08-08 09:40] #1299 closed

[2015-08-08 10:42] romainfrancois commented on #1299
Now getting:

[code]

[2015-08-09 12:39] romainfrancois commented on #1301
I get:

[code]

was this the level version ?

[2015-08-09 12:39] #1301 closed

[2015-08-10 05:55] r2evans opened #1309 "R session crash with %>%"
This may be similar or the same bug as several other issues, but they all appear to be triggered by specific events/functions; this is generic enough that it may apply or be something completely different.

The R session crashes (or sometimes "hangs" busily) with just `mutate` or `transmute`. The "when" of a crash is unpredictable, but I can always crash it with enough replications:

[code]

Somet

[2015-08-10 18:41] daattali commented on #1299
My app now runs as fast as before, I'll stop bugging you, thanks for the fixes :)

[2015-08-10 18:49] romainfrancois commented on #1299
Thanks for those reports.

[2015-08-10 23:25] piccolbo opened #1311 "compute ate ORDER or GROUP BY!"
Trying to follow window function [tutorial](https://cran.r-project.org/web/packages/dplyr/vignettes/window-functions.html) on spark SQL. I am comparing these two queries (FWIW, neither acceptable to sparkSQL). `players` is grouped by `playerid`

[code]

[code]

I don't see how the second query could be correct without an ORDER_BY and I believe replacing x with compute(x) in any expression should p

[2015-08-11 07:44] codref commented on #1309
I experienced the very same issue (on windows), the only workaround was to revert to an older version of the library. Unfortunately the Access Violation exception seems to appear "randomly", I do not have the expertise to provide you further details, except the [ADplus log](https://gist.github.com/codref/97c8bd3bbd9f08f0ac62)

[2015-08-11 14:39] JohnMount opened #1312 "Column names in input and output frames interfere with each other"
I noticed if you are using ddply::summarize() the names of columns in the input and output data frames can interfere with each other.  Below is an example.

[code]

[2015-08-11 22:01] piccolbo opened #1313 "generating a different (nested) query for window functions"
Hi,
I am looking into supporting window function for the dplyr sparkSQL backend. None of the examples in the tutorial work. Focusing on `filter(players, rank(g) == 1`  I noticed that the generated query differs substantially from what you explain is the correct, nested query translation.

[code]
vs

[code]

The latter works and is a minor modification (lowercase) of what you explain is the correct

[2015-08-11 22:22] piccolbo commented on #1313
incomplete src_translate_env. Could be easier, but my fault.

[2015-08-11 22:22] #1313 closed

[2015-08-11 22:30] piccolbo commented on #1311
problem was incomplete translate_src_env

[2015-08-11 22:30] #1311 closed

[2015-08-12 00:46] rgknight opened #1314 "mutate always results in duplicated column error"
With a certain dataset, I am always getting a duplicated column name error. Output is below
[code]

[2015-08-12 00:51] rgknight commented on #1314
My mistake -- user error

[2015-08-12 00:51] #1314 closed

[2015-08-12 05:35] piccolbo commented on #1060
Add HiveQL and SparkSQL to the list of engines who can not handle the extra parentheses.

[2015-08-12 09:31] #1300 closed

[2015-08-12 09:38] romainfrancois commented on #1312
It looks like a `plyr` problem. Please report it here. https://github.com/hadley/plyr/issues

[2015-08-12 09:38] #1312 closed

[2015-08-12 09:42] romainfrancois commented on #1309
I cannot reproduce it locally on OSX. I'd bet it's the same as #1231.

(BTW 0.4.1.9002 does not clearly identify which version you mean, it just means it's a version after a given fix).

Do you still see the problem with the dev version ?

[2015-08-12 09:42] #1309 closed

[2015-08-12 09:53] romainfrancois commented on #1281
I get:

[code]

So I guess it has been fixed otherwise. Anyway, I've added a regression test.

[2015-08-12 09:53] #1281 closed

[2015-08-12 10:33] romainfrancois commented on #1285
That's because:

[code]

probably because of `inner_join.data.table` impl:

[code]

[2015-08-12 10:37] romainfrancois commented on #1262
yes please @drbroo share a reprex

[2015-08-12 10:48] romainfrancois commented on #1261
I seems it has been accidentally fixed.

[code]

 I pushed a regression test anyway.

[2015-08-12 10:48] #1261 closed

[2015-08-12 11:00] romainfrancois commented on #1255
It seems like a problem in `data.table` or a design decision, idk :

[code]

ping @arunsrinivasan @mattdowle

[2015-08-12 11:00] #1255 closed

[2015-08-12 11:03] romainfrancois commented on #1230
yes please @nickbond provide a reprex.

[2015-08-12 11:07] romainfrancois commented on #1208
Same problem as #1285 I guess

[2015-08-12 11:18] romainfrancois commented on #1207
I think the issue here is that the resulting data frame from `summarize` has still one group layer (on `origin`, only `dest` has been peeled off, so `arrange( desc(num) )` works within each level of `origin`.

Perhaps that's what you want:

[code]

There is an ongoing discussion about `arrange` a grouped data frame and whether the groups should be discarded.

[2015-08-12 11:23] romainfrancois commented on #1204
Hmm. The issue is that for some reason the `Date` in `a` is encoded as a `numeric` instead of an `integer` :

[code]

[2015-08-12 11:39] ajdamico commented on #1207
hi romain, thanks, that clearly solves the specific issue.  `group_by( origin , dest )` and `group_by( dest , origin )` maintaining missingness differently seems unintuitive to me - but you all understand the larger implications more than i do.  thank you for dplyr!

[2015-08-12 12:41] bmschmidt opened #1315 "Unicode numbers"
`inner_join` seems to be a little too aggressive with unicode character joins, assuming that (at least) arabic digits and romanized arabic digits are the same even though in-console they register as different.

[code]

In case this is a result of my local settings, the results I get:

[code]

[2015-08-12 12:48] bmschmidt commented on #1315
Apologies for submitting an incomplete version of this a couple minutes ago--I reflexively tried to send the code block to RStudio with command-enter, and instead prematurely submitted the issue in github. I've updated the example.

[2015-08-12 14:18] wtcooper commented on #1285
I see already addressed in #990 and referenced in #1208, thanks.

[2015-08-12 16:27] r2evans commented on #1309
I just did a pull and cannot reproduce the problem, thanks Romain! I had read #1231 and thought it was perhaps different. I also had done a git pull, but apparently I didn't get it recent enough. Thanks.

[2015-08-12 16:54] romainfrancois commented on #1309
Symptoms were different, but the cause wzs the same i guess

[2015-08-12 18:40] arunsrinivasan commented on #1255
@romainfrancois thanks for the ping. Filed #1262.

[2015-08-12 19:04] romainfrancois commented on #1315
Looks like a weird bug in R.

[code]

[2015-08-12 20:03] hhoeflin commented on #244
Hi Hadley,

I am having the same issue and the nesting seems to be a problem for performance (in my case a serious one as I am working on data with 100s million rows). Could you elaborate on why your last try failed?

Thanks

[2015-08-12 20:45] HarlanH commented on #244
FWIW, for some use cases a helpful idiom is:

    dbSendQuery(con$con, build_sql("SET search_path TO ", schema_name))

Then subsequent queries using that connection are within that schema.

[2015-08-12 21:38] hhoeflin commented on #244
Hi Harlan,

thanks - and I am using something like that already (except I am expanding the search path by the schema. But it only helps so far. If you have tables with the same names in 2 schemas, it won't.

Anyway, I was wondering why not overload the '$' sign in the base_scalar SQL translator.

It would even make sense from an r perspective

a$b$c, there a would be an environment (i.e. a schema)

[2015-08-12 21:40] hhoeflin commented on #244
Oh yes, one more comment:

dbSendQuery

often does not work for RJDBC (at least with vertica). The query above, i.e. SET search_path TO ...

does not return a result. dbSendQuery does expect one. For vertica, this does not work and one has to use dbSendUpdate. Is that also the case for MySQL (or at least does dbSendUpdate not fail for MySQL)?

[2015-08-13 02:15] nickbond commented on #1230
Dear François,
I've made a copy of the data frames in question, which can be downloaded at the following link (https://www.dropbox.com/s/yw0lyu5dng6r1vb/bond_example.RData?dl=0).

The code below joins the two dataframes. What I discovered by accident is that including 'zone' in the list of join terms avoids the error (example 1), as does specificying the length of the second data frame (example 2)

[2015-08-13 13:27] hadley commented on #1204
@romainfrancois sometimes dates are numerics and sometimes they're integers :/

[2015-08-13 13:33] #955 closed

[2015-08-13 13:34] hadley commented on #1315
I'll shoot an email to R-devel

[2015-08-13 13:36] romainfrancois commented on #648
This is fixed in the dev version. Getting this now:

[code]

[2015-08-13 13:36] #648 closed

[2015-08-13 13:41] #637 closed

[2015-08-13 13:41] romainfrancois commented on #637
This is fixed now. I've added a regression test fr it.

[2015-08-13 13:42] hadley commented on #244
I like the idea of overloading `$`. I'll definitely think about it when I'm next working on dplyr.

@hhoeflin have you tried RPostgreSQL instead of RJDBC for talking to vertica?

[2015-08-13 14:00] kogreger opened #1316 "dplyr 0.4.2 crashes R (reproducible)"
Hi!

Unfortunately I have encountered what appears to be a bug in the latest version of dplyr (0.4.2. from CRAN). I did not encounter this issue until I updated dplyr earlier this week to reap the benefits of its improved handling of label attributes when dealing with imported SPSS data. Since the update running scripts that worked flawlessly earlier will crash R (3.1.3) as well as RStudio 0.99.44

[2015-08-13 14:23] hadley commented on #1316
Please try the dev version.

[2015-08-13 14:23] #1316 closed

[2015-08-13 14:25] #1230 closed

[2015-08-13 14:25] hadley commented on #1315
So it turns out that this rank behaviour is correct for .en_US.UTF-8. @romainfrancois the problem is strings might rank equally, but be different :/  Not sure how to work around this.

[2015-08-13 14:41] JerryX2014 opened #1317 "ERROR: compilation failed for package ‘dplyr’ linux"
Installing 'dplyr' to my account on the server has the following error messages. Can someone help me? Thanks.

Jerry

* installing *source* package ‘dplyr’ ...
** package ‘dplyr’ successfully unpacked and MD5 sums checked
** libs
g++ -I/ap/revolutionr/Revo-7.3/lib64/Revo-7.3/R-3.1.1/lib64/R/include -DNDEBUG -I../inst/include -DCOMPILING_DPLYR -I/usr/local/include -I"/Unix_server/R/x86_64-unknown-l

[2015-08-13 14:48] hhoeflin commented on #244
No - had no that RPostgreSQL is an option. In any case - the vertica backend is now implemented for RJDBC already.

In any case - I was running into a few performance problems - I think related to the nesting of SELECT statements in SQL and was thinking of rewriting parts of the SQL generator. The idea would be to make joins of all kinds parts of the tbl_sql object (like select clauses, where clau

[2015-08-13 14:52] romainfrancois commented on #1315
At least `unique` does not get fooled by that :

[code]

Short of something better, we could error if `length(unique(.))` is greater than `max(rank(..))`. Not sure otherwise how to deal with this.

The whole point of using `rank` on the unique `SEXP` string pointers is that we get the ranks as R sees them (i.e. respecting the encoding etc ...).

I'll try to leverage the fact that if R does not dif

[2015-08-13 15:46] pschmied opened #1318 "Segfault on group_by()"
Last I tried dplyr, I ran into some strange segfault behavior and didn't get around to making a report. Trying it out again, I have an oddly specific example that may be of use.

First off, my environment: OpenBSD 5.8-SNAPSHOT, R 3.2.1, dplyr latest MASTER from Hadley's github. And the full sessionInfo:

    R version 3.2.1 (2015-06-18)
    Platform: x86_64-unknown-openbsd5.8 (64-bit)
    Running

[2015-08-13 16:01] pschmied commented on #1318
Problem looks to be simpler than I thought. On my second group_by() in the failing function, I include "County" as a variable. But, this variable won't exist. Removing this from the list of variables to group by fixes the problem.

So, the problem is fixed for me. But... this appears to be an uncaught exception that might be better handled through an error or warning message (warning: variable "Co

[2015-08-14 05:54] piccolbo opened #1319 "Odd interaction of mutate and filter on spark SQL backend"
A mutate followed by a filter on a new column doesn't work on sparkSQL Test case

[code]

Either the HAVING or the subquery solution would do, but it's not clear how to trigger them